[2016-02-06 11:04] Martii commented on #935
Yah that's what I've seen it used with... I usually IIFE my Userscripts going way back and never see this... but asking everyone on the planet to do this from our standpoint won't travel very far... especially with library scripts that are pre `export` ;)

I've monkey hacked it into our node_modules folder harmony branch *(a massive 2 lines total for change besides the README.md)* and using the da

[2016-02-06 11:15] Martii commented on #935
So there's the code reference... time to see what chords this twinges. :)

[2016-02-06 14:37] kzc commented on #958
At least one issue with the patch above is that if the parse fails an exception is thrown which would leave `UglifyJS.AST_Node.warn_function` in a bad state. So at the very least a try/finally would have to be used within the minify function to restore the original handler.

@mishoo Do you want to retain the legacy behavior of logging warnings to console.error for `UglifyJS.minify` when the option

[2016-02-06 14:53] kzc commented on #958
Another issue to consider is that in the event of an exception (parse or other) any such warnings collected would be lost. Perhaps `Uglify.minify` should have an additional option like `catch_errors` (defaulting to false) and in the event of an exception it would be caught and returned by `minify` as:

    {
        code: null,
        map: null,
        warnings: [ ... ],
        errors: [ ... ]

[2016-02-06 20:08] Martii commented on #935
Cleaned up the commits a bit more in a [new PR](https://github.com/mishoo/UglifyJS2/pull/962)... same code though with some README.md enhancements... a few hours of RnR help for clarity.

As I forewarned fabiosantoscode I'm a bit noisy, this time due to learning curve and a few tired mistakes... so apologies again and hopefully I have this complex system down a bit better. :)

[2016-02-08 00:49] davidaurelio opened #963 "Replacement of multiple defines throws"
When minifying a file with multiple `define`s that are used in nested `if`/`else`s, uglifyjs throws “Cannot read property 'walk' of undefined.

Minimal test case:

[code]

Command invoked:
`uglifyjs --compress --define A=true --define B=false --define C=true test.js`

Error thrown:
[code]

[2016-02-08 01:33] kzc commented on #963
I tried your command line with the wrong program and got the same result. So it's not the code, it's the command:

    $ uglifyjs --compress --define A=true,B=false,C=true test.js
    !function(){var name;name="ac"}();

[2016-02-08 09:38] rvanvelzen commented on #963
Potential fix in #964

[2016-02-08 09:40] rvanvelzen commented on #958
I don't think it's likely that people are using the normal output when using the `.minify()` method. That being said, it's probably best to leave it as-is until a new major release.

[2016-02-08 09:42] #951 closed

[2016-02-08 10:09] Martii commented on #935
@rvanvelzen
Thank you!!! :)

@fabiosantoscode
Now that https://github.com/mishoo/UglifyJS2/commit/cdba43cfa44c15fe12f87c356dad4caa5a946b5b is merged... to close this issue would you be willing to do some updates in your harmony fork? or should I just go with my `harmony-named` fork on OUJS and do that until you are ready to match a release?

[2016-02-08 10:18] fabiosantoscode commented on #935
@Martii the harmony branch on this repository is not under my control, it's usually the maintainers who dilligently merge master into it once in a while <3

[2016-02-08 10:28] Martii commented on #935
@fabiosantoscode
Okeee... I'll probably just map the commit into our harmony-named branch *(or maybe another branch to keep it as clean for merge conflicts)* then...will ease up the bunches of stderr messages we get and I get to read. ;) :) Thanks.

[2016-02-08 10:34] fabiosantoscode commented on #931
I completely missed this issue, I'll have a look later today.

[2016-02-08 15:59] davidaurelio commented on #963
@kzc awesome, thank you! Feel free to close, as there’s already #964

[2016-02-08 22:47] Martii commented on #521
This also appears with bad Userscripts...Ex. *(Reduced test case without the metadata blocks e.g. this is the whole Userscript)*

[code]

[code]

... not a whole lot we can do with it other than don't minify on this particular use case. May help validate the integrity of the source at a later date though. :)

[2016-02-08 23:35] fabiosantoscode commented on #931
So, on fa5c4f2d036abad60538b58ad22e5f863bcc5667 I added the code that deals with this case, and left a comment before `maybe_assign` that says that ArrowFunctions are also AssignmentExpressions. Then I refactored some things in a68953c491fdabc9476fdc8d4db50be87ccf5741 and probably forgot why that patch was necessary so I removed it.

[2016-02-09 01:00] kzc commented on #958
You mean a 3.x.x release? Could be a long time from now.

The patch I have above is backwards compatible with the old behavior. Just needs a try/finally around it to revert the old `UglifyJS.AST_Node.warn_function` in the event of an exception. If Uglify API users feel strongly about it they can submit a PR.

[2016-02-10 00:15] avdg commented on #931
Wow, ty for the fix...

[2016-02-10 09:21] rvanvelzen commented on #931
This is fixed by #967

[2016-02-10 09:21] #931 closed

[2016-02-11 17:43] rwaldron opened #968 "[ES6] UglifyJS.AST_Node.from_mozilla_ast(acorn ast) compatibility issues"
[code]

This will result in a thrown exception:

[code]

So I added in some logging to see which `node.type` failed:

[code]

From there I went to see if the [Parser API](https://developer.mozilla.org/en-US/docs/Mozilla/Projects/SpiderMonkey/Parser_API) was up to date, which it is, but the naming is different:

[code]

[2016-02-11 20:26] kzc commented on #968
Either way, that's an ES6 construct. The release version of uglify-js only supports ES5. You could always run your code through babel and import it into the release version of uglify.

The uglify harmony branch may be what you're looking for, but I'm not sure about the completeness of its mozilla AST (a.k.a. ESTree) import:

https://github.com/mishoo/UglifyJS2/tree/harmony

[2016-02-12 08:08] leadingcode opened #969 "Error\n at new JS_Parse_Error"
Hi
I can't compile my project after update node.js
In my gruntfile.js
`uglify: {
            options: {
                mangle: false
            }
        },`
and after cmd# grunt build I look that error:

`Running "uglify:generated" (uglify) task
JS_Parse_Error {
  message: 'Unexpected token: eof (undefined)',
  filename: '../../.tmp/concat/scripts/scripts.js',
  line: 3076,
  col: 2,
  pos: 943

[2016-02-12 10:04] ymkjp commented on #379
Any news about this issue?
`uglifyjs` is the longest command in my [`package.json`](https://github.com/ymkjp/random-script/blob/v0.4.0/package.json#L37)

[2016-02-12 13:33] kzc commented on #969
Go to line 3076, column 2 of the file below and examine the javascript for a syntax error.

    message: 'Unexpected token: eof (undefined)',
    filename: '../../.tmp/concat/scripts/scripts.js',
    line: 3076,
    col: 2,
    pos: 94380,

If no luck run the same file through [acorn](https://github.com/ternjs/acorn) and it may offer a better error message.

[2016-02-12 21:11] obuckley-kenzan commented on #495
I am having an issue with this as well.  For example, in my Angular app, templates, are surround by single quotes, eg.

`templateUrl: '/path/to/some/template.html'`

I have a post build step where i want to prefix these paths for uploading to a CDN.  Because of the single quotes being turned into double quotes, now my minified source looks like

`templateUrl:'//xxxx.cloudfront.net/"path/to/some/te

[2016-02-12 21:15] JamesJosephFinn commented on #812
There is a popular [html minifier](https://github.com/kangax/html-minifier) that uses uglifyJS to minify anything inside a `<script>`, that is, anything but json. For example, it is becoming common practice to include JSON/LD inside the `<head>` as micro data for search engines to consume.
#kangax/html-minifier/issues/492

[2016-02-12 21:56] kzc commented on #495
Read the documentation.

https://github.com/mishoo/UglifyJS2

* quote_style (default 0) -- preferred quote style for strings (affects quoted property names and directives as well):
  * 0 -- prefers double quotes, switches to single quotes when there are more double quotes in the string itself.
  * 1 -- always use single quotes
  * 2 -- always use double quotes
  * 3 -- always use the original quot

[2016-02-12 22:09] obuckley-kenzan commented on #495
Thanks!  Although my bad, I just realized this is not for the gulp plugin.  Apologies on that mixup.

[2016-02-13 06:39] shamasis commented on #495
@kzc - thanks.

[2016-02-13 14:18] kzc commented on #495
@obuckley-kenzan gulp uglify apparently uses `uglify.minify()` which uses the output option:

    { output: { quote_style: 3 } }

[2016-02-13 17:01] mhenry1384 commented on #179
This was my solution, removing use strict.

function minifyjs(js) {
    var ast = jsp.parse(js);
    ast = pro.ast_mangle(ast);
    ast = pro.ast_squeeze(ast);
    var minJs = pro.gen_code(ast);
    minJs = minJs.replace(new RegExp('"use strict";', 'g'), '');
    return minJs;
}

[2016-02-13 18:03] avdg commented on #179
Hmm... so the problem was caused because safari wanted to pass the whole es 5 spec stuff literally... The restriction of functions to be limited in global functions and thus disabling that restriction is the es 6 way of doing this... There are tests in the test262 es5 suite to test that so that's how I know about this issue. I can lookup for details if really needed (so please ask) but otherwise y

[2016-02-14 06:37] tresdin opened #970 "[ES6] Parsing block scope"
There might be some problems with the block scope parser. Here is the example.

**Sample**

[code]

**Result**

[code]

As you can see from the sample code, variables `x` and `y` become global after being minified. Curly braces that define block scope are incorrectly removed.

**Expected**

[code]

[2016-02-14 08:48] kevinwon1985 opened #971 "[bug]compress bug"
compress
` "body {\n  font-family: \"\\5FAE\\8F6F\\96C5\\9ED1\", \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n}\n" `
to
`"body{font-family:\\\\5FAE\\8F6F\\96C5\\9ED1,Helvetica Neue,Helvetica,Arial,sans-serif}"`
and in chrome, body's font-family parsed as
`font-family: \\5FAE\8F6F\96C5\9ED1,Helvetica Neue,Helvetica,Arial,sans-serif;`.
and expected code is
`font-family: \5FAE\8F6F\96C5\9ED1,He

[2016-02-14 08:50] kevinwon1985 commented on #971
this bug caused font-family in my web page ineffective

[2016-02-14 09:32] rvanvelzen commented on #971
I don't fully understand what you're trying to achieve here. Are you compressing CSS using UglifyJS?

[2016-02-14 09:33] rvanvelzen commented on #970
Broadly, we don't assign separate block scope yet. This should be fixed before first release.

[2016-02-14 10:01] kevinwon1985 commented on #971
@rvanvelzen I use webpack, so my css code is string in js, and finally will insert into a style element by js.

[2016-02-14 10:06] kevinwon1985 commented on #971
absolutely, It's possibility that css code exist in js

[2016-02-14 10:24] rvanvelzen commented on #971
UglifyJS is not webpack. UglifyJS *does not* alter string contents.

[code]

[2016-02-14 13:56] avdg commented on #971
Also, are you using the latest updates, otherwise you have to report to the first chain that causes the problem (in this case webpack) unless you really sure the problem is caused deeped in the dependency chain (like uglifyjs).

[2016-02-14 21:10] focusaurus opened #972 "crash with uncaught exception when --no-mangle is passed"
**uglifyjs version**: 2.6.1

I guess in earlier versions there was a `--no-mangle` command line option, which is no longer supported. However, it causes uglifyjs to crash with an uncaught exception:

[code]

The [try/catch here](https://github.com/mishoo/UglifyJS2/blob/63b01fe8f9ed9f340884ce3dc1555c2024d81e23/bin/uglifyjs#L513) is masking the underlying error which is `TypeError: S.input is not a

[2016-02-14 22:42] kzc commented on #972
This may have been fixed on master. The error is very similar to https://github.com/mishoo/UglifyJS2/issues/963

[2016-02-15 02:39] kevinwon1985 commented on #971
I wrote a demo, and the problem looks like caused by webpack.

[2016-02-15 06:22] #971 closed

[2016-02-15 07:30] alexlamsl opened #973 "boolean optimisation causes leak of function scope"
[code]

[2016-02-15 13:19] avdg commented on #973
Are you using the latest uglifyjs2 version?

[2016-02-15 14:06] alexlamsl commented on #973
@avdg I'm using the latest version on NPM (2.6.1)

[2016-02-15 15:52] louisremi opened #974 "CLI should have a --compress=false option"
The `uglify-js` package offers the possibility to disable compression entirely.

The CLI should offer this option a well : )

[2016-02-15 16:27] michaelficarra commented on #973
Wow, nice catch. Should we minify to `(0,a.b)();`?

[2016-02-15 17:47] alexlamsl commented on #973
Looks legit, at least it shorter than
[code]

Come to think of it, above code might get minified by `collapse_vars` into a similarly incorrect result

[2016-02-16 03:46] kzc commented on #973
Just when I thought I understood ES5...

I'm trying to grok the rationale of the behavior of `(true && a.b)();` and why it differs from `(a.b)();`. Could anyone familiar with the ECMAScript 5.1 standard point me to the applicable section?

@alexlamsl Thanks for reporting this. Just curious if this was found in a synthetic test case or actual javascript used in the wild?

[2016-02-16 03:54] kzc commented on #973
FWIW, this issue has probably been in uglify since its inception...

    $ echo "(1 ? a.b : a.c)();" | bin/uglifyjs -c
    WARN: Condition always true [-:1,0]
    a.b();

[2016-02-16 05:03] alexlamsl commented on #973
@kzc so I'm reviewing the patches on AngularJS 1.5.0 when I encountered [this](https://github.com/angular/angular.js/commit/1c6edd416b4baad0c8b01148f429eb78e0ad7eaa).

I thought I'd be clever and save myself some extra variables, but then thought about what `uglify-js` would do and decided to find out, and then :bomb::boom:

But even going along with the original patch, I think `collapse_vars` mig

[2016-02-16 05:07] alexlamsl commented on #973
A quick test under IE shows `(a.b)()` is identical to `a.b()`, so the parenthesis alone aren't sufficient to destroy the scoping information.

Obviously in both `booleans` and `collapse_vars` I can do `a.b.call()` to achieve the desirable effects, but it has real world performance consequences...

[2016-02-16 05:29] kzc commented on #973
I tried the patched code you cited with collapse_vars and no vars were collapsed in this particular case. Of course one could make such a case.

[2016-02-16 05:36] alexlamsl commented on #973
@kzc thanks for the information - now I can sleep well when upgrading to the latest `uglify-js` when it comes out :+1:

The only case where this fails AFAICT is when the parent node is `AST_Call`, so I guess we can detect that and emit `(0, a.b)` instead of `a.b`?

Also, just tested inside Chrome and it gives the same results as IE w.r.t. `(a.b)()` vs. `a.b()`

[2016-02-16 05:53] kzc commented on #973
I can fix this specific `(true-ish && a.b)()` case but I am looking for clarification on how this construct works as it does in the ES 5.1 spec. At least 3 distinct uglify optimizations are affected and I'd like to determine if there are any other issues.

Regarding the `(0, a.b)` optimization, I'd probably leave the expression in the original form. It's such a rare thing it may not be worth optim

[2016-02-16 05:57] alexlamsl commented on #973
I suppose one can write `(a || b ? c.d : e)()` and then it got somehow optimised due to `a || b` being simplified to `true` in the process, in that case may be it's still worth the compression. But that's your call either way :wink:

[2016-02-16 06:50] kzc commented on #973
fyi... just noticed a related issue (https://github.com/mishoo/UglifyJS2/issues/782) was addressed in another optimization fix (https://github.com/mishoo/UglifyJS2/commit/e3bd223dac41ed8fcbbc3a139d78c68bcd50f628)

https://github.com/mishoo/UglifyJS2/blob/63b01fe8f9ed9f340884ce3dc1555c2024d81e23/lib/compress.js#L2111-L2113

[code]

[2016-02-16 07:12] alexlamsl commented on #973
So if I understand this correctly, with the current `npm` version `(0,a.b)()` would be left untouched?

If so, I guess we can optimise all of those other cases into this sequence form and run it through this code path? :ghost:

[2016-02-16 07:37] kzc commented on #973
This patch avoids the problem in this issue, but doesn't address the problem with the ternary optimization or collapse_vars. Also needs tests. Will look at it later.

[code]

[2016-02-16 14:16] obuckley-kenzan commented on #495
great, thanks @kzc .  Will give that a try!

[2016-02-16 14:25] obuckley-kenzan commented on #495
that worked, thanks so much!

[2016-02-16 14:26] kzc commented on #973
@alexlamsl Your patch #975 is a more comprehensive fix. If other optimizations are found to trigger this problem in the future they'd be easier to squash.

I still cannot find in the ECMAscript 5.1 spec where this `(1 && a.b)()` scoping behavior is explained - particularly why `(a.b)()` is not subject to the same behavior. Identifying the relevant spec section(s) might bring to light still more re

[2016-02-16 15:11] alexlamsl commented on #973
@kzc are you referring to [this document](http://www.ecma-international.org/ecma-262/5.1/)?

I'll have a read while taking a core dump... :toilet:

[2016-02-16 15:13] kzc commented on #973
@alexlamsl Yeah, that's the one.

[2016-02-16 15:18] alexlamsl commented on #973
@kzc as I mentioned [here](https://github.com/mishoo/UglifyJS2/pull/975#discussion_r53023615), I think section 11.1.6 might be the key:
[code]

[2016-02-16 15:21] michaelficarra commented on #973
@kzc You're looking for [this section on References](http://www.ecma-international.org/ecma-262/5.1/#sec-8.7). After reading and understanding that, then this line from the semantics in [11.2.1](http://www.ecma-international.org/ecma-262/5.1/#sec-11.2.1) will make sense:

[2016-02-16 16:52] kzc commented on #973
@michaelficarra I see. Thanks.

I think it's Step 7 in [11.2.3](http://www.ecma-international.org/ecma-262/5.1/#sec-11.2.3) that dictates the behavior of `thisValue` in the Function Call

    (1 && a.b)();

where `(1 && a.b)` is not a Reference.

    7. Else, Type(ref) is not Reference.
        Let thisValue be undefined.

as per this example:

    "use strict";
    var a = { b: function(){console

[2016-02-16 17:00] michaelficarra commented on #973
@kzc I don't think you saw my edit earlier :wink:. Yes, all of that is correct.

[2016-02-16 17:08] kzc commented on #973
@michaelficarra I get a headache when reading language specs. I learn something new about JS every day.

[2016-02-16 18:03] #973 closed

[2016-02-16 18:07] rvanvelzen commented on #972
This is slightly different. The root cause here is that yargs will turn "--no-mangle" into "mangle" being `false`.

We can easily fix this by letting `getOptions()` cast the flag's value to a string.

[2016-02-17 02:44] abelnation commented on #515
separate your beautify options with a comma, e.g.

`uglifyjs myfile.js --beautify='beautify=false,quote_style=2'

[2016-02-17 14:54] darkyen opened #977 "Hangs at parse"
I am using the following code to minify my code, (which is huge).
[code]

The above function hangs at

[code]

For infinite time, (waited about an hour on a fairly overpowered machine). Is there a way I can debug this ? It does work on smaller files though! Also using the cli works instantly.

[2016-02-17 14:57] mishoo commented on #977
Wow, did you wait that long? :wink:

It is possible that the parser enters some kind of loop, but without seeing your code we won't be able to investigate that.  If you can't publish the code somewhere, my suggestion is to split it into smaller parts and try to identify which one causes the loop.

[2016-02-17 15:00] mishoo commented on #977
Also, 138585 characters really isn't "huge".. parsing should take a few milliseconds, so you probably found a real bug there.  I'd love to look into it if you can send me the code.

[2016-02-17 15:16] darkyen commented on #977
@mishoo Its compiled output from a browserified module. (For some reasons I cannot use the traditional transform way). The code in question is here https://gist.github.com/darkyen/c29f07771d763602f5c6

I am trying to a compressor for http://webtask.io, I essentially open a git repo, download npm modules build a bundled version to be able to sent to webtask (they have an intresting environment with

[2016-02-17 15:21] mishoo commented on #977
Well, the code you sent works fine here with the latest UglifyJS2 code, and the following stats:
[code]
so if there was a bug, it's already fixed.  What version do you use?

[2016-02-17 15:21] #977 closed

[2016-02-17 15:26] darkyen commented on #977
Latest :-/ Err

[2016-02-17 17:54] darkyen commented on #977
@kzc @mishoo I found the issue, it was parsing a buffer to the lib, the lib just stayed silent forever. (I thought the inputs might be sanitized). My bad!

[2016-02-17 18:54] kzc opened #978 "Time for a new release?"
2.6.1 release was 3 months ago.

[2016-02-17 19:03] rvanvelzen commented on #978
@mishoo?

[2016-02-17 19:05] rvanvelzen commented on #963
Fixed in the aforementioned commit. Thanks for reporting :)

[2016-02-17 19:05] #963 closed

[2016-02-17 19:07] #974 closed

[2016-02-17 19:07] rvanvelzen commented on #974
It generally is as easy as not specifying `--compress`. bdd8e34 allows you to specify `--no-compress` to get this functionality.

[2016-02-17 19:08] rvanvelzen commented on #972
bdd8e34 resolves this. Thanks :)

[2016-02-17 19:08] #972 closed

[2016-02-17 20:03] mishoo commented on #978
Yeah, agree.  I'll push it tomorrow.

[2016-02-18 09:28] louisremi commented on #974
Excellent, thanks!

[2016-02-18 10:36] avdg commented on #978
It should be 2.7.0 by then no?

[2016-02-18 14:37] davidaurelio commented on #963
awesome, thanks!

[2016-02-19 02:54] Grawl commented on #778
Also want it. Any CLI can do it but not this. Maybe there is another JS minifier that does? Mayber Google Clojure Compiler or YUI Compressor? Can't find out a good CLI to use with NPM scripts on watch.

[2016-02-19 08:30] fabiosantoscode commented on #778
Babel uses ./path/to/in.js:out.min.js for something like this.

[2016-02-19 10:56] Grawl commented on #778
With CLI?

[2016-02-19 13:17] fabiosantoscode commented on #778
Actually I can't verify this any more. My stupid memory must be playing tricks on me again.

[2016-02-20 21:53] kzc commented on #968
Not surprising.

You're always welcome to contribute a pull request to get the uglify harmony branch into shape. We're all volunteering our time here.

[2016-02-20 22:23] ThomasR opened #979 "Boolean conditions not fully optimized"
Consider this simple code
[code]
It gets compressed to
[code]
This is not optimal. `1!=a&&2!=b||foo();` is shorter.

---
Strange enough, I found that when compressing the equivalent code
[code]
the result is indeed
[code]
as requested.

[2016-02-20 22:34] darkyen opened #980 "[question] Any to make this non-blocking ?"
I am using uglifyjs in node, in a sandboxed environment which caps my cpu and kills the process if the block is too long.

I was wondering If i could use some clever hack to reduce the cpu intensiveness (it complains the most when Compressor) is called ?

[2016-02-20 22:45] kzc commented on #980
It's blocking by design. Just don't compress. Most of the size savings comes from mangling and eliminating whitespace.

[2016-02-20 22:55] darkyen commented on #980
@kzc  Ah thanks! Although I did want to drop console_logs.

[2016-02-20 22:56] #980 closed

[2016-02-20 23:02] kzc commented on #980
You could use compress with optimizations disabled except for console_logs. Shouldn't use much CPU.

[2016-02-20 23:05] darkyen commented on #980
@kzc thats what i ended up going with, thanks.

[2016-02-21 04:35] mikesherov commented on #968
I assume this is because Acorn and Esprima now use the ESTree AST format which was agreed upon a while ago. When the es6 bits were standardized, slight variations from the then-unstable proposed SpiderMonkey notation for arrow functions were added. Fix seems simple enough.

[2016-02-21 04:45] rwaldron commented on #968
Thanks, but we're too busy keeping JSHint up to date to do the work for every other project.

[2016-02-21 07:52] kzc commented on #979
I have a fix for this. Will create a PR tomorrow.

    if (a == 1 || b == 2) foo();

Uglify is aware of the negative condition optimization. This issue is occurring because the length of the original condition `1==a||2==b` and the negated condition `1!=a&&2!=b` are the same so uglify bases its optimization on the original. But the code doesn't take into account that the precedence of `||` is less

[2016-02-21 10:19] mikesherov commented on #968
https://github.com/estree/estree/issues/2 For reference. Furthermore, can't really use Babel 6 as a pre processor considering it deviates from ESTree in other ways.

I'll look into submitting a patch to fix this.

[2016-02-21 17:28] kzc commented on #979
Fix in PR #981

[2016-02-21 18:10] ThomasR commented on #979
Awesome, thank you!

[2016-02-21 18:48] kzc commented on #968
No worries.

Could you please prefix this Issue's title with [ES6] for future reference?

For what it's worth, the UglifyJS2 harmony branch (largely coded by @fabiosantoscode) does a comparable job to minimizing ES6 compared to your manual effort:

[code]

Above script produces the output:

[code]

Are there any other javascript-based ES6-to-ES6 minifiers that do a decent job? It's not clear to me

[2016-02-21 21:19] fabiosantoscode commented on #968
Hello! I skipped the moz-ast to uglifyjs-ast translation in es6 features, except for some little things!

It's probably normal that its support is not super complete yet. A quick check reveals that the word "arrow" is not even in the lib/mozilla-ast file.

[2016-02-22 17:01] #979 closed

[2016-02-22 18:31] mishoo commented on #978
I think there were no breaking changes so far, right?  I'd keep 2.7.0 for the `screw_ie8` stuff, and release 2.6.2 for now, makes sense?

[2016-02-22 18:39] kzc commented on #978
No breaking changes as far as I know. Parsing is stricter with regard to non-escaped newlines in string literals.

[2016-02-22 19:41] mishoo commented on #978
2.6.2 is out.

[2016-02-22 19:41] #978 closed

[2016-02-24 06:36] skotturi opened #984 "Question: how to use --reserved-names with UglifyJS.minify()"
I'm trying to implement the suggested answer to the issue I'm having:
http://stackoverflow.com/questions/12807263/prevent-uglifyjs-from-renaming-certain-functions

However, I'm running UglifyJS.minify() and according to the npm page the following options are available:
[code]

I've tried:
[code]
but this doesn't prevent `MyClass` from being mangled.

I should note that my goal would be to mangle m

[2016-02-24 18:55] kzc commented on #978
https://www.npmjs.com/package/uglify-js still shows 2.6.1 as latest. Doesn't appear to affect npm operation though.

[2016-02-24 21:24] kzc commented on #984
Look in bin/uglifyjs to see how the flag is implemented and then look for equivalent functionality in tools/node.js (where minify is implemented). Not all options are implemented in minify.

[2016-02-25 04:28] yinhaibo01 opened #985 "can you add a "sort" option to --mangle-props"
The sort option for mangle is much useful.
But it not exist in --mangle-props, now we have a big amount of properties to be mangled.
Can you add a "sort" option to --mangle-props ?

[2016-02-25 08:10] pablocubico opened #986 "Mangler can create a "var let=..." statement inside a strict block."
As catched by:

https://twitter.com/colinmegill/status/702191711494144000

As it goes trough some name options (`cet`, `det`, `met`, ...), it might end up creating a `let=...` statement inside a `strict mode` block.

For example, `var let=2` is allowed outside a strict block, but it's a reserved word inside.

AFAIK, `let` statements parsing is already taken care of in the harmony branch, but this

[2016-02-25 08:26] pablocubico commented on #986
There are other reserved strict words, namely: `implements, interface, let, package, private, protected, public, static, yield`.

All but `let` are present in `parse.js` in:

     var RESERVED_WORDS = 'abstract boolean byte char class double enum export extends final
     float goto implements import int interface long native package private protected public short static
     super synchronized th

[2016-02-25 08:38] pablocubico commented on #986
Last but not least: I closed the PR, but just adding `let` to the keyword list fixed ir for me.

https://github.com/mishoo/UglifyJS2/pull/983

[2016-02-25 10:26] rvanvelzen commented on #986
The keywords lists should reflect precisely what the spec dictates (ES5 for current master, ES6 for the harmony branch).

The is_identifier function should accept an additional parameter (e.g. `strict_mode`). `next_mangled` can use `this.directives` to check if it's mangling for strict mode.

[2016-02-25 11:02] pablocubico commented on #986
Sounds good, I guess the strict only keywords should be taken apart from the general keyword list and checked with `is_identifier(m, true)`.

[2016-02-25 12:08] pablocubico commented on #986
Hey @rvanvelzen thanks for your input!

How does this sounds to you?
https://github.com/pablocubico/UglifyJS2/commit/4621481f0061e1e15e2f511a0296a0cef7cb35f7

Ping @michaelficarra  (if you're interested, if not, sorry for the ping)

[2016-02-25 14:10] michaelficarra commented on #986
@pablocubico That looks great. Please open a PR.

[2016-02-25 20:09] Gaurav0 opened #988 "constructor.name checks fail after minification"
Test code:

[code]

Results before minification:
[code]

Results after minification:
[code]

This affected me when minifying Babel: See https://github.com/ember-cli/ember-twiddle/issues/326

[2016-02-25 20:40] mishoo commented on #988
You can pass `--keep-fnames` to prevent function names from being mangled.

[2016-02-25 20:40] #988 closed

[2016-02-25 20:48] Gaurav0 commented on #988
@mishoo Can that be used via minify API?

[2016-02-27 12:51] fabiosantoscode commented on #970
I'm going to see what I can do.

[2016-02-27 17:20] IngwiePhoenix opened #990 "Compression completely destroys a function."
Before:
[code]

After (beautified by hand):
[code]

The returned value is not a function. For instance:

[code]

Where `replace` is the function above. When uglified, this throws an error that `t(...)(...)` is not a function (mind you, the name is not important.)

So what exactly is the reason this is breaking like it does?

[2016-02-27 17:29] IngwiePhoenix commented on #990
I did some further tracing.

[code]

Logs:
[code]

[2016-02-27 17:58] IngwiePhoenix commented on #990
Looking close, I think I just spotted it:

    function n(i,n)
    ...
    return n

The function _and_ the parameter have the same name. This is causing problems... Might wanna look into this?

[2016-02-27 18:20] kzc commented on #990
What's the issue?

    $ echo 'function x(x) {return x} console.log(x(3));' | node
    3

[2016-02-27 18:25] kzc commented on #990
Nevermind. I see what you mean now.

[2016-02-27 18:47] IngwiePhoenix commented on #990
@kzc Yeah I want the function returned, not the value. :) So your example would have had it'sparemeter changed to something _but_ `x` to get the behaviour I am looking for, and that is essentially removed as showcased above.

To clarify
[code]

[2016-02-27 19:09] kzc commented on #990
Your example appears to be from a larger program. There's no issue if it's run through `uglifyjs -c -m`. It would be useful to have an isolated test case.

What's the version of uglify-js and all options you're using?

Compression isn't the issue, it's mangling. The issue might be more aptly titled: mangler incorrectly chooses argument name with same name of function.

[2016-02-27 19:18] IngwiePhoenix commented on #990
Ok, so here's a smackdown of all the itty-bitty details! :)

- UglifyJS through WebPack.
- Module in use: https://github.com/IngwiePhoenix/js-md-highlight/blob/master/lib/util/replaceRegExp.js
- Options (full object below): Mangling, compressing, comment removal.
- Version appears to be: 2.6.1

Full uglifyjs options: https://github.com/DragonsInn/BIRD3/blob/master/app/System/Config/uglifyjs.js

[2016-02-27 19:20] kzc commented on #990
mangle: {
        toplevel: true,
        sort: true,
        eval: true,
        properties: true
    },

There's a known bug in mangle sort. Can you try it again with `sort: false` ?

[2016-02-27 19:25] kzc commented on #990
Indeed - #877 shows the same function as you have.

[2016-02-27 19:54] IngwiePhoenix commented on #990
Sure. Gonna try, and edit the answer when i did.

[2016-02-27 19:58] IngwiePhoenix commented on #877
Same for #990 - in fact, same function... x)

[2016-02-28 13:20] rvanvelzen commented on #990
It's not really magic - that flag should have disappeared long ago since it doesn't provide any benefit.

We removed it now, so this is fixed. Thanks for reporting!

[2016-02-28 13:20] #990 closed

[2016-02-28 14:58] kzc commented on #877
@rvanvelzen I think this original Issue can be closed by #991 as well.

[2016-02-28 15:09] rvanvelzen commented on #877
@kzc absolutely right, thanks

[2016-02-28 15:09] #877 closed

[2016-02-28 18:22] gauntface opened #992 "Comments being stripped when they shouldn't?"
I was hoping to use some small javascript files on my back end to replace comments with valid input.

So for something like this:

const foo = [
/**@ Template String @**/
];

I was hoping to do the following in gulp:

[code]

This doesn't work and when I tried using the function form of preserveComments, the comment in the javascript array would not call the preserve comment, only comments inline

[2016-02-28 19:39] kzc commented on #992
Uglify only understands and transforms ECMAScript 5.1 syntax. The main project page describes how to preserve comments.

Your JS templating question is out of scope for uglify and probably best redirected to the gulp project.

[2016-02-29 10:41] ntn5jdbg opened #993 "Huge amount of comments causes RangeError: Maximum call stack size exceeded"
A 10 000 line comment at http://lisperator.net/uglifyjs/#demo causes RangeError: Maximum call stack size exceeded -error.

Attached is the input that should reproduce this error. The file has simply `// Your code goes here` -line 10 000 times.
[huge-amount-of-comments-rangeerror-example-input.js.txt](https://github.com/mishoo/UglifyJS2/files/150704/huge-amount-of-comments-rangeerror-example-input.

[2016-02-29 11:21] rvanvelzen commented on #993
For my sanity: did you encounter this in a real-world scenario?

This is caused by recursive calls from `next_token` → `handle_slash` → `skip_line_comment` → `next_token`.

[2016-02-29 12:28] ntn5jdbg commented on #993
It happened in a real world case where large chunk of json data was commented out.

[2016-02-29 12:31] rvanvelzen commented on #993
If you're running it manually, you can work around by doing something like `node --stack-size=100000 bin/uglify your-file-here.js`.

Fixing this completely requires rewriting chunks of the parser, which may take some time.

[2016-02-29 21:08] fabiosantoscode commented on #970
OK, so I had the crazy idea of doing a piggy-back on the existing scope for the catch block's exception name symbol. It's already a block scope, and the entire code base is ready for it already :)

I'm working on it on my [first-class-block-scope branch](https://github.com/fabiosantoscode/UglifyJS2/tree/first-class-block-scope).

[2016-03-02 21:42] KenSharp commented on #812
This was closed for some reason.

[2016-03-03 07:55] mweststrate opened #994 "minify prototype assignments"
After minification a significant amount of my code is just prototype assignments (as a result of using classes in for example typescript). I was wondering, shouldn't those be minified automatically? Especially since there is usually no runtime overhead involved since those statements are run only once. For example:

[code]

could become
[code]

where `p` is introduced in the wrapping function as `

[2016-03-03 11:56] uwevoigt commented on #690
It is interesting that some DOM properties aren't mangled by default, without specifying --reserve-domprops, e.g. offsetTop or addEventListener. Others like cookie are mangled.
The same is true for some JQuery functions, e.g. hide is kept,show is mangled.
Can someone explain why this is happening?

[2016-03-03 14:01] rvanvelzen commented on #690
Can you explain how to reproduce those cases?

[code]

[2016-03-03 14:46] kzc commented on #994
Sure, give it a shot. The code base is very straight forward - manipulating ASTs.

[2016-03-03 14:53] michaelficarra commented on #994
The reason we don't do these kinds of things is that we optimise for post-gzip size, and `.prototype.` is very gzip-friendly.

[2016-03-03 17:14] michaelficarra commented on #812
@KenSharp It was closed because the solution was to not use UglifyJS.

[2016-03-03 17:39] uvoigt commented on #690
With this sample

[code]

the result is:

[code]

[2016-03-03 18:43] pmkhoa commented on #671
Finally I found this.
I took me several hours to find a way to reserve keywords from being mangled by specifying inside `except`, instead of `reserved`. To make it consistent with the command line that use `--reserved`, I suggest to use `reserve`.

[2016-03-03 18:45] pmkhoa commented on #984
You should use `mangle`, instead of `"mangle"`, since `mangle` is a key name.

    mangle: {
      except: ["MyClass"]
    }

[2016-03-03 23:56] SebastienDaniel opened #996 "conditional compilation not working with API"
This all started with a rather complex build task, where conditional compilation failed:
http://stackoverflow.com/questions/35703092/browserify-minifyify-conditional-compilation

I went to **minifyify** repo and [asked for help](https://github.com/ben-ng/minifyify/issues/119#issuecomment-191999252), which eventually led me here because the problem seems to be in uglifyjs.

### The problem
Conditio

[2016-03-04 01:25] ffabreti commented on #690
My way of having `--mangle-only-these-names` is using `--mangle-regex` :

Example (bash script):
[code]

[2016-03-04 04:25] kzc commented on #996
[code]

[2016-03-04 11:32] uvoigt commented on #690
While debugging the case I saw that property expressions are only mangled when part of an assignment (my interpretation of the code):

[code]

That's why only document.cookie and this.show are mangled, all other props' parents are either call or binary.

"show" is a name clash which would be hard to detect and should be avoided, that was my fault.

Commenting out the check for the assignment resul

[2016-03-04 12:02] SebastienDaniel commented on #996
Thank you so much @kzc

I have to admit that is some obscure detail that isn't mentioned anywhere. I'll make some documentation propositions.

thank you very much!

[2016-03-04 12:02] #996 closed

[2016-03-04 13:37] kzc commented on #996
Thanks for the doc patch. All the compress flags are outlined here:

https://github.com/mishoo/UglifyJS2/blob/11b0efdf84dcdae71ac66453f8bf644052a32cc8/lib/compress.js#L50-L80

[2016-03-05 03:26] arv opened #998 "Optimize away comma operator in calls"
A common output of Babel and other tools is the pattern `(0, ns.func)()` to ensure that the function is called with `undefined` as `this`. It would be good if the comma operator could be removed when we know the function does not reference `this`.

[2016-03-05 11:45] pitops opened #999 "mangling breaks Angular 2"
Creator of Gulp Uglify told us to make an issue here about mangle which if set to true breaks Angular 2 for some reason. The error i get personally is "maximum calls stack size exceeded...".

here is the github issue link

https://github.com/terinjokes/gulp-uglify/issues/168#issuecomment-192541344

[2016-03-05 13:07] avdg commented on #998
Hmm.. so it works like

    (0, Math.ceil)(5.1) // Outputs 6

Yeah, I'm becoming kinda "I don't know javascript good enough".

[2016-03-05 14:02] rvanvelzen commented on #999
Could you please describe your specific problem here?

[2016-03-05 15:09] MegaJsTeam commented on #814
epic team)

[2016-03-05 15:25] kzc commented on #998
Unlike Closure, Uglify doesn't do variable flow analysis. So barring a few pure calls (as in Math), determining which methods are candidates for this optimization would be impossible with the current code base.

[2016-03-05 16:24] kzc commented on #999
It's not reasonable for Uglify devs to sort through a half dozen foreign build tools and libraries to find someone's error. A proper bug report would be to produce a single javascript file with the uglifyjs CLI command to transform it and then detail the exact error produced - whether produced by uglify, node or the browser. If we are to fix a bug, some effort has to be made on the part of the bug

[2016-03-05 22:02] pitops commented on #999
@kzc Not to sound rude but the link i gave does have an example. Here is his words

"In order to recreate the issue clone this code - https://github.com/sudoorgza/my-words/tree/uglify-mangle-issue. Then do an "npm install", run "gulp build" then deploy the code in the "dist/" folder to your favourite webserver."

[2016-03-06 01:07] kzc commented on #999
Repeating the same instructions is not helpful in diagnosing the possible bug.

As requested, please provide a single javascript source file that has not been uglify'ed, as well as the uglifyjs CLI flags that creates the problem in addition to the exact error produced. We do not wish to run a web server and search for some unknown problems with the javascript and/or html of your project. We only w

[2016-03-06 17:57] kzc commented on #999
fyi - doesn't appear to be an uglify problem - some angular apps make assumptions about symbol naming.

"AngularJS applications are not min-safe by default"

http://www.sitepoint.com/5-minutes-to-min-safe-angular-code-with-grunt/

[2016-03-06 19:27] pitops commented on #999
FYI - thats for Angular 1 not Angular 2.

[2016-03-06 21:04] kzc commented on #999
See angular compress flag: added @ngInject support for inline functions #482

Beyond that you'd have to ask the Angular devs how to avoid minification problems with their code introspection/injection tools.

[2016-03-07 06:19] zyf0330 opened #1000 "a question about minify value of object"
I have this code `{key: '<%=attr%>' == 'true'}`, it has an effect with EJS attr-inject. But uglifyJS2 convert it into `{key: !1}`, so how to solve it?

[2016-03-07 06:36] kzc commented on #1000
No idea what EJS attr-inject is. Uglify only works with ECMAScript 5.1 so it equates `'<%=attr%>' == 'true'` to `false`, which is equivalent to `!1`. You might try disabling all compress and mangle options and just eliminate whitespace if your tool is looking for special markup in javascript.

With uglify being at the end of the tool pipeline some people assume the uglify devs are familiar with ev

[2016-03-07 06:45] zyf0330 commented on #1000
So I can write `'<%=%>'.toString() == ''` to avoid it.

[2016-03-07 06:45] #1000 closed

[2016-03-08 02:32] kzc commented on #999
Known bug in Angular2:

https://github.com/angular/angular/issues/6380

[2016-03-08 02:59] viclm opened #1001 "[ES6] Error when parenthesis string is envolved by parenthesis"
`('(')`

Unexpected token eof «undefined», expected arrow «=>»

[2016-03-08 03:24] kzc commented on #1001
[code]

Are you using the uglify harmony branch?

[2016-03-08 03:29] viclm commented on #1001
@kzc yep

[2016-03-08 04:24] kzc commented on #1001
Could you put [ES6] in the issue title?

[2016-03-08 06:02] gdi2290 commented on #999
this is a problem with UglifyJS2 when minifying an ES6 classes that were compiled to ES5. here's the repo that I used https://github.com/gdi2290/angular2-seed-RouterLink-error

notice it's `c = () => function t(){}`
[code]
if you manually change `t` to `c` it works
with uglify
[code]
no uglify
[code]

[2016-03-08 06:04] gdi2290 commented on #999
the current workaround is to tell uglify not to minify the name of classes that throw errors when methods aren't found on the prototype

[2016-03-08 07:44] viclm commented on #1001
https://github.com/viclm/UglifyJS2/commit/0976a7ca2c04bf705acd91987c7f2c90bd7104ca

[2016-03-08 12:15] pitops commented on #999
@gdi2290 so i guess that the current workaround is what i used, mangle: false?

[2016-03-08 14:06] kzc commented on #999
@gdi2290 Unless I'm missing something, the uglify mangled code displayed above looks like it was done correctly from an ES5 point of view given the original JS code displayed below it.

Is the issue here that upon throwing an exception Angular introspects the stack trace and is looking for the function name `"RouterLink"` which is now mangled to the name `t`? If so, the only possible workaround is

[2016-03-08 16:43] gdi2290 commented on #999
@kzc the problem seems to happen when there are many components with the name `t` (`t` is the first variable name used by uglify in a new js scope) this is because of the code generation work in Angular 2 where the templates are compiled into factory functions.

cc @IgorMinar @tbosch

[2016-03-08 16:54] kzc commented on #999
But from uglify's perspective this inner function can be renamed `t` or whatever uglify wants as long as it is referenced correctly/unambiguously within its scope. It is the responsibility of the user of uglify to inform it to not mangle specific names (or disable mangle altogether), or have Angular associate the function with a string literal of the original function name. Even though all these f

[2016-03-08 17:03] gdi2290 commented on #999
Sorry, I meant to say after looking into it further I determined that it's a problem with Angular 2 and it's use of the component names during code generation. I've cc'd members of the core team who are working on this problem to clarify anything if I'm not on the right track.

[2016-03-09 11:07] Martii commented on #1001
Someone beat me to this. :) Cc: @fabiosantoscode

Dummy Userscript extraction that doesn't really do anything other than produce the minification issue reported here

[code]

[code]

We see a lot of these...

[code]
... taken from https://openuserjs.org/scripts/vBm/Omerta_Beyond/source and our logs.

[2016-03-09 22:54] Martii commented on #1001
@mishoo and @fabiosantoscode
I've set up a `Warning` header as close to the specification as I can *(there are some node and express issues with headers)* so that if there's an issue with minification it will be possible to automate it just by dropping the ...`.min.`... link in here. See OpenUserJs/OpenUserJS.org#923 if interested. It is Q encoded since the error messages generated here in this pr

[2016-03-10 00:11] genintho commented on #718
@mishoo would it be possible to add an option that will use a file cache? So if uglify is called on a file whose content did not change, it will return the previously computed results?

[2016-03-10 03:13] Martii commented on #1001
@viclm
Ran [your patch](https://github.com/mishoo/UglifyJS2/issues/1001#issuecomment-193651668) against some of our data... seems to fix the paren issue but not the square brace one *(the third example above named `open2chYouVideo`)*... nice job though on the parenthesis  find. :)

[2016-03-10 11:07] rvanvelzen commented on #1001
@Martii:

[code]

This is not a valid program, so it's not surprising that it fails to parse. (The inner function is in statement position, thus requiring a name)

[2016-03-10 18:58] Martii commented on #1001
@rvanvelzen

===:

... Just because it's not a real program doesn't negate the parsing error in *UglifyJS2*... it is syntactically correct just doesn't do anything... it's an example if you would please reread what was posted and requoted ... **technically it's dead code without the name but still a 100% valid [function expression](https://developer.mozilla.org/docs/Web/JavaScript/Reference/Operat

[2016-03-10 19:12] kzc commented on #1001
acorn@3.0.4 agrees with @rvanvelzen's assessment:

[code]

[2016-03-10 21:02] Martii commented on #1001
So are we... and we've bent over backwards to promote this project and suppress the negative connotations in the global community. e.g. change perceptions.

Change your perception please as it's incorrect as well as snarky *(flaming, trolling, etc.)*

Prefer the term of completeness instead of being lazy like some want and expect. My colleagues in the office have just read this and they concur wit

[2016-03-10 21:25] rvanvelzen commented on #1001
I've merged @viclm's PR, which should resolve the original issue. For issues other than the eager parsing of arrow functions, please open a new issue.

[2016-03-10 21:25] #1001 closed

[2016-03-10 21:28] rvanvelzen commented on #985
We've recently removed the `sort` option for the mangler, because it mostly causes issues and doesn't optimize well for gzip.

If you can show a real-world program for which it is hugely beneficial I'm willing to reconsider, but it's unlikely to ever happen.

[2016-03-10 21:28] #985 closed

[2016-03-10 21:28] kzc commented on #1001
@Martii Please stop hijacking threads with useless commentary.

[2016-03-11 01:37] rmarscher opened #1003 "[ES6] Object property shorthand inside a function causes compiler errors"
Using the #harmony branch, I hit a problem with object shorthand properties.

To reproduce, use this code:

[code]

When you run uglify with compress enabled, it should cause an error: `TypeError: Cannot read property 'has_side_effects' of undefined at AST_Node.eval [as has_side_effects]`
Lines 985-993 of lib/compress.js currently has this code for me on the harmony branch:

[code]

If I `console.

[2016-03-11 07:05] yekver commented on #970
Hi guys!
Is there any success with this issue?

[2016-03-11 22:23] bakkot opened #1004 "[ES6] Arrow functions are parsed with the wrong precedence"
On the [harmony](https://github.com/mishoo/UglifyJS2/tree/harmony) branch:

`typeof x => 0` and `0 + x => 0` are both parsed without errors, but they aren't valid programs. (Check against http://shift-ast.org/parser.html .) There's actually a [test](https://github.com/mishoo/UglifyJS2/blob/6780d0906c324102ec655d8e844754223876382a/test/compress/harmony.js#L62) which relies on this parsing.

[2016-03-12 11:37] fasttime opened #1005 "Size of empty function grows after compression"
So I have some empty function in my code:

[code]

Then I run `$ uglifyjs myfile.js -c unsafe` and I get

[code]

Makes +2 bytes after compression. I believe this only happens with the `unsafe` option but I'm not really sure.

[2016-03-12 13:36] fabiosantoscode commented on #1001
I completely missed the development of this conversation, and just wrote an unnecessary fix lol :) thanks @viclm for fixing the bug I introduced. Sorry about the oversight.

Not mentioning any names in specific:

https://xkcd.com/438/

Let's get along, everyone :heart: there's no need to be aggressive. I believe we're all working towards the same goal.

Have a beautiful day!

[2016-03-12 13:48] fabiosantoscode commented on #1005
I think this is intentional.

After gzip, The size is pretty much the same, and might get smaller, since the word `function` in lowercase might be the most common in any javascript file.

See this example:
[code]

Now with just one more lowercase `function` in the code, using `Function` is not advantageous:

[code]

[2016-03-12 14:02] fabiosantoscode commented on #1003
Thanks for the report.

Shorthand object properties are currently parsed in a pretty weird way. Thinking back, I should have just added a "shorthand" boolean property to the usual old object property AST node. This would allow mangle and propmangle alike to "destroy" the shorthand, turning things like `const _x; return {_x};` into `const c;return{a:c};` where `a` is the propmangled name and `c` is

[2016-03-12 14:12] fabiosantoscode commented on #970
There is some success. I'm currently working on dropping unused block declarations

IE the following:
[code]

Should turn into just `function x(){}`

[2016-03-12 17:22] fabiosantoscode commented on #1003
There, #1006 fixes this.

[2016-03-12 18:46] fabiosantoscode commented on #1004
Interesting. The precedence is indeed wrong, and is a lot more complex than what I first imagined. Currently thinking of a case that might parse incorrectly (as opposed to allow parsing an invalid program, which is a bit lower on my priority list).

[2016-03-13 11:24] fabiosantoscode commented on #970
(sent #1007 after I figured out a nice way to do the above)

[2016-03-13 11:25] fabiosantoscode commented on #1004
You're totally right, the parser's precedence for these things is pretty much screwed up. I've been looking into it, but I can't understand how to fix it. I need more time, or some help :)

[2016-03-13 11:29] fabiosantoscode commented on #103
Since `--mangle-props --mangle-regex` was shipped, should this issue be closed? Or do we want to implement `/** @private **/` as well?

[2016-03-13 16:58] rvanvelzen commented on #1004
Please point to the spec, not some other parser.

[2016-03-13 17:00] michaelficarra commented on #1004
https://tc39.github.io/ecma262/#prod-AssignmentExpression

[2016-03-14 01:47] kuus commented on #103
for what it worth, personally I would love to see also that implemented as well!

[2016-03-14 02:01] kzc commented on #889
Argument and variable name ordering is already done by mangle to improve gzip size. Look at lib/scope.js.

[2016-03-14 09:52] s-a opened #1008 "bare_returns : true throws runtime error"
Using ```bare_returns``` throws runtime error

[code]

Ref: https://github.com/s-a/sublime-text-refactor/issues/28

[2016-03-14 09:57] rvanvelzen commented on #1008
Next time please include the error message when reporting an issue.

You should be passing `bare_returns: true` to `.parse()`, not when constructing the output stream.

[2016-03-14 09:57] #1008 closed

[2016-03-14 10:03] s-a commented on #1008
Thank you :+1:

[2016-03-14 12:07] rvanvelzen commented on #1005
It is 2 bytes longer, but slightly faster. I don't believe empty calls to `Function()` being common in the wild, and am more than willing to sacrifice the 2 bytes for generally simpler code.

[2016-03-14 12:07] #1005 closed

[2016-03-14 12:27] fabiosantoscode commented on #103
I just realised that we can't implement `/** @private **/`. We'd need to perform flow analysis. Take this example:

[code]

At the time of compression, we have no idea of what type `x` is, or where the property `longPrivateName` was defined, so no way to find out whether it was defined with `@private`.

[2016-03-14 22:49] AaronM04 opened #1010 ""Unterminated string constant" error with v2.6.2 not present in v2.6.1"
Hi, so we recently did npm install for our site and our grunt uglify task started breaking out of nowhere. Here is the stack trace:

[code]

Digging deeper, we noticed there was an upgrade from v2.6.1 to v2.6.2 that was permitted because grunt-contrib-uglify depends on uglify-js with a caret (which allows increasing the major and patch versions).

The file in question has a multiline string. Is th

[2016-03-15 00:56] kzc commented on #1010
The commit in question:

https://github.com/mishoo/UglifyJS2/commit/174404c0f37bf14aff23c41889e6bab1fd87c1d7

And the Issue:

https://github.com/mishoo/UglifyJS2/issues/901

To be honest, I'm not keen on uglify being strictly compliant with the spec in this case. I prefer the old behavior where uglify silently transformed the newline to `\n`.

[2016-03-15 01:01] kzc commented on #1010
@avdg @rvanvelzen @mishoo Any opinion on this issue? Leave as is or revert?

[2016-03-15 04:36] michaelficarra commented on #1010
It's not a program. It shouldn't be accepted.

[2016-03-15 07:53] rvanvelzen commented on #1010
What do you mean specifically? Input like:
[code]
… is definitely not valid syntax and we were wrong to ever accept it.

If @mishoo feels strongly about accepting literal newlines l'm fine with it too.

[2016-03-15 08:09] mishoo commented on #1010
I've always wished JS had multi-line strings so I guess that's why I've implemented that from the start.  I should have refrained from it.  @AaronM04 — fix your code (BTW, how do you even develop/debug it if it's syntactically invalid?)

[2016-03-15 08:09] #1010 closed

[2016-03-15 08:58] StephanBijzitter commented on #448
Any updates on this? I just bumped into #938

[2016-03-15 11:22] avdg commented on #1010
There is that backslash syntax though if one likes to use multiline. But as mentioned above, it's simply invalid.

If I find some interest to dig in, I might try to find out what caused the unclear error though.

[2016-03-15 11:24] avdg commented on #1010
An example of the backslash notation:

[code]

[2016-03-15 15:55] kzc commented on #986
Simple patch adding `let` to reserved words in the tradition of all other reserved words in uglify: https://github.com/mishoo/UglifyJS2/pull/1011

I think it's important to merge a bug fix for this problem as it could likely happen when output of asm.js generated code is run through mangle.

[2016-03-15 16:02] pablocubico commented on #986
Well, that was what I did in the first place: https://github.com/pablocubico/UglifyJS2/commit/385aa6383da9996faade35fbb61e516e8c033c19

And it actually solved it, I'm working on a large codebase that actually produced a `var let` statement breaking the build.

Then someone suggested supporting `var let` in sloppy mode, so, don't know which way is this thing going. I'll be happy to contribute if yo

[2016-03-15 16:05] kzc commented on #986
@pablocubico You originally put the `let` in the wrong spot - it should have been in RESERVED_WORDS, not KEYWORDS. I also added a test.

[2016-03-15 16:09] kzc commented on #986
I don't see a pressing need to have `var let` be accepted in non-strict mode. Uglify currently happily rejects all other ES6+ reserved words like `implements`, so `let` should be no different in that regard.

[2016-03-15 16:19] michaelficarra commented on #986
@kzc That would be a mistake. If it was possible to ignore the programs that use `let` as a variable name, TC39 would have simply added `let` to the reserved words list. Instead, they looked at how common the usage was and decided that it would be web-incompatible to break these programs. The only reason not to support it is laziness.

@pablocubico Sorry that you are caught in the middle of this.

[2016-03-15 16:19] pablocubico commented on #986
@kzc I think exactly the same, as you may have read in my previous comments. Just wanted to add support for sloppy mode if the community needed so.

IMHO, `let` belongs to the KEYWORDS part, since its listed among the other "keywords" usually: http://www.ecma-international.org/ecma-262/6.0/#sec-keywords

But anyway, KEYWORDS_ATOM and KEYWORDS are concatenated to RESERVED_WORDS so it's pretty much

[2016-03-15 16:23] pablocubico commented on #986
@michaelficarra hey, no worries! I'll take a look at my PR, @kzc made a suggestion there and found a bug, will dive on it later.

[2016-03-15 16:27] kzc commented on #986
@michaelficarra There is precedent for this reserved word fix in the UglifyJS2 code base - all other reserved words are handled like this. Furthermore, if the proposed non-strict `let` fix is implemented poorly it will slow down uglify mangle in the general case. But if you want to step up and contribute code - please do so.

[2016-03-15 19:07] AaronM04 commented on #1010
@mishoo apparently we were able to develop and debug because we always uglified this code (which turns it into syntactically valid JavaScript). The front-end team will fix this. :)

[2016-03-15 21:29] kzc commented on #986
You're right, but `static` and `yield` mentioned in that same spec clause were already in RESERVED_WORDS, so it seemed logical to put `let` there as well. But as you wrote it has the same effect as putting it in KEYWORDS from mangle's point of view.

[2016-03-15 22:25] GrosSacASac commented on #1003
I just downloaded uglify with the npm install uglify-js -g command
I get a Parse error : Unexpected token punc <<,>> , expected punc <<:>>
Error at ... with

[code]

[2016-03-15 22:32] fabiosantoscode commented on #1003
For es6 support you need to download the `harmony` branch. It's still under development so it hasn't made its way to the npm repo just yet.

You can still download it using `npm install 'mishoo/UglifyJS2#harmony'` though you can expect some missing features.

[2016-03-15 22:54] kzc commented on #986
Interesting. Just discovered that adding `let` to RESERVED_WORDS has one advantage over putting it in KEYWORDS - it's never been a parse error if you use any of the RESERVED_WORDS as a variable name.

Case in point - unmodified release version of uglify-js 2.6.2:

[code]

Now testing against PR #1011:

[code]

No difference except the patched version avoids producing vars named `let` in mangle (no

[2016-03-15 23:09] GrosSacASac commented on #1003
Ok, no hurry for me anyway. I hope you get this right rather than wrong and fast.

[2016-03-16 10:10] julmot commented on #448
Just got this error when having an arrow function:
[code]
so it seems to have no update

[2016-03-16 11:02] sbrl commented on #448
@julmot I think you need to use the special harmony branch of UglifyJS2,

[2016-03-16 17:39] collinstocks opened #1012 "uglifyjs (with compression and mangling disabled) breaks asm.js double type annotation"
Even with compression and mangling disabled, uglifyjs breaks asm.js type annotation by converting `0.0` to `0`. The radix point is important in asm.js because it is used to indicate that the numeric literal is a double rather than an int.

Example:
[code]

The output should be:
`function example(){"use asm";var a=0.0;return a}`

I understand that if uglifyjs doesn't currently differentiate differe

[2016-03-16 17:44] kzc commented on #1012
There's no problem.

[code]

[2016-03-16 17:50] kzc commented on #1012
Use `npm install uglify-js`, not `uglifyjs`. The latter one is an unofficial npm squatter.

[2016-03-16 17:56] collinstocks commented on #1012
Thank you! That explains why npm kept telling me I had the most recent version... :(

[2016-03-16 17:56] #1012 closed

[2016-03-16 18:01] kzc commented on #1012
Long standing unresolved issue: https://github.com/mishoo/UglifyJS2/issues/936

[2016-03-17 07:54] c-f-h commented on #448
I'll second that it would be great to have a separate experimental package published on npm with ES6 support.

[2016-03-17 21:59] objectkit commented on #103
I am just throwing this out there, warts and all. I too want to be able to comment members of objects as private, as too with variables in general, but I would be content with private scope limited to declaring objects.

As I see the example above, correct, ``longPrivateName`` would be private to the declaring object, ``x``, so any attempt to access it outside of the object context of x would of c

[2016-03-19 21:28] mweststrate commented on #994
Thanks for the explanation!

[2016-03-19 21:28] #994 closed

[2016-03-20 21:57] michaelficarra commented on #889
@kzc I don't think this was just about choosing names. I think the requester is looking to make all/most functions have the same signature, even if it doesn't reference the later names. While this would help gzip, it wouldn't *always* preserve behaviour because function arity is observable through the `length` property. So :-1:, let's close this.

[2016-03-20 22:39] pygy commented on #889
@michaelficarra nope, not sure where you got that from. I even literally suggest to sort functions by decreasing arity.

@kzc, indeed, but the algorithm could be improved. Here's a sample from my current project:

[code]

[2016-03-21 00:47] kzc commented on #889
@pygy Looking forward to your pull request demonstrating better gzip compression.

[2016-03-21 17:07] miraclebg opened #1013 "Fancybox2 cannot be parsed properly"
For some reason fancybox2 is being messed up after uglification by r.js.

After quite some debugging this is what causes it (probably the html template) - after this is removed all is ok:

[code]

I've attached the fancybox file.

![screen shot 2016-03-21 at 19 06 30](https://cloud.githubusercontent.com/assets/126405/13927127/0a5dd670-ef98-11e5-8155-a9d17e35aacd.png)

[2016-03-21 17:27] rvanvelzen commented on #1013
I only see some incomplete JS and an image. Please provide a source file, and the calls to `bin/uglifyjs` with which your issue can be reproduced.

[2016-03-21 17:27] miraclebg commented on #1013
Please ignore the attached javascript file. I am attaching the one that you should be looking at now (the previous one was an experiment).
[jquery.fancybox.js.zip](https://github.com/mishoo/UglifyJS2/files/182791/jquery.fancybox.js.zip)

Once you remove from the file the HTML templates (line 138) - it can compile properly:
[code]

[2016-03-21 17:28] miraclebg commented on #1013
@rvanvelzen I am not using uglifyjs directly - i am packing up a requirejs project with r.js - which is in turn probably calling your bin?

[2016-03-21 17:30] miraclebg commented on #1013
@rvanvelzen Also attached now the final compiled file (which is broken):

[payin7.js.zip](https://github.com/mishoo/UglifyJS2/files/182795/payin7.js.zip)

[2016-03-21 17:35] miraclebg commented on #1013
@rvanvelzen And i've just found out what's the cause (in the correct file now):

Line 144-146:

Was:

[code]

Changed it to:

[code]

Just removed href="javascript:;" and it compiles properly.

[2016-03-21 17:37] rvanvelzen commented on #1013
I'm sorry, I do not believe UglifyJS to be doing anything wrong here - `payin7.js` is valid JS.

`href="javascript:;"` is not something we alter, or even read. If it only happens after minification, I suggest that you look into other parts of your build pipeline.

[2016-03-21 17:37] #1013 closed

[2016-03-21 17:39] miraclebg commented on #1013
@rvanvelzen Hm, well something is definitely messing this up - i'll have to get to the r.js people.

Thanks anyway!

[2016-03-22 06:33] bdkjones opened #1014 "Icon"
It would be cool to have an official icon for Uglify.js, similar to those of Bower or Autoprefixer. I know this doesn't affect most folks, but it'd be really nice to include a cool icon in GUI apps that integrate Uglify!

[2016-03-22 08:02] ymma opened #1015 "cannot set property 'warn_function' of undefined"
TypeError: Cannot set property 'warn_function' of undefined
at Object.<anonymous> <\uglify-js\tools\node.js:41:33>

I added ‘UglifyJS.AST_Node = UglifyJS.AST_Node || {};’

Just fine

[2016-03-22 08:03] mishoo commented on #1014
True that, but my graphic design skills are close to zero...  Contributions welcome!

[2016-03-22 11:07] fabiosantoscode commented on #103
In your above example, this line:

`x.w()`

To do this you need flow analysis. At the point that this call is being mangled, uglifyjs doesn't know what object `x` is. So you may have:

[code]

(notice that the second is not private)

Which is a very basic set-up, but since uglify doesn't know where this `.height` is coming from (it may be coming from the DOM API even), it can't know whether or not

[2016-03-22 15:45] vkatochka opened #1017 "distortion of characters"
Hi,

I am run:
uglifyjs ace-editor3.js > test-res.js

ace-editor3.js:
[code]

output test-res.js:
[code]

How avoid the distortion of characters?
Files is attached.

[test-res.zip](https://github.com/mishoo/UglifyJS2/files/184432/test-res.zip)

[2016-03-22 15:49] rvanvelzen commented on #1017
The output is safe to use. However, if you insist on using ASCII, you can pass `-b 'beautify:false,ascii_only` to uglifyjs.

[2016-03-22 16:18] vkatochka commented on #1017
Thank for reply.

Command below does not solve the problem completely.

Line1: have problem
Line2: symbol '\u00a1' changed to '\xa1'. It's similar symbol?
Line3: ok

output:
[code]

[2016-03-22 16:40] kzc commented on #1017
uglifyjs only accepts utf8 input.

[2016-03-22 19:43] shshaw commented on #1014
Quick idea. Concise, cute and clear. Needs some color, but I think it's a nice representation.

![uglify](https://cloud.githubusercontent.com/assets/777155/13965431/328643d6-f03c-11e5-8e7e-216a84317ca5.png)

[2016-03-22 21:21] sunnywalker commented on #1014
Here's a quick idea. I have it in SVG too if desired, but that's not an allowed upload type.
![uglifyjs](https://cloud.githubusercontent.com/assets/187270/13968300/1eb408d2-f020-11e5-82d7-d9b874b0bc29.png)

[2016-03-22 23:56] dragGH102 commented on #999
+1 same problem here with Meteor

[2016-03-23 01:22] kzc commented on #999
There is nothing actionable here from uglify's perspective. If some code depends on certain symbols not being mangled, it's up to the user to either exclude those symbols from being mangled or disabling mangle altogether.

[2016-03-23 08:09] ThekhoN opened #1018 "error on windows when running uglify"
Hi, i'm unable to run uglify. my system is windows. i updated my node but still the problem persists.
kindly help. thanks.

npm error log
[code]

cli error
[code]

[2016-03-23 08:37] feekApp commented on #1014
Because it is a rainy day ...

![uglifyjs](https://cloud.githubusercontent.com/assets/2168644/13979740/cbd0ac72-f0da-11e5-881d-7a253baed1db.jpg)

[2016-03-23 08:47] rvanvelzen commented on #1018
Make sure these files exist. I do not see anything strange here.

[2016-03-23 08:47] #1018 closed

[2016-03-23 08:51] ThekhoN commented on #1018
The files exist.

[2016-03-23 08:53] ThekhoN commented on #1018
http://i.imgur.com/n9bBX27.jpg

[2016-03-23 09:09] romainl commented on #1014
First try :

![uglifyjs](https://cloud.githubusercontent.com/assets/344335/13980496/36e45096-f0df-11e5-8131-69b88ff7ad89.png)

[2016-03-23 12:39] rvanvelzen commented on #1018
We are not the authors of `npmbase`. Have you contacted them?

[2016-03-23 13:18] larpo commented on #882
I started to have issues with source maps on my browserify project last week, and tracked down the issue to uglify-js being updated from 2.6.0 to 2.6.2.

Before the update, source maps might have behaved incorrectly at times when placing break points, but at least it was possible to view the original source and do some interactions. However, after the update the maps fail to show any of the files.

[2016-03-23 16:35] ThekhoN commented on #1018
reported

[2016-03-23 17:17] michaelficarra commented on #1017
@vkatochka I don't see anything wrong with the output. All of the characters are ASCII, and `\u00A1` is indistinguishable from `\xA1`.

[2016-03-23 19:26] alexlrobertson commented on #993
I'm also encountering this error with a file that is 135,594 lines long (a nasty, huge bundle of our 3rd party dependencies).

Our build pipeline isn't optimized and I'm working to fix it so that Uglify gets run over each individual dependency rather than the accumulated whole.

[2016-03-23 23:23] vkatochka commented on #1017
How about value of "var PLACEHOLDER" ?

My web site have Content-Type: application/xhtml+xml; charset=utf-8. And with "var PLACEHOLDER" have "XML parsing error: incorrect".

[2016-03-23 23:38] michaelficarra commented on #1017
It's ASCII alright. You probably want a "printable" option? Also, if you want to include something in an XHTML document, you need to encode it for XHTML. Don't just put any random JavaScript program into an XHTML context and expect it to work.

[2016-03-24 00:03] vkatochka commented on #1017
@michaelficarra

I want, compress (ace.js + theme.js + mode.js from https://github.com/ajaxorg/ace) with uglify-js and include into xhtml.

I done this, and I got xml error. Option ascii_only=true helped for Line 2,3. But Line1 give error.

I copy Line1 from original code to output code, and all ok.

[2016-03-24 00:47] kzc commented on #1017
`uglifyjs -b ascii_only=true` probably ought to encode the characters `\x00` to `\x1f`.

@vkatochka Could you please try using uglifyjs with this patch?

[code]

[2016-03-24 01:12] michaelficarra commented on #1017
@kzc No, I don't think it should. If you want to also omit non-printable characters, there should be another option for that.

[2016-03-24 01:20] kzc commented on #1017
The present behavior of `ascii_only` does not match the documentation:

    ascii-only (default false) -- escape Unicode characters in strings and regexps

It's clearly a bug that the unicode characters `\x00` to `\x1f` characters are not escaped.

[2016-03-24 03:23] michaelficarra commented on #1017
@kzc All ASCII characters are Unicode characters. It's clear that the documentation means all *non-ASCII* Unicode characters. Otherwise it would escape *literally every character*. ASCII overlaps with the first 128 Unicode code points. So code points 0 through 127 (`\x00` through `\x7F`) should be output without using an escape sequence.

[2016-03-24 04:46] kzc commented on #1017
I'm familiar with ascii and unicode encoding, thanks.

The code simply doesn't behave the way it is documented and it violates the principle of least astonishment. Unicode means all characters. Escaping means a human being can read it unambiguously and correctly when sent to a tty. There is no need to escape the readable ascii characters as there is no ambiguity. If someone wanted the unreadable l

[2016-03-24 09:20] rvanvelzen commented on #1017
The *intent* of `ascii-only` is to escape make the output completely safe. Control characters are not safe, and should be escaped.

[2016-03-24 13:09] kzc commented on #1017
@rvanvelzen Notice the escaping for `\t` in the revised proposed patch below:

[code]

The release version of `uglifyjs` doesn't escape `\t` although it will escape `\n`, `\r` and some other special JS control characters specifically:

[code]

Which is inconsistent.

Do you agree that `\t` should also be escaped in strings by default? It seems to be a simple oversight:

https://github.com/mishoo/U

[2016-03-24 14:30] rvanvelzen commented on #1017
The general reasoning there is/was that `\r\n` is not allowed in a string literal, while `\t` is. I'm fine either way with regards to escaping it.

[2016-03-24 16:08] #1017 closed

[2016-03-24 16:16] #986 closed

[2016-03-24 16:38] vkatochka commented on #1017
Latest version works fine for me. Thank.

[2016-03-25 22:41] ArthurClemens opened #1020 "No compression when using --in-source-map"
I want to create a sourcemap that points to the original es6 file, so I need to use `--in-source-map`. However, with this option enabled, uglify no longer compresses the output.

My setup in my transpile script is:

[code]

Removing `--in-source-map ${sourceMapPathIn}` fixes the compression, but removes the link to the es6 file.

[2016-03-26 01:38] kzc commented on #1020
Could you add a line to your script to echo the uglifyjs command to give the actual values?

            `echo node_modules/.bin/uglifyjs --compress --output ${outPath} ${outPath} --source-map ${sourceMapFile} --source-map-include-sources --in-source-map ${sourceMapPathIn} > ug.txt`

then post the contents of `ug.txt`.

[2016-03-26 07:14] kzc commented on #936
Potential security implications of mistyped npm module names - `uglifyjs` was mentioned:

https://blog.liftsecurity.io/2015/01/27/a-malicious-module-on-npm

See also:

https://www.kb.cert.org/vuls/id/319816

[2016-03-26 07:59] fibo commented on #936
I confirm I got no response from the author neither npm. I will open an issue on the npm website, hope this can help.

[2016-03-26 08:09] kzc commented on #1020
Compression appears to work fine with your `uglifyjs` command. Look for `true` being replaced with `!0`. Perhaps you also wish to `--mangle` the source?

You appear to be overwriting the javascript input with:

    --output ${outPath} ${outPath}

Try using different names for the argument to `--output` and the JS input.

[2016-03-26 09:48] ArthurClemens commented on #1020
I have to look in another direction. Running

[code]

returns

[code]

The source map generated by Babel contains `"file":"button.js"`, so a relative filename, while I am running the transpile script from the project root.

[2016-03-26 10:12] isiahmeadows commented on #936
Ping @mishoo. I believe you're probably the best one to [create an official dispute](https://docs.npmjs.com/policies/disputes). It is potentially misleading, although I do disagree with [this bug](https://github.com/npm/newww/issues/1917) saying it's malicious (I found nothing incriminating at a detailed glance, but I'm not a security professional).

[2016-03-26 10:13] ArthurClemens commented on #1020
Thanks for the help.

[2016-03-26 10:13] #1020 closed

[2016-03-26 14:36] rr- commented on #448
[code]
doesn't seem to work [even though it should](http://stackoverflow.com/a/31987962/2016221) whereas
[code]
works fine. I'm on `harmony`'s HEAD.

[2016-03-26 14:39] rr- opened #1021 "[ES6] for (const ... of ...)"
I'm on `harmony`'s HEAD.

Following
[code]
doesn't seem to work [even though it should](http://stackoverflow.com/a/31987962/2016221) whereas
[code]
works fine.

[2016-03-26 18:53] Martii commented on #1021
Some refs:
* http://www.ecma-international.org/ecma-262/6.0/index.html#sec-let-and-const-declarations-static-semantics-boundnames *(defines "LexicalDeclaration")*
    * http://www.ecma-international.org/ecma-262/6.0/index.html#sec-for-statement-runtime-semantics-labelledevaluation *(defines classic `for` loops)*
* http://www.ecma-international.org/ecma-262/6.0/index.html#sec-for-in-and-for-of-stat

[2016-03-27 09:34] gmetais opened #1022 "Compression step lasting forever"
Hi there! Thanks a lot for your fantastic tool!

When trying to minify the following file, uglify never returns (or maybe after a very very long time):
https://fdp-a.akamaihd.net/JS_Syndiction/scripts/hiro_dynamic_player.js

It looks like it's the compression step that causes the problem.

Do you experience the same problem with this file?

[2016-03-27 11:13] fabiosantoscode commented on #1021
Nice catch, thanks! FYI `const` also crashes in `for..in` loops!

The way I did `for..of` was basically copying what `for..in` was, since they're terribly similar. Our evaluation facilities aren't deep enough to see the difference anyway.

I find it interesting that ES8 has the concept of an "assignment pattern". It makes a lot of sense to only allow such left-values in this situation. Currently u

[2016-03-27 11:20] rvanvelzen commented on #1022
Duplicate of #917. Basically, you're re-uglifying already-uglified code, which doesn't perform all too well.

[2016-03-27 11:20] #1022 closed

[2016-03-28 13:11] rr- commented on #1021
Works, thanks.

Note that FF still hasn't yet implemented it (`invalid for/in left-hand size`); confirmed to work with Chrome.

[2016-03-28 13:11] #1021 closed

[2016-03-28 13:42] avdg commented on #936
Welcome to the world of recursive feedback (or ending up in the need of it).

This is getting closer and closer to the undefined side of justice, where trust have to be earned and justice has to follow though... Eventually, everybody will face the consequence of something "they can not forcee" (based on the fact everbody has to trust mishoo, "the one who shall solve everything").

So this is confl

[2016-03-29 01:14] kzc commented on #1022
@gmetais Please try out PR https://github.com/mishoo/UglifyJS2/pull/1024

[2016-03-29 15:04] gmetais commented on #1022
Awesome! The minification of my file now works perfectly.

Thanks a lot @kzc!

[2016-03-29 18:05] #321 closed

[2016-03-29 18:53] kzc commented on #917
This issue can be be closed by PR #1024 as well.

[2016-03-29 19:07] rvanvelzen commented on #917
Yes, thanks

[2016-03-29 19:07] #917 closed

[2016-03-31 16:24] yurks opened #1025 "drop unused variables leaves its values"
Code
[code]
minified to
[code]

[2016-03-31 19:12] jltrv opened #1026 "[idea] smart, safe property mangling"
Sometimes the same property of an object is accessed many times. This could be very efficiently compressed using the following method:
`React.createElement(...)` would become `var a = React, b = "createElement"; a[b](...)`
This optimisation would only be triggered when a property is accessed a large number of times (to be determined)

Is there any reason this is not done already ? (would this have

[2016-03-31 19:16] mishoo commented on #1026
I do agree it is a good idea.  It's also almost impossible to do safely, so good luck with your pull request! ;-)

Be sure to check our existing support for [property mangling](https://github.com/mishoo/UglifyJS2#mangling-property-names---mangle-props).

[2016-03-31 19:27] jltrv commented on #1026
I think that would be perfectly safe, assuming I manage to do it without bugs, since the object structure would not change. However it may also be pointless since this is the kind of things gzip compression excels in. (If one really cares about asset size they should enable gzip on their servers anyway)

I'm going to run some numbers on some codebases with gzip to see if this is worth pursuing.
If

[2016-03-31 20:16] kzc commented on #1026
Top level `var`s are not mangled by default:
[code]
 But if the code is within an IIFE or function as is done by most JS bundlers like browserify and webpack, then the `React` symbol and other `var`s will be mangled automatically:
[code]
Also if `with` or `eval` are used then uglify will not mangle by default.

[2016-04-01 14:08] michaelficarra commented on #1026
UglifyJS optimises for gzip, and this transformation will only hurt gzip. :-1:

[2016-04-01 14:57] jltrv commented on #1026
Then there's no point to do it I guess. I'm closing the issue.

[2016-04-01 14:57] #1026 closed

[2016-04-02 04:33] kzc commented on #511
See PR #1027

[2016-04-02 10:54] developez opened #1028 ""--mangle-regex" with node is not implemented"
I am following a tutorial to ofuscate a ionic app and this tools is involved ([link](https://www.airpair.com/ionic-framework/posts/production-ready-apps-with-ionic-framework)), but I've discover that tool/node.js does not allow use "--mangle-regex" option.

[2016-04-02 11:02] rvanvelzen commented on #1028
If you pass `mangleProperties: { regex: /your-regexp-here/ }` it should work just fine.

[2016-04-02 11:06] developez commented on #1028
I will try, thank you and sorry.
El 2/4/2016 13:02, "Richard van Velzen" <notifications@github.com> escribió:

[2016-04-02 11:11] #1028 closed

[2016-04-02 15:22] #511 closed

[2016-04-02 18:57] kzc opened #1029 "Microsoft Chakra Javascript JIT and UglifyJS"
This isn't an issue. UglifyJS devs/users may find this interesting:

Article also breaks down percentage of websites that use some uglifyjs minified JS:

So using this article's data, 73% of top sites have _some_ uglifyjs minified JS (77% of 95%).

[2016-04-03 13:54] avdg commented on #1029
Don't forget that the source of chakra is open source by now, see https://github.com/Microsoft/ChakraCore. I did try to search the code for uglifyjs specific stuff when the code got open sourced, but failed to find some.

[2016-04-03 23:59] PokemonAshLovesMyTurkeyAndILikeYouTwo opened #1030 "Please help with Template Strings"
The only thing I am using is template strings in my files.. and I am trying to minify them but am getting:
[code]

I'm not using any other es6 stuff. I am curious if it's possible to edit the source of uglify so it can just skip this step or something?

Thanks!

[2016-04-04 01:09] PokemonAshLovesMyTurkeyAndILikeYouTwo commented on #448
Do you guys know if it's possible to edit one of the files here:

uglify-js\lib

and make it so the uglifying process basically skips template strings?

See my [issue](https://github.com/mishoo/UglifyJS2/issues/1030), I know ES6 support isn't ready, but I'm only using template strings and just need to find a way to skip that process if possible

[2016-04-04 02:23] PokemonAshLovesMyTurkeyAndILikeYouTwo commented on #448
### Great News! Template Strings are now working!

Follow these simple steps:

### Step 1
Add this snippet to the bottom of the `read_string` function inside /lib/parse.js

[code]

### Step 2

Replace the switch statement inside `function next_token` in /lib/parse.js to:

[code]

Since tilde key has a keyCode of 96

### Step 3

Now in `/lib/output.js` replace the `function quote_single()` with:

[

[2016-04-04 02:26] PokemonAshLovesMyTurkeyAndILikeYouTwo commented on #1030
I did a very hacky patch here:

https://github.com/mishoo/UglifyJS2/issues/448#issuecomment-205105134

Can close, ty everyone!

[2016-04-04 02:26] #1030 closed

[2016-04-04 08:08] rvanvelzen commented on #448
They've been working for ages in the harmony branch. Please don't misinform other people by posting junk fixes.

[2016-04-04 08:15] PokemonAshLovesMyTurkeyAndILikeYouTwo commented on #448
Last time I checked 'working on' doesn't mean it's available for the public for use. My fix works fine for me, especially since I'm ONLY using template strings and need my game to be compiled now. I don't got time to wait for ages, nor condescending people like you who don't appreciate anything.

[2016-04-04 08:16] rr- commented on #448
Or you can just target `harmony` branch in your `package.json` and not have to maintain some weird local fixes.

[2016-04-04 08:20] mgol commented on #448
@PokemonAshLovesMyTurkeyAndILikeYouTwo Your hack is incorrect, you can't just remove white spaces from inside template strings, this changes what the code does.

[2016-04-04 08:31] PokemonAshLovesMyTurkeyAndILikeYouTwo commented on #448
@mgol

Hack may be 'incorrect', but I have [compiled tons of script using it](https://i.gyazo.com/bb9c9f8c391284862e48fcc0528c6201.png)
 with no issues.

@rr- That's a good idea and way better than my solution. I didn't know you could use harmony / git like that. I wish I knew, I would of just did that.

[2016-04-04 08:35] mgol commented on #448
You may have as well compiled tons of scripts where you replace all occurrences of the string `'all'` with `'none'` but if it worked for you this still wouldn't prove this patch is right.

[2016-04-04 17:50] #1029 closed

[2016-04-04 18:24] kzc commented on #1025
This issue is trickier than it appears.

Dropping the built in reference to `Array.prototype.join` would be harmless in most situations. But because Uglify lacks program flow analysis the uglify compressor treats `Array` like any other global symbol that could have side effects when its properties are referenced. If some pathological code set `global.Array` (or `window.Array` in a browser) to an i

[2016-04-05 11:55] yurks commented on #1025
got it, thanks for explanation. Then yes, maybe compress flag will be useful in this case.

[2016-04-05 12:09] kzc commented on #1025
Note that uglify already warns about the side effects of the unused var so that programmers can take appropriate action.

    WARN: Side effects in initialization of unused variable a [example.js:2,7]

[2016-04-05 12:26] mishoo commented on #1025
Not only that, but accessing an object's property can have side effects if setters/getters are defined.  But if you want getters to be treated as side-effect-free, you can pass `-c pure_getters=true`.

Closing this, there's no better fix.

[2016-04-05 12:26] #1025 closed

[2016-04-05 15:28] kzc commented on #1025
@mishoo The example at the top of this ticket may be contrived, but there is merit to having an option to specify some assumed global objects and their properties so that a reference of such a symbol would not be a side effect unto itself. This would help the compress option `collapse_vars` in particular.

For example: presently this code cannot be optimized by `collapse_vars` because the expressi

[2016-04-07 08:21] jdalton opened #1031 "uglify options created from Object.create(null) cause error."
Because of [UglifyJS2/lib/utils.js#L110](https://github.com/mishoo/UglifyJS2/blob/ee6c9fabb7dc00b8bbc9e60859767acc585cd0fa/lib/utils.js#L110) if an options object is created with `Object.create(null)` it causes an error. I ran into the issue over at https://github.com/lodash/lodash/commit/7f8eb2ee50dc51a3d7960cf17191fcc3c8094716.

[2016-04-07 08:22] jdalton commented on #1031
I ran into the issue https://github.com/lodash/lodash/commit/7f8eb2ee50dc51a3d7960cf17191fcc3c8094716.

[2016-04-07 10:16] #1031 closed

[2016-04-07 14:19] jdalton commented on #1031
:yum:

[2016-04-09 12:25] nkCreation opened #1033 "Error when using uglifyJS inside a npm script"
Hello.

First, thank's for the job, uglifyJS is a very great thing.
I learnt it today and when I run this on the CMD it works fine.
<pre>uglifyjs public/src/js/*.js -m -o public/dist/js/app.js</pre>

But when I wrap this into a npm script and then run the script it fails.
<pre>npm run uglify</pre>

<pre>ERROR: can't read file: public/src/js/*.js</pre>

I'm on Windows 10, using Git Bash.

here is m

[2016-04-09 13:11] kzc commented on #1033
`uglifyjs` doesn't handle glob file expansion. In your first example the glob is expanded by the shell. I don't know what npm does on Windows. It may invoke the command via `cmd.exe` where glob expansion doesn't work. It's a question for the npm maintainers.

[2016-04-09 16:54] kzc commented on #1033
If `bash` is reachable in your Windows `PATH` and you don't care about portability you could do this:
[code]

[2016-04-09 21:47] 5lava opened #1034 "False/redundant "Dropping unreachable code" warnings"
[code]
[code]
[code]
[code]
[code]

[2016-04-09 23:29] kzc commented on #1034
Thanks for the bug report.

Good thing that the code emitted is still valid despite the incorrect warning.

Interesting. No warning if function definition precedes invocation - function was already hoisted.
[code]
[code]

[2016-04-10 05:32] kzc commented on #1034
@mishoo @rvanvelzen Does this look correct?

[code]

`eliminate_dead_code()` wasn't expecting an `AST_Defun` after a statement that aborts (return, throw, etc) as is the case when local functions are not hoisted. However `extract_declarations_from_unreachable_code()` must still be called from `eliminate_dead_code()` on statements after aborts in order to drop actual unused functions.

After patch:

[2016-04-10 07:48] pako-pl opened #1035 "--comments option does not preserver jQuery license header by default"
It would be nice if the `--comments` command line argument caused UglifyJS2 to preserve license headers in this form (without having to write a regular expression):

[code]

[code]

[code]

You could detect comments starting wih `/*!` and containing the string `license` in any case.

[2016-04-10 07:54] pako-pl opened #1036 "--no-source-map-url option"
Sometimes it would be useful to prevent UglifyJS2 from adding the following tag at the bottom of a minified file with a source map:

[code]

It's always a few bytes less in the final output. In our case, we would prefer to conditionally add a `X-SourceMap:` HTTP header (for example, when a developer is logged in) - of course we would have to handle this on our side.

Perhaps you could add a `--no-

[2016-04-10 07:59] pako-pl commented on #1035
I noticed there was a pull request for this for the older version of UglisyJS: https://github.com/mishoo/UglifyJS/pull/332

[2016-04-10 14:42] avdg commented on #1035
Just by reading the documentation, it should work like google closure compiler.

[code]

Anyway, if most projects use /*! style license comments, maybe the filter should be done that way by default. Given that jquery is used by a lot of projects, it might add lots of weight to this result as well.

[2016-04-10 17:46] rvanvelzen commented on #1034
Only silencing the notice doesn't seem like a clear solution to me. What do you think about this? It produces the same warnings but without silencing anything:

[code]

[2016-04-10 19:06] kzc commented on #1034
@rvanvelzen It's a variation of the previous patch except it executes an extra `if` condition for each node walked. But I'm not 100% certain your patch will emit the warning in other scenarios as far as the AST_Scope condition is concerned. In my opinion it is easier to reason that the previous patch will continue to emit the warnings it used to while not emitting the erroneous warning for the non

[2016-04-10 20:01] kzc commented on #1034
Potential fix in PR https://github.com/mishoo/UglifyJS2/pull/1037
Also includes `expect_warnings` test framework addition.

[2016-04-10 23:48] giacomocerquone commented on #1004
+1 I've got the same problem.
Here the output received after trying to compress my es6 working script:

[code]

[2016-04-11 08:00] fabiosantoscode commented on #1004
@giacomocerquone are you using the harmony branch of UglifyJS? It should parse most arrow functions (so there shouldn't be a parse error), but with the wrong precedence.

[2016-04-11 16:17] #1034 closed

[2016-04-11 18:21] yurydelendik opened #1038 "Compressed code throws "Maximum call stack size exceeded" on Chrome"
While it's V8's issue (see https://bugs.chromium.org/p/chromium/issues/detail?id=602262), it's recommended to split really long sequence operators expression (,) so Chrome could consume the output.

Originally reported at https://github.com/mozilla/pdf.js/issues/7044 . Workaround is to use `sequences: false` option for compressor.

[2016-04-11 18:26] mishoo commented on #1038
We already have [something like this](https://github.com/mishoo/UglifyJS2/blob/master/lib/compress.js#L676) in place.  That allows at most 2000 statements to be joined in a sequence.  Should we lower the number?  Is there some safe limit?

[2016-04-11 18:53] yurydelendik commented on #1038
Here is output https://gist.github.com/yurydelendik/6b4e578fe080802bac7d554fde3d57f9 of https://github.com/mozilla/pdf.js/blob/master/src/core/glyphlist.js#L29 . There are more than 4000 commas (,) and no ';' in the function body.

[2016-04-11 19:02] kzc commented on #1038
Duplicate of bug: https://github.com/mishoo/UglifyJS2/issues/823 Chrome x64 crashes when "sequences" switch ON

The uglify sequence generation limit could conceivably be user settable via `sequences=n` where `n` the maximum number of elements in a sequence. This would remain compatible with `true` and `false`.

But the thing is this is actually a serious Chrome/V8 bug that could potentially lead t

[2016-04-11 23:15] gcbw opened #1039 "IE6, IE7, IE8: catch() scope leak."
latest version is screwing IE6~8 without --screw-ie8. didn't happen on the last version i tested with this code uglify-js 2.4.16 (not sure when it started, but investigating)

state of matters:

[code]

only tested IE6 and 8, but safe to assume 7 is the same(?).

It is good practice, if you are suffering on supporting old IE, to add a `var e` in the functions using `catch(e)` so your `e` won't ina

[2016-04-12 00:04] 5lava commented on #1034
Thank you!

[2016-04-12 00:18] gcbw commented on #1039
an actual test case:
[code]

and the result with `uglify-js@2.6.2`:
[code]

[2016-04-12 01:05] kzc commented on #1039
Closure drops the unused var as well, but If you wish to keep it use `uglifyjs -c unused=false` or don't compress at all.

[2016-04-12 01:11] gcbw commented on #1039
the argument i was trying to make is that that var is used if you consider ie6-8. it serves the purpose of forcing ie6-8 to not taint the global scope, as other browsers do by default.

[2016-04-12 10:00] giacomocerquone commented on #1004
No, I'm not using the harmony branch. Can I install it from npm?

[2016-04-12 10:02] giacomocerquone commented on #1004
Well i saw there is a package "uglify-js-harmony".
I'd suggest to write in the readme of the harmony branch to correct the installation process.

[2016-04-12 10:42] fabiosantoscode commented on #1004
The suggedted approach was `npm install "mishoo/UglifyJS2#harmony"` to install from github.

I didn't know about that module though.

But adding it to the readme (surrounded with the words "experimental" and "beta") is a great idea! A lot of questions come up about it

[2016-04-12 11:17] #1038 closed

[2016-04-12 11:19] mishoo commented on #823
Fixed in b5a7a231f7e9f09cc00e92c970d304d6071f7ac1.

[2016-04-12 11:19] #823 closed

[2016-04-12 11:21] mishoo commented on #863
Should be fixed in b5a7a231f7e9f09cc00e92c970d304d6071f7ac1.

[2016-04-12 11:21] #863 closed

[2016-04-12 14:35] mojoaxel commented on #414
Sadly this problem still exists in v2.6.2.
Using the `compress` option results in the error: `RangeError: Maximum call stack size exceeded`, without any helpful debug information.

I'm using [this source file](https://raw.githubusercontent.com/mojoaxel/UglifyJS2-issue414-example/master/app.js):
[code]

[2016-04-12 16:04] kzc opened #1041 "`/*@const*/ var goog = goog || {};` causes RangeError: Maximum call stack size exceeded"
Reported in: https://github.com/mishoo/UglifyJS2/issues/414#issuecomment-208936748

bug in v2.6.2 and master:
[code]
Drop the `@` and the bug goes away:
[code]

Related PR: https://github.com/mishoo/UglifyJS2/pull/928/commits

@STRML Do you mind taking a look?

[2016-04-12 16:07] STRML commented on #1041
It appears the issue isn't just caused by the pragma, but by any use of const:

[code]

[2016-04-12 16:09] kzc commented on #1041
Good to know. This bug is up for grabs.

[2016-04-12 16:09] STRML commented on #1041
The issue appears to be caused by referencing a variable of the same name in an upper scope. For example, this does not exhibit the error:

[code]

[2016-04-12 16:10] kzc commented on #414
@mojoaxel I think app.js has a couple of different issues on master.

Here's one of them: #1041

[2016-04-12 16:19] kzc commented on #1041
[original code fragment](https://raw.githubusercontent.com/mojoaxel/UglifyJS2-issue414-example/master/app.js) found in wild:

[code]

[2016-04-12 16:47] kzc commented on #414
@mojoaxel

Until #1041 is fixed you can remove the `@const` pragma in your JS:
[code]
The other issue is just stack size. Workaround:

    node /path/to/uglifyjs --stack-size=1000 app.js -c

[2016-04-12 17:20] lee-houghton commented on #409
I've also noticed this. It resulted in a button in our product mysteriously not working despite the code looking correct. It seems like it is definitely the same issue, but I'll post my version anyway, just in case it's different in some way that I don't understand.

Thankfully there is a workaround, but it is easy to slip up and accidentally trigger this behaviour.

In my case it was compiled usi

[2016-04-12 17:26] rvanvelzen commented on #409
Maybe we should just warn on shadowed names in catch blocks. It should be obvious (by now) that it's a Bad Thing™ to do.

[2016-04-12 17:35] lee-houghton commented on #409
It may be obvious after reading this thread, sure. But I think this behaviour is very unexpected beforehand; it certainly took me by surprise.

I think a warning would probably suffice for cases like mine, as long as the warning gives some sort of idea of what problem might result from it. If it were just something like "warning: catch block variable shadows variable from enclosing scope", that wo

[2016-04-12 18:07] mojoaxel commented on #414
@kzc Thanks for the quick response!
This code-snippet is obviously [part of google's closure lib](https://github.com/google/closure-library/blob/master/closure/goog/base.js#L40). Therefore it is not that simple to just change the code ;-) No problem we wait for #1041.

We use UglifyJS2 as part of the [webpack uglifyjs-plugin].(https://webpack.github.io/docs/list-of-plugins.html#uglifyjsplugin). I

[2016-04-12 18:26] kzc commented on #414
`sed` can do wonders.

I think `@const` functionality really ought to be behind its own compress flag as there's no way to disable it.

Isn't webpack itself a node program? If so, run it with `node --stack-size=10000`

[2016-04-12 18:50] kzc commented on #414
Workaround until fix released:

     echo '/* @const */ var goog = goog || {};' | uglifyjs -c evaluate=false

[2016-04-13 07:15] rr- opened #1043 "[ES6] Support for generators"
I'm on Harmony branch. Following:

[code]

causes error:

[code]

[2016-04-13 12:28] rvanvelzen commented on #1043
I just merged #959, but I think it doesn't compress completely correctly yet - the `yield` statement is dropped.

[2016-04-13 13:03] #1041 closed

[2016-04-13 22:27] olvlvl opened #1044 "[ES6] Class definition in ternary operator"
Defining a class using a ternary operator throws a "Cannot evaluate a statement" error, although the syntax is valid:

[code]

The following code throws the same exception:

[code]

This is fine:

[code]

[2016-04-14 06:32] jlgoolsbee commented on #263
+1

[2016-04-16 00:26] kzc commented on #993
See PR #1045

[2016-04-16 08:50] #993 closed

[2016-04-16 12:16] kzc opened #1046 "Is this correct html5_comments parsing behavior?"
Tested using 2.6.2 release, not master:

[code]

[2016-04-17 15:08] rvanvelzen commented on #1046
Yes - `f(5)` should return `8` (as major browsers all do).

This doesn't have to do with JS itself, but how script tags are read.

[2016-04-18 02:27] kzc commented on #1046
Seems completely counterintuitive, but who can argue with browser convention.

Closure emits the same output and provides the best explanation of the phenomenon that I could find:
[code]

[2016-04-18 02:27] #1046 closed

[2016-04-18 02:42] michaelficarra commented on #1046
This behaviour is defined in [B.1.3](https://tc39.github.io/ecma262/#sec-html-like-comments). Note that this is only applied in sloppy mode and is optional outside a browser environment.

[2016-04-18 08:15] binarykitchen opened #1048 "Can't find parameters for compressing but keeping new lines?"
i d like to minify my sources, but keep new lines, for special reasons. how can i configure that?

tried many combinations, i.E.

[code]

but no luck. any clues?

thanks!

[2016-04-18 10:56] rvanvelzen commented on #1048
The `preserve_line` option should come close to what you need.

[2016-04-18 11:13] binarykitchen commented on #1048
yeah, this one but without intendation and any unnecessary whitespace. just want to keep line breaks, nothing else. how can i configure this?

[2016-04-18 11:42] rvanvelzen commented on #1048
You can't. `preserve_line` will *attempt* to keep stuff on their original line. There is no other option.

[2016-04-18 11:42] #1048 closed

[2016-04-18 11:42] kzc commented on #1048
@binarykitchen It works on the command line:

    uglifyjs *.js -b 'beautify=true,indent_level=0,indent_start=0,space_colon=0'

[2016-04-19 06:34] binarykitchen commented on #1048
thanks it worked

[2016-04-19 07:10] Shuliyey opened #1049 "What would be the equivalent thing to do in code for this command?"
I'm trying to do the same thing that the below terminal command does in pure node.js code.

[code]
with the above command I managed to get 3,114KB.

However when I do this is pure node.js code.

[code]
I get 3,116KB for the above implementation.

The 3,114KB minified file works with no problem. But with the 3,116KB minified file I got the below javascript error

![image](https://cloud.githubuserco

[2016-04-19 08:03] Shuliyey commented on #1049
Sorry Please ignore this issue, It turns out I was passing in the files in the wrong order. The final minified file size is still different. However I don't get the **"Cannot read property error anymore"**

[2016-04-19 08:03] #1049 closed

[2016-04-19 17:00] skyrpex opened #1050 "Invalid output when using CRLF and comments"
I'm using UglifyJS 2.6.1.

I have a file with CLRF endings, and starts with a comment (test_error.js). UglifyJS won't throw any errors or warnings, and the output will be empty.

If I switch to LF endings (test_ok.js), UglifyJS will work as expected. It'll also work if I remove the comment.

[uglifyjs.zip](https://github.com/mishoo/UglifyJS2/files/226407/uglifyjs.zip)

Could you please look into t

[2016-04-19 17:48] rvanvelzen commented on #1050
You seem to have *only* CRs at line-endings, which UglifyJS does not support.

[code]

Because we don't read single CRs as line endings, the first line comment (`//UI ...`) continues until EOF.

We should probably recognize all permitted line endings properly. (http://www.ecma-international.org/ecma-262/6.0/#sec-line-terminators)

[2016-04-19 18:03] #1044 closed

[2016-04-19 18:03] rvanvelzen commented on #1044
Fixed via 	8571a08

[2016-04-19 19:57] jwilkinson opened #1051 "Update to Qunit is breaking Uglify2 in Require JS"
I recently did a bower update, and it updated qUnit a dependancie of require and uglify and then now I can't run the Uglify2 process.

[2016-04-19 20:08] kzc commented on #1051
You've provided no information to suggest it's an uglify-js problem. Try asking qUnit or bower projects.

[2016-04-19 20:11] jwilkinson commented on #1051
I have asked both Qunit, and RequireJS, Qunit said that Uglify is using Qunit wrong https://github.com/jquery/qunit/issues/982

[2016-04-19 20:23] kzc commented on #1051
uglify doesn't use qunit

Not sure what you're doing or what's a Qunit but you're looking for the uglify option `bare_returns`.

[2016-04-19 20:40] jwilkinson commented on #1051
Thank you that is a very helpful flag I didn't know about, looks like the issue is with bower now :( off to another race

[2016-04-19 20:40] #1051 closed

[2016-04-19 22:14] skyrpex commented on #1050
Thanks for diving into this.

Yes, it would be nice!

Here, at my company, we were compressing lots of files before uploading to production. We detected that almost two of them had this problem. We managed to overcome this problem by detecting empty outputs and replacing the compressed file with the original file. It's tricky but works while we fix the line endings.

[2016-04-20 08:59] Delagen commented on #999
+1

[2016-04-20 11:20] makingoff commented on #103
If i use `--mangle` constructions like that:
[code]
gonna translate to something like that:
[code]
(this is compiled code of browserify)

If i use `--mangle-props` instead this trick won't work. But if i use `--mangle-regex` than an option `--mangle` just ignored. But it works with `--mangle-props`.

So! If there is the way to mix `--mangle` and `--mangle-regex` for private methods i would be sooo

[2016-04-21 19:10] jcrben commented on #39
https://www.npmjs.com/package/uglifyjs is 2.4.1,
whereas
https://www.npmjs.com/package/uglify-js is 2.6.2

Shouldn't you just redirect one to the other?

[2016-04-21 21:01] kzc commented on #39
One would think.

#936

[2016-04-22 21:01] rwaldron commented on #1043
Also encountering this:

[code]

The `*` gets dropped:

[code]

[2016-04-23 17:48] mgol opened #1052 "Functions are sometimes put inside if blocks, breaking current Firefox, Safari & IE 10"
This is related to #179. *Current* Firefox & Safari as well as IE 10 don't accept function declarations inside and UglifyJS 2.6.2 with `compress` options:
[code]
sometimes applies such a treatment.

This caused syntax errors in mentioned browsers on current jQuery `master` (source from [commit 3befe5911a](https://github.com/jquery/jquery/tree/3befe5911af0cf516896482bb9ddf197c8cb8a8e)) where we ena

[2016-04-23 17:49] mgol commented on #179
A related issue (#1052) has just broken jQuery minification in current (!) Firefox, Safari as well as IE 10.

[2016-04-23 19:22] kzc commented on #1052
@mgol There are too many external links for me to understand the issue. Can you please post in this ticket (1) a complete reduced test case of the javascript input, and (2) the uglify output with a comment beside the problematic generated code.

[2016-04-23 20:49] mgol commented on #1052
Sorry, I should've started with a reduced test case, I just hoped someone will know what's going on.

The test case is as follows - with the source file:
[code]
running:
[code]
results in:
[code]
which wasn't allowed in ES5 & many browsers (including current Firefox, Safari & IE 10) throw an immediate Syntax Error when such code is encountered. The original code works fine.

Note that if you remov

[2016-04-23 20:56] rvanvelzen commented on #1052
Is there a specific reason for disabling `hoist_funs`? At least for now, enabling it should resolve this issue.

E.g., the output *with* `hoist_funs`:

[code]

... which is functionally the same.

[2016-04-23 21:02] mgol commented on #1052
If we don't disable `hoist_funs`, the full jQuery minified+gzipped build will get larger by 496 bytes. That's a lot from our perspective, we sometimes reject non-critical patches slightly improving some logic if it bumped the size by 100-200 bytes.

[2016-04-23 21:23] mgol commented on #1052
For now I resolved it by also disabling `if_return` but it also increases the size; not by 496 bytes but by 90 but it's still a significant amount.

[2016-04-23 21:46] mishoo commented on #1052
I agree it is a bug and it should be fixed.

[2016-04-23 21:47] rvanvelzen commented on #1052
I've a potential fix, PR coming up.

[2016-04-23 22:00] mishoo commented on #1052
@rvanvelzen Thanks!  It looks good to me.  Can't do a proper review right now though.

@mgol Can you test with the attached patch?

Any case, this issue makes me think that hoisting is actually the right thing to do—even if it increases the file size.  For a library the size of jQuery, 500 more bytes shouldn't be a big deal…

[2016-04-24 05:36] not-an-aardvark opened #1054 "[ES6] Property assignment to a yield expression results in a syntax error"
I'm using the harmony branch of UglifyJS2.

When minifying this file:

[code]

Uglify gives this output:

[code]

Evaluating this output results in a syntax error because the equals sign after "property" is incorrectly surrounded by parentheses.

[2016-04-24 12:14] mgol opened #1055 "Truncated output of `--help` with Node v6.0.0"
`uglify-js --help` output is truncated in Node v6.0.0-rc.3. I'd guess the cause is similar to https://github.com/nodejs/node/issues/6297 (reported also as https://github.com/alanshaw/david/issues/106) i.e. `process.exit()` doesn't guarantee flushing `stdout` & `stderr`.

Output:
[code]

[2016-04-24 15:18] kzc commented on #1055
The node issue outlines various potential workarounds, both in user applications and Node itself: https://github.com/nodejs/node/issues/6297. None of which are great. Waiting for direction from the NodeJS project.

[2016-04-24 17:12] kzc commented on #1055
One workaround involves setting `process.exitCode` instead of calling `process.exit()` but it does not work on node v0.10.41 (a version I had on hand) or jxcore. `process.exitCode` is supported on node 0.12.x and later versions.

The npm module "exit" does work on node 0.10.x however. The fix would be to `require("exit")` in `bin/uglifyjs` and replace all occurrences of `process.exit` with `exit`.

[2016-04-24 17:36] kzc commented on #1055
Fix in PR #1056

[2016-04-24 20:03] mgol commented on #1052
I'll look into it tomorrow.

[2016-04-25 20:57] chicoxyzzy opened #1058 "using uglifyjs for dead code elimination without minification"
is there a simple way to configure uglifyjs to apply only dead_code compression?

[2016-04-25 22:02] mgol commented on #1052
@mishoo https://github.com/mishoo/UglifyJS2/pull/1053#issuecomment-214541406

[2016-04-25 22:05] mgol commented on #1052
Full jQuery is currently around 30 KB minified+gzipped. 500 bytes might seem like not a lot but if we didn't care about such changes, landing a couple of them could easily bump the size to 33 KB or more. For a library loaded by half of the internet, that's actually making a big difference.

[2016-04-26 15:57] kzc commented on #1050
Fix in PR #1057

[2016-04-26 19:09] #1052 closed

[2016-04-26 21:22] mgol commented on #1055
Node 6.0.0 final has been released.

[2016-04-26 21:55] kzc commented on #1055
@mishoo In light of this Node 6.0.0 release and the truncated output of `--help` on Mac, it's probably worth cutting a new Uglify release with PR #1056 included. I tested it on Mac and Linux and it works on node versions 0.10.x through to 6.0.0.

I also have a CR-line-ending parsing fix in the PR queue pending review that is pretty low risk.

[2016-04-26 23:29] not-an-aardvark commented on #1054
(Fixed in #1059)

[2016-04-26 23:29] #1054 closed

[2016-04-27 06:25] mishoo commented on #1055
If there's a solution that works after Node 0.12 and doesn't involve a dependency, I'd prefer to go with that.  I don't think too many people use older Node…

[2016-04-27 07:05] kzc commented on #1055
If you look at the code for the `exit` module it's a couple of dozen lines. You could copy it right into the uglify source tree if you like.

As for using `process.exitCode` which works with node 0.12.x and later, it would involve a changing the logic in `bin/uglifyjs`.

I think the `exit` module is preferable as it involves the smallest code change and continues to work on node 0.10.x.

[2016-04-27 10:25] mgol commented on #1055
Node.js 0.10 is still [downloaded a lot](https://nodejs.org/metrics/summaries/version.png), its download count is half of that of Node 5 even though it's Node 5 that's been available directly to download from the main https://nodejs.org/ site.

So, unfortunately, Node 0.10 is still used a lot.

[2016-04-27 14:49] kzc commented on #1055
`bin/uglifyjs` already relies on the external modules `yargs` and `async`. I don't see an issue with adding a third dependency for the small self-contained module `exit`.

[2016-04-29 20:23] andrewfaria commented on #414
Yeah... with Google Closure, after webpack does it's thing, I run this:
[code]

[2016-04-30 22:25] kzc commented on #1055
`exit` module not suitable to replace `process.exit()`: https://github.com/nodejs/node/pull/6410#issuecomment-215988884

[2016-05-01 05:05] kzc commented on #1055
A better fix: #1061

[2016-05-01 17:32] not-an-aardvark opened #1062 "[harmony] Mangling changes ES2015 class names"
Using Node 6.0.0 with the harmony branch of Uglify (currently commit d1b4f61):

[code]

[code]

The class name `Foo` gets mangled to `o`, which has an effect on the output of the script.

[2016-05-02 13:59] avdg opened #1063 "Passing comments=true doesn't work as intended with compute_char_frequency"
[code]

Expected to see comments in output

Observed `OutputStream` object being created twice with, with one creating `{comments: false}` while compute_char_frequency is being executed and one while creating the `OutputStream` object ourself as done on line 8 on the example above.

Putting `console.log(options)` at https://github.com/mishoo/UglifyJS2/blob/07bb7262d02547cef5ffaca71d49c86640a1df15/

[2016-05-02 14:12] kzc commented on #1063
It works on the command line.
[code]
The logic in `bin/uglifyjs` would appear to differ from the script provided.

[2016-05-02 14:23] avdg commented on #1063
Not sure what this line does: `ast.transform(new uglifyJs.Compressor({}));`

[2016-05-02 14:23] avdg commented on #1063
@papandreou ?

[2016-05-02 14:24] kzc commented on #1063
@avdg It runs `compress`.

[2016-05-02 14:26] avdg commented on #1063
compared to https://github.com/mishoo/UglifyJS2/blob/master/tools/node.js#L80

[2016-05-02 14:26] kzc commented on #1063
It should look like this:

            TOPLEVEL = TOPLEVEL.transform(compressor);

since it returns an AST.

[2016-05-02 14:30] papandreou commented on #1063
[code]

That doesn't help, unfortunately.

[2016-05-02 14:34] kzc commented on #1063
If the script provided is modified to not compress and mangle then it produces the desired result:
[code]
So something differs between the script provided and `bin/uglifyjs` with respect to compress or mangle.

[2016-05-02 14:49] avdg commented on #1063
@papandreou does this work?

[code]

[2016-05-02 14:51] avdg commented on #1063
Something seems to be broken on master though...

[2016-05-02 14:51] papandreou commented on #1063
@avdg No :/

You can easily try it out yourself, btw.

[2016-05-02 14:54] avdg commented on #1063
ah, it's just because I'm confused between global and local installation and found out I was testing with an older version.

[2016-05-02 14:57] avdg commented on #1063
Anyway, what seems to be borken on master:

At https://github.com/mishoo/UglifyJS2/blob/master/lib/output.js#L419

Just append following code on local checkout:

[code]

[2016-05-02 15:28] avdg commented on #1063
Same result for

[code]

[2016-05-02 15:50] avdg commented on #1063
Seems also to be interesting to put some code after this line of code:

https://github.com/mishoo/UglifyJS2/blob/master/lib/output.js#L337

[code]

[2016-05-02 18:20] avdg commented on #1063
It's hard to debug things when all stuff is done in generated code :/ This might take some time to fix

[2016-05-02 18:24] avdg commented on #1063
And no, it shouldn't have anything to do with my patch, the code doesn't even get feeded with the right data...

[2016-05-02 18:39] avdg commented on #1063
`compute_char_frequency` seems to be generating its own OutputStream object, still not sure how this causes the wrong output

[2016-05-02 18:42] avdg commented on #1063
This code works correctly without `compute_char_frequency`

[2016-05-02 21:58] avdg commented on #1063
Updated issue summary. It should reflex current discussion up to this comment.

[2016-05-02 22:01] papandreou commented on #1063
I managed to work around the problem by doing almost exactly like the uglify-js binary (https://github.com/assetgraph/assetgraph/commit/4b97e20c599bb9b27106f1c6e0c42a5ded4a3b92), which means using a `readNameCache` and not running `compute_char_frequency`.

It still seems like something is wrong here, of course.

[2016-05-03 07:11] johnx7271 opened #1064 "RequireJS 2.1.18 can not be correctly processed, the source-mapping also not work here."
RequireJS (testing version 2.1.18) can not be correctly processed, and the source-mapping also not work here.
The uglify version is latest, 2.6.2

cmd line:
uglifyjs static\require.js -m -c -o output\static\req.js --source-map output\static\req.js.map
or api: UglifyJS.minify(content, conf) both give incorrect result.

In Google Chrome, the local variable names are not mapped back, and the line map

[2016-05-03 11:50] avdg opened #1065 "Non-uniform paths causing tests to fail"
Likely caused by 3907a5e3b2c40904f2cb333ede23d6d59bb48c13

Instead of `"WARN: Dropping unreachable code [test/compress/issue-1034.js:95,16]"` I got `"WARN: Dropping unreachable code [C:\\Users\\Anthony\\Documents\\GitHub\\UglifyJS2\\test\\compress\\issue-1034.js:95,16]"`

I'm not sure if this is a windows only issue.

[2016-05-03 12:09] avdg commented on #1065
I think it may be caused by the usage of a different path separator (`\` instead of `/`)

[2016-05-03 12:53] kzc commented on #1063
It's a general problem in mangle with comments immediately before AST_Constants affecting `bin/uglifyjs` as well as `Uglify.minify()`. See comment `c3` below.

without mangle:
[code]
with mangle:
[code]
If the following line in `compute_char_frequency` in `lib/scope.js` is commented out then `/*c3*/` will be output with mangle:
[code]
The `print_to_string` function is defined in `lib/output.js` as

[2016-05-03 12:59] kzc commented on #1065
It's probably this commit: https://github.com/mishoo/UglifyJS2/commit/c55dd5ed74888d533cf8402c6ba3612916ba2885

It has to be tweaked to handle Windows paths.

[2016-05-03 13:00] kzc commented on #1065
Actually you were right about the commit. Either way should be easy to fix.

[2016-05-03 13:01] kzc commented on #1065
@avdg If you have access to a Windows dev box, would you mind taking a crack at fixing it? I only have UNIX.

[2016-05-03 13:07] kzc commented on #1065
These are the lines which need tweaking on Windows for path chars:

https://github.com/mishoo/UglifyJS2/blob/3907a5e3b2c40904f2cb333ede23d6d59bb48c13/test/run-tests.js#L134-L135

[2016-05-03 13:27] avdg commented on #1065
yeah let me fix it when I have time to

[2016-05-03 14:28] kzc commented on #1065
@avdg Could you please test PR #1066?

[2016-05-03 14:59] avdg commented on #1065
Issue is way more complicated. The cwd isn't intercepted as the \ is escaped as well... pr won't be a fix

[2016-05-03 15:01] avdg commented on #1065
The double \\ is caused by JSON.stringify

[2016-05-03 15:03] avdg commented on #1065
See line https://github.com/mishoo/UglifyJS2/blob/3907a5e3b2c40904f2cb333ede23d6d59bb48c13/test/run-tests.js#L134

[2016-05-03 15:04] kzc commented on #1065
I got it. Working on another fix.

[2016-05-03 15:07] avdg commented on #1065
Also, the fix has to replace all occurrences of that path separator

[2016-05-03 15:38] avdg commented on #1065
I got a working fix now, pr coming up soon

[2016-05-03 15:47] avdg commented on #1065
pr up

[2016-05-03 15:59] kzc commented on #1065
It works fine. Good to commit.

[2016-05-03 16:39] avdg commented on #1063
Thanks @kzc, so it seems we should find another way to get data from a AST_CONSTANT node

[2016-05-03 16:40] avdg commented on #1063
Given the documentation, AST_CONSTANT represents any raw js data structure like strings, numbers, regex, objects, etc...

[2016-05-03 16:49] avdg commented on #1063
Documentation can be found here btw: http://lisperator.net/uglifyjs/ast

[2016-05-03 17:03] kzc commented on #1063
AST_Constant printing is non-trivial because it has to find the shortest form. 1e3 for 1000, etc, so I wouldn't want to recreate that code. "Just" have to find and fix the unwanted side effects of `print_to_string()`. A good challenge for anyone interested.

[2016-05-03 19:21] kzc commented on #1063
Fixed by #1068

[2016-05-03 19:55] avdg commented on #1063
Hmm... what happened actually? Does the ast keep state on if the comments are printed or not? Will this bug still occur when printing code twice?

[2016-05-03 20:01] kzc commented on #1063
That's correct. But `bin/uglifyjs` and `Uglify.minify()` only invoke output once.

I have no desire to untangle that output code. Just wanted to remove the side effects for mangle.

Output changing the AST is not a good thing though.

[2016-05-03 20:10] kzc commented on #1063
Let me qualify that - printing with the user's output options twice will arrive at the same AST.

Perhaps some calls to `print_to_string()` in `lib/compress.js` could benefit from the `reset` argument being true as well.

[2016-05-03 20:33] avdg commented on #1063
Uh... personally I'm strong in favor in state-free data gathering, but we'll see. I can't make changes when I don't know what's going on.

At least we have a fix, and identified some problems correctly. So there is good progress on that perspective.

[2016-05-03 20:54] kzc commented on #1063
I refined the patch to handle `print_to_string()` in `lib/compress.js` as well. Should retain comments in more cases.

[2016-05-04 06:44] rubyless opened #1069 "I use webpack UglifyJsPlugin for loadash template in js,but not i expect;"
[code]

the space between  "<%- prefix %>" and "span"  is not i expect . please help!!

[2016-05-04 07:49] avdg commented on #1069
Please report this issue on webpack. This is not a webpack issue tracker.

[2016-05-04 14:55] kzc commented on #1063
@avdg The PR was simplified to not have those `print_to_string()` AST altering properties set in the first place in `compute_char_frequency()`.

[2016-05-04 18:02] #1050 closed

[2016-05-04 18:06] #1055 closed

[2016-05-04 18:14] rvanvelzen commented on #1063
Fixed via #1068. Sorry for the delay, and thanks!

[2016-05-04 18:14] #1063 closed

[2016-05-04 18:15] rvanvelzen commented on #1065
Resolved via #1067. Thanks!

[2016-05-04 18:15] #1065 closed

[2016-05-04 18:15] skotturi commented on #984
this now works:
[code]

note, you need `"mangle"` and not `mangle` if you're using a jsOptions JSON config because `mangle: {}` is not valid JSON.

the full jsOptions object for some context (could help someone who finds this in the future):
[code]

[2016-05-04 18:15] #984 closed

[2016-05-04 18:15] rvanvelzen commented on #1062
Class names should be exempt from mangling when `keep-fnames` is enabled, as they're the same thing, really.

[2016-05-04 18:16] rvanvelzen commented on #1058
Not at the moment. Can you explain what your use case is?

[2016-05-04 18:18] rvanvelzen commented on #1069
We do not maintain, or are affiliated with, Webpack. Please report this issue with them.

[2016-05-04 18:18] #1069 closed

[2016-05-04 18:58] chicoxyzzy commented on #1058
I need to generate distinct builds of file with one section which is unique for each build. These builds are templates for partners of our company. They shouldn't know about each other and each build can include specific code. We don't need to minify or obfuscate this code because it should be human readable. Dead code elimination could help a lot. At this time I just replace/paste this section as

[2016-05-05 00:00] avdg commented on #1039
Related to #409?

[2016-05-05 00:10] gcbw commented on #1039
@avdg it is probably the same code path. but it is actually the opposite.

#409 is even worse, as the var (defined in the function parameter) is clearly being used besides existing in the `catch()`, and even then it is dropped.

Here, i am fully aware that it is not being used, but it still serve the purpose of not leaking outside of the scope on old IEs. So it should be correctly dropped *with* `

[2016-05-05 13:50] rvanvelzen commented on #1062
You can pass `keep_classnames` to prevent class names from being mangled.

In hindsight I'm not too sure whether having a separate flag is useful, but we can keep it anyway. Needs to be documented, though.

[2016-05-05 13:56] rvanvelzen commented on #1043
@rwaldron I'm unable to reproduce that particular issue at current HEAD of the harmony branch. Does that still happen?

[2016-05-05 13:57] rvanvelzen commented on #1064
I've encountered a whole bunch of issues in Google Chrome regarding source maps lately. It'll take some work to figure out what's going on.

[2016-05-05 14:51] kzc commented on #1064
This recent revert may be related: https://github.com/mishoo/UglifyJS2/pull/966

another v2.6.2 issue with small test case:
https://github.com/mishoo/UglifyJS2/issues/882#issuecomment-200340808
https://github.com/larpo/broken-sourcemaps/

[2016-05-05 16:49] not-an-aardvark commented on #1062
I see, thanks for the clarification.

[2016-05-05 16:49] #1062 closed

[2016-05-05 20:17] avdg commented on #448
I'm currently running some test262 tests on harmony to see how far we are progressed by now. There are quite some errors and the logs are huge (while the test is still running) but I hope to extract some useful information from it.

There's been a lot of work done on the harmony branch, and we might want to thank those who contributed to or made it possible to get the code base we have today.

[2016-05-06 03:29] arackaf commented on #448
A heartfelt thank you to the sharp devs who've put so much into this project.  I'm looking forward to using this tool to ship native ES6 to my users in the near future.

[2016-05-06 23:51] avdg commented on #448
This is the result I have from test262 thrown on the harmony branch of UglifyJS. It also contains the run environment data, but lacks detailed error messages.

https://gist.github.com/avdg/f34c991cf306a62ca67cc6622bc12c96

I hope it gives a nice overview on what still has to be done (I have no time yet to look it in details myself).

[2016-05-07 10:05] fabiosantoscode commented on #448
I was looking at the failures, and it seems a bit weird that things like Promise fail. Promise is not a syntax feature, it's a standard library addition, so I wouldn't expect any failures in uglifyjs.

[2016-05-07 10:15] fabiosantoscode commented on #970
The pull request has been merged. I suggest this issue is closed :)

[2016-05-07 11:01] avdg commented on #448
Promise errors aren't caused by UglifyJS, they are caused by node because the tests still have to be executed. I'm still working to get better information in the markup files to clarify that and will update the gist partially later. All that stuff is still in development.

Tests definitely caused by UglifyJS will get a rubberstamp  telling that the error is caused by UglifyJS soon. For now, only t

[2016-05-07 11:04] avdg commented on #448
I've updated the gist with fixes I've already made.

[2016-05-07 14:38] zhanzhenzhen opened #1071 "When will the `harmony` be released?"
Can't wait!

[2016-05-08 08:46] cuixiping opened #1072 "enclose option should be an array rather than string (CLI)"
Now we must use enclose option like this (CLI):
`uglifyjs foo.js -c --enclose window:window --enclose document:document`

It's better to use enclose option like this (CLI):
`uglifyjs foo.js -c --enclose window:window document:document`

Or like compress option style (CLI):
`uglifyjs foo.js -c --enclose window=window,document=document`

[2016-05-08 09:20] avdg commented on #1072
Easiest solution would be quotes. Else the document:document has to be recognised by yarg by configuring it because normally it would be recognised as input file.

[2016-05-08 09:21] avdg commented on #1072
Maybe a , can help too

[2016-05-08 17:07] cuixiping commented on #1072
yargs can recognize array. see [yargs array](https://github.com/yargs/yargs#arraykey).

## .array(key)

Tell the parser to interpret key as an array. If `.array('foo')` is set, `--foo foo bar` will be parsed as `['foo', 'bar']` rather than as `'foo'`.

[2016-05-08 20:41] jimmywarting opened #1073 "Unexpected exclamation mark"
I get a exclamation mark when i compile my code and get this error:

    new!function(a){
    ...^.....

[2016-05-08 20:44] avdg commented on #1073
Do you have some code to reproduce this bug?

[2016-05-09 04:51] kzc commented on #1072
That could break backwards compatibility. A file name can appear anywhere on the command line.

    uglifyjs -c --enclose window:window --enclose document:document foo.js

[2016-05-09 05:32] kzc commented on #1073
Uglify will happily process all sorts of invalid javascript:
[code]
and it may transform such invalid input into equally invalid code:
[code]
Closure and a couple of linters I tried also did not catch this ill-formed input. Garbage in, garbage out.

[2016-05-09 05:43] kzc commented on #1073
This is actually a legitimate uglify bug:
[code]
[code]

[2016-05-09 05:44] jimmywarting commented on #1073
@kzc the second example look similar to mine

[2016-05-09 05:47] kzc commented on #1073
A workaround:
[code]

[2016-05-09 05:57] kzc commented on #1073
Extra constraints needed here:

https://github.com/mishoo/UglifyJS2/blob/a0e03c9df47c411a40bceef02af2ce3dd1a329cc/lib/compress.js#L809-L841

[2016-05-09 06:34] fresheneesz commented on #321
@rvanvelzen Can you please comment on why you closed this issue? Has this been fixed in a recent version?

[2016-05-09 07:04] jimmywarting commented on #1073
Thanks for the help @kzc

[2016-05-09 14:27] volumeone opened #1075 "Illegal break statement - Compress option removes do statements when while is false. do { ... } while(false)"
In a do-while statement, if while is always false, it will remove the do and while, but leave the code inside the block. That makes sense unless there are break statements left over.

For example: this is a technique to avoid deeply nested IF statements:

[code]

Uglify converts that to this:

[code]

which causes an "Illegal break statement" error.

The do-while statements should not be removed w

[2016-05-09 14:40] mishoo commented on #1075
That's a good report.  I don't have an immediate fix, but just to show you how I write similar code:

[code]

There's no need for the `do/while`, unless you want to satisfy JSHint, which for some reason thinks the above code is not valid.

[2016-05-09 16:15] kzc commented on #1075
@volumeone Unable to reproduce.
[code]
[code]
Which uglify version and flags are you using?

[2016-05-09 18:14] potpath commented on #730
drop_console

[2016-05-09 22:15] volumeone commented on #1075
Thanks @kzc  I was using the wrong NPM package:  uglify-js2  which was at version 2.1.11.  I installed uglify-js with version 2.6.2 and that's no longer an issue.

[2016-05-09 22:15] #1075 closed

[2016-05-09 22:28] avdg commented on #1075
Yeah, this issue is a plague :-)

See #936

[2016-05-09 22:46] avdg commented on #448
Updated the gist even more now, some tests have their cause determined. Note that the results did ran on node 6.0.0 without the harmony flag. I should have done it with the flag on.

[2016-05-10 08:37] mishoo commented on #936
I agree that the package looks harmless, but it creates confusion.  I sent an email involving `support@npmjs.com`.  Let's see how it goes.  Remind me to ping them in 4 weeks if nothing happens.

[2016-05-10 09:07] cuixiping commented on #1072
@kzc so uglifyjs can use comma just like compress options. for example:
[code]
which is better than
`uglifyjs -c --enclose window:window --enclose document:document foo.js`

[2016-05-10 12:18] kzc commented on #936
@mishoo There are two problematic npm modules in question:

https://www.npmjs.com/package/uglifyjs (v2.4.10)
https://www.npmjs.com/package/uglify-js2  (v2.1.11)

The latter one https://www.npmjs.com/package/uglify-js2 is controlled by you and can be fixed.

[2016-05-10 13:24] vivekkodira1 opened #1076 "Upgrade grunt task to use latest version of uglify"
Several options do not work as they should (ex: drop_debugger, unsafe). When I run the grunt task, several lines of code are being removed. These include 'debugger' statements. Here is an example below.

### Source:
`var x = function() {
	debugger;
	console.log( "Hi" );
}`

### Options:
`"options":{
            /*sourceMap: false,*/
            /*beautify: true,*/
             mangle:false,

[2016-05-10 13:26] vivekkodira1 commented on #1076
My mistake. Raised this in the wrong github repository.

[2016-05-10 13:26] #1076 closed

[2016-05-11 10:02] isiahmeadows commented on #936
I feel the best way to address `uglify-js2` is to just deprecate it similarly to `coffeescript` (for `coffee-script`).

[2016-05-11 10:16] qqiangwu opened #1077 "Dead code elimination"
After running `uglify.minify(content)`, I've got the following code:

[code]

I just quite confused why the definition of o is not eliminated since t is !1 -> false.

Is this a bug or a feature? My version is 2.4.15

[2016-05-11 12:51] kzc commented on #1077
If you upgrade to the latest version and use `uglifyjs -c collapse_vars=true` it will produce:
[code]

[2016-05-11 12:53] #1077 closed

[2016-05-11 18:03] kzc commented on #936
There is another npm module name variation,  [uglifyjs2](https://www.npmjs.com/package/uglifyjs2), but it outputs this message upon install:
[code]
I believe that https://www.npmjs.com/package/uglify-js2 ought to do the same.

[2016-05-12 08:04] hakatashi commented on #103
Just an idea, but I think this feature can be implemented by 100%-compatible with the original code. That is, replace any call for properties with string literals and mangle long string literals to variables.

I'll show an example.

Original code:

[code]

Replace all calls for property names with string literal:

[code]

Then search for all occurrence of string literals in code, and mangle them w

[2016-05-13 08:41] vrbvillor opened #1078 "Mangle error."
Sometimes the script will do 'mangle', sometimes it misses. There are two effect script below, the **movie.js** will leave the `exports` and `module` (in the head `define`) what they are. But the `ppt.js` will change the `exports` and `module` to a shorter name as `i` and `e`.
And in the API doc, I see the param which is not used in the function will be removed. But both in these two script the ex

[2016-05-13 08:50] vrbvillor commented on #1078
Below are the uglified files of the two above using the DOS command:
[code]
## ppt.min.js
```javascript```
define(function(require,i,e){return function(i,e,n,t,f){function o(i){return i&&$(i).size()}if(!o(i))return;if(!t)t={};if(!f)f={};if(!n)n={};function r(i){return i&&/^[\+]?[0]*[1-9][\d]*$/.test(i)}var u=new Object,c=$(i).eq(0),s=!e?c.children():c.find(e),d=s.size();if(d<2)return;var a=0,l=0,h

[2016-05-13 09:07] avdg commented on #1078
A small test case reproducing the problem would be nice

[2016-05-13 13:05] egoroof commented on #1071
I have a better question: what is the current progress with es6 support? Is there any meta issue with steps of what is done?
cc @mishoo, @rvanvelzen, @kzc who else working on it, sorry if it is annoying сс

[2016-05-13 13:43] kzc commented on #1078
The issue title says "Mangle error." but does the uglified code in question still run correctly? If so, it's not an error.  It might be suboptimal, but that's another matter.

If you wish to drop unused *rightmost* function arguments you're probably looking for the compress option `keep_fargs=false`

Your command options don't look correct:
[code]
From the docs:

[2016-05-13 14:02] avdg commented on #1071
Hmm.. I wish we could prefer to spread the load (mind the ... operator :-)).

Just to read the stats on https://www.npmjs.com/package/uglify-js we have as I'm writing this about 9.5 million downloads this month. Many many many depending on this packet, and a few clones (all arguable countable objects ;-))

We have an open spec that can be found https://github.com/tc39/ecma262 where proposals can b

[2016-05-13 14:30] avdg commented on #448
Updated gist with harmony flag https://gist.github.com/avdg/b0dd9d9598cb70212293cb831c58fd05

[2016-05-13 14:34] avdg commented on #448
Uh wrong setup :-) I wanted to post some gist results but they were invalid.

[2016-05-13 16:30] Rush opened #1079 "Uglify harmony wrongly pushes let variable into for loop initializer"
Having such code:
[code]
Uglify produced:
[code]

Should have produced:
[code]

Problem: `let netmaskBinary = "";` initializer got pushed into the first for loop initializer and made second for loop reference some other `n`.

[2016-05-13 17:47] Martii commented on #448
@avdg
Hehe... one of those days/weeks. ;)  I appreciate your testing... steers me in some alternate directions/thoughts too. Keep up the great work... this applies to everyone too. :)

[2016-05-13 18:17] avdg commented on #448
Yeap, it's fixed :-)

https://gist.github.com/avdg/85ddc1e7ed2c6f32987446620fa958f2 - running on node with harmony flag

[2016-05-14 01:09] vrbvillor commented on #1078
@kzc  I type wrong in this issue, but I compress normally at command line. The focus is not whether it can compress but the different behavior of the two files.

[2016-05-14 12:27] rr- commented on #1079
I was just about to report it as well, but with arrays:

[code]

&rarr;

[code]

[2016-05-14 16:44] avdg commented on #1079
Cookies for cookiemonster (latest harmony commit on moment of writing this): https://github.com/mishoo/UglifyJS2/blob/e36e07fa77859bcd461234856c06c95cee0cfffe/lib/parse.js#L996

[2016-05-14 16:50] avdg commented on #1079
Hmm... I guess it's the compressor and/or scope analyser to blame for this

[2016-05-14 16:53] avdg commented on #1079
https://github.com/mishoo/UglifyJS2/blob/e36e07fa77859bcd461234856c06c95cee0cfffe/lib/scope.js#L207

[2016-05-14 17:07] avdg commented on #1079
Hmm.. let's see if I can push the ast tree dump patch later, as this is helpful for me in this particular case.

[2016-05-14 17:25] avdg commented on #1079
Interesting, compressing the code snippet below (same as described as in the issue opening comment section):

[code]

with `--compress` option seems to fail on my computer, not sure whats going on:

[code]

Should probably be placed under a separate issue later though

[2016-05-14 17:26] avdg commented on #1079
yeah, happens with all code, might investigate that first

[2016-05-14 17:55] avdg commented on #1079
Scope analyser on top level:

[code]

[2016-05-14 20:08] avdg commented on #1079
I see more indications that the let statement is removed in the compression phase, making the `for` statement being first.

[2016-05-14 21:15] rr- commented on #1079
Please remember about `const` as well, as it's interchangeable with `let` in the context of this issue.

[2016-05-14 21:27] avdg commented on #1079
Yeah, I'm constantly reminded about `const` at the parsing phase :-) Better than no warning at all

[2016-05-14 21:29] kzc commented on #1079
`const` logic in the master branch of uglify is also wrong - it is just an alias for `var` and is given function scope. Technically `const` support should be dropped on master since it's not an ES5.1 construct - just a reserved word.

[2016-05-14 21:30] avdg commented on #1079
Compression doesn't fail with `join_vars` disabled

[2016-05-14 22:09] avdg commented on #1079
So yeah, this has to be modified:

https://github.com/avdg/UglifyJS2/blob/e36e07fa77859bcd461234856c06c95cee0cfffe/lib/compress.js#L797

[2016-05-15 16:13] caub opened #1080 "How do you pass JS options?"
wondering how are options passed:

[code]

[2016-05-15 18:41] avdg commented on #1080
These sort of questions should go to stackoverflow. We only handle issues or pull requests.

[2016-05-16 02:27] willin commented on #448
es7   async

[2016-05-16 12:55] kzc opened #1082 "Time for new release?"
Last release was 3 months ago. More than a dozen bug fixes have been made since that time.

[2016-05-16 13:25] ami44 commented on #1082
:+1:

[2016-05-16 14:43] avdg commented on #1082
I actually lately realize we hit 2.6.2 (ecma 262). Now we have to break it

[2016-05-16 17:10] joevbruno opened #1083 "Issue with Sourcemaps names:[]. no-mangle everything?"
tl;rl

Is there a way to instruct UglifyJS2 to mangle nothing?

I am trying so solve an [issue](https://github.com/webpack/webpack/issues/1502) with Webpack and Babel where the `names` key within the javascript sourcemap is not populated when the sourcemap is generated. Interestingly enough, utilizing the Webpack Uglify Plugin (which has a dependency on UglifyJS2) successfully populates the names

[2016-05-16 17:11] avdg commented on #1039
Just to be clear, although still "unofficial": we might disable at least ie8 and earlier if the harmony stuff arrives. There is a patch waiting for that at #937.

[2016-05-16 17:29] avdg commented on #1079
Issue can be closed

[2016-05-16 17:33] rr- commented on #1079
Confirming the solution works on my end. Thanks.

[2016-05-16 18:30] kzc commented on #1083
This is a webpack question. Nonetheless, if you google "webpack disable uglify mangle" you'll find an answer.

[2016-05-16 18:48] joevbruno commented on #1083
Thanks

[2016-05-16 18:48] #1083 closed

[2016-05-16 21:15] Rush commented on #1079
Thank you to everybody involved and especially to @rvanvelzen

Have a great week.

[2016-05-16 21:15] #1079 closed

[2016-05-17 11:06] avdg opened #1084 ""use strict" as non-first statement"
See https://github.com/tc39/test262/blob/master/test/language/directive-prologue/14.1-16-s.js

A quick run on harmony resulted in

[code]

Low priority

[2016-05-17 16:49] rvanvelzen commented on #1084
This also occurs on `master`.

[2016-05-17 16:49] rvanvelzen commented on #1073
Resolved via #1074

[2016-05-17 16:49] #1073 closed

[2016-05-17 17:09] rvanvelzen commented on #1071
Once `harmony` nears completion of features, we'll merge it into `master`. There is no concrete timeline as of yet, but I believe this isn't far off anymore.

[2016-05-17 19:17] avdg commented on #1084
Since directives are recognized as special token, maybe it should be fixed to the output.

There might be an opportunity with the use of function first_in_statement found https://github.com/mishoo/UglifyJS2/blob/a0e03c9df47c411a40bceef02af2ce3dd1a329cc/lib/output.js#L1263 (just search the other first_in_statement to find how it's used).

The only side-effect I know would be that unknown imported a

[2016-05-17 20:17] avdg opened #1085 "Unary min test failure"
Test: https://github.com/tc39/test262/blob/master/test/language/expressions/unary-minus/11.4.7-4-1.js
Test case: `1/-""===1/-0` (should evaluate true) (edit: updated test case to make it actually fail)

Fails under `uglify <file> -c`
Doesn't fail under `uglify <file> -c evaluate=false`

[2016-05-17 20:27] kzc commented on #1085
I think it's okay:
[code]
Expressions not tied to anything are dropped by compress.

[2016-05-17 20:31] avdg commented on #1085
Meh, it still does make that test fail

[2016-05-17 20:37] avdg commented on #1085
(let's keep this issue as incomplete for now)

[2016-05-17 20:37] avdg commented on #1085
oh wow

[2016-05-17 20:39] avdg commented on #1085
That's fast :-)

[2016-05-17 20:40] kzc commented on #1085
I need an ECMAscript lesson to understand what is expected from `-""`. Is it a number or something else?

[2016-05-17 20:42] kzc commented on #1085
I'm confused. The bug report said:
[code]
And it does:
[code]

[2016-05-17 20:42] avdg commented on #1085
fix isn't in main repo yet, I was closing this one a bit too fast.

kzc, my test case was actually invalid. ecma way of comparing beats me

[2016-05-17 20:43] rvanvelzen commented on #1085
It's described here: http://www.ecma-international.org/ecma-262/6.0/index.html#sec-unary-minus-operator

Basically, the operand gets cast to a number, so `-""` will result in `-0`. Note that `-0` is a testable value, even though it's strictly equal to `0`. The following program would have different output before and after the fix:

[code]

Before the fix, it would output `console.log(1/0)`, but it

[2016-05-17 20:45] kzc commented on #1085
Hmm. Go figure.

@rvanvelzen Could you please add your console reciprocal example to your tests?

[2016-05-17 20:52] rvanvelzen commented on #1085
I'm actually thinking that this case *is* optimizable. I'll follow up tomorrow, so I'll re-open this until appropriate test cases are in place.

[2016-05-17 21:01] avdg commented on #1085
@kzc: https://github.com/tc39/test262/blob/e7f6cd7f867ad02de59181d37267b9bb40bb3c5e/harness/assert.js#L12

[2016-05-18 21:45] shshaw commented on #1014
Got to thinking about the Uglify icon again and made a slightly cleaner version of my original concept.

![uglify-alt](https://cloud.githubusercontent.com/assets/777155/15375949/cf700274-1d17-11e6-816d-8c899c7655d5.png)

[2016-05-18 22:55] backspaces opened #1087 "Minify multiple files to a directory"
Generally there is a way to use a CLI tool to specify several files, and a directory to process the individual files into.

So I presumed `uglifyjs src/*.js -o lib/ -c -m` would minify each individual file into the lib dir.  This doesn't seem to work.

Is it possible to use uglifyjs to minify multiple files into a directory?

[2016-05-18 23:02] kzc commented on #1087
Uglify will concat the input files. The option `-o` can only specify the name of an output file.

    uglifyjs foo.js bar.js -o out.js

You have to make a script to process the files individually.

[2016-05-19 08:45] jxh150535011 commented on #878
tks ... nice

[2016-05-19 08:45] #878 closed

[2016-05-19 19:26] avdg commented on #929
Tokenizer must be nest-aware to make something like this possible

[2016-05-19 19:55] avdg commented on #929
https://tc39.github.io/ecma262/#sec-directive-prologues-and-the-use-strict-directive

[2016-05-19 20:23] avdg commented on #929
Directive:

They can only occur in the beginning of a list as statementListItem or ModuleItem.
A directive may be followed by other directives.

They may only be called a directive if they are in:
- FunctionBody
- ScriptBody
- ModuleBody

Strategy:

Since everything is function scoped (when leaving, parsing done). It should be possible to add directives to the parsing state.

This can be done by c

[2016-05-19 20:28] avdg commented on #929
Currently there is no module implementation in uglifyjs. Otherwise, the current directives detector implementation seems mostly correct.

[2016-05-19 20:29] avdg commented on #929
I have to test yet if chained directives are supported.

[2016-05-19 20:44] avdg commented on #929
There are currently 2 places where statementLists may have directories:
- Toplevel
  - Parsing: https://github.com/mishoo/UglifyJS2/blob/f39fd3d58384d9bafbd18d3c1ec927940eeba458/lib/parse.js#L1515
  - State set: https://github.com/mishoo/UglifyJS2/blob/f39fd3d58384d9bafbd18d3c1ec927940eeba458/lib/parse.js#L682
- Function
  - Parsing: https://github.com/mishoo/UglifyJS2/blob/f39fd3d58384d9bafbd18d3

[2016-05-19 20:58] avdg commented on #929
**Implementation strategy**

Addition of 2 keys to state S:
- `S.directives`: counter of directives, implementated as hash table ({})
- `S.directiveStack`: keeps directives, so state is remembered when leaving a scope. Implemented as array of arrays

Insertion of `pushDirectoriesStack` and `popDirectoriesStack`.
- pushDirectories will add an empty array to directiveStack
- popDirectories will decr

[2016-05-19 20:59] avdg commented on #929
I hope it doesn't cause merge issues later on :-)

[2016-05-20 08:29] avdg commented on #929
PR #1088 up to set up directives phase.

[2016-05-20 08:51] vanderlee opened #1089 "minor issue: suboptimal result"
By accident, I stumbled upon a suboptimal result for the following snippet:
`function x(){var f=document.getElementById("fname");if(f.files[0].size>12345){alert("alert");f.focus();return false;}}`

The result produced is:
`function x(){var e=document.getElementById("fname");return e.files[0].size>12345?(alert("alert"),e.focus(),!1):void 0}`, which exactly the same size.

A slightly better result w

[2016-05-20 10:02] vivekkodira1 commented on #521
Not sure if this helps but FYI: https://github.com/gruntjs/grunt-contrib-uglify/issues/406

[2016-05-20 12:44] avdg opened #1090 "[ES6] Compressing assignments in arrow functions fails"
Harmony only (f63803e3e3753253721a4d7abbbe2ff46f11eecc)

Test: https://github.com/tc39/test262/blob/93e9da29a0604e9c2742436979eb1074eb301758/test/language/expressions/arrow-function/syntax/arrowparameters-cover-initialize-1.js

Test case: `var af = (x = 1) => x`
Output (with -c flag): `var af=x=1=>x;`

[2016-05-20 13:08] avdg commented on #1090
Related to #448

[2016-05-20 13:35] kzc commented on #1089
Reduced test case:
[code]
[code]
If this patch is applied:
[code]
then the result is:
[code]
@mishoo @rvanvelzen Any issue with dropping the optimization in question? Is there a case where it would produce smaller code?

[2016-05-20 15:04] kzc commented on #1089
I found a case that is smaller with the original code:

With patch above:
[code]

unmodified uglify v2.6.2:
[code]
So for this optimization to be effective there has to be more than one `if`/`return` and possibly a couple of other conditions.

[2016-05-20 22:40] kzc commented on #1089
Related Issue: #920

I have a tentative fix in the works for both tickets.

[2016-05-21 14:35] kzc commented on #920
I was looking at implementing this transform mentioned above:
[code]
It is correct because the return of the ternary expression happens to be the last line in the function.

The following code, for example, could not be transformed in that way:
[code]
I only mention this because the transform cannot be done locally at the AST_Return level because there is not enough information. It has to be done

[2016-05-22 16:30] kzc commented on #1089
See PR #1092

[2016-05-22 22:03] avdg opened #1094 "[ES6] Computed property losing symbol"
Below a reduced test case from https://github.com/tc39/test262/blob/master/test/built-ins/Array/from/source-object-iterator-1.js:

[code]

Currently outputs on uglifyjs harmony:

[code]

I'm not sure about this syntax, but digging through the es 6 manual, this shouldn't even be legal (but dropping the code in chrome seems to be no issue at all).

See https://tc39.github.io/ecma262/#sec-expressions

[2016-05-22 22:24] avdg commented on #1094
I guess b31918bbf0e58d89cd1d4321d50c46a6ed5464f7 needs to be tuned

[2016-05-22 22:45] avdg commented on #1094
AST dump:

[code]

[2016-05-23 10:20] avdg commented on #1090
[code]

[2016-05-23 11:59] kzc commented on #1090
@avdg Would it be possible to put an [ES6] prefix in the title of ES6 issues? It's easier to separate the issues that way.

[2016-05-24 15:55] #1089 closed

[2016-05-24 18:20] vingel opened #1095 "[ES6] invalid “let” scope in "switch" while mangling"
Hi, Mishoo

I would like to report a mangling bug with "let" keyword in "switch" scope.

Considering sample code like below:

[code]

the output result:

[code]

Run the output js file with Node  6.2/Chrome 50, and here is the error:

[code]

Obviously, as MDN said, "You may encounter errors in switch statements because there is only one underlying block." ( https://developer.mozilla.org/en-US/doc

[2016-05-24 18:50] kzc commented on #1085
Close ticket?

[2016-05-24 22:36] avdg commented on #448
Added more types of errors including parse errors to the results overview. Pretty sure they are useful.

[2016-05-25 08:31] yejingfu commented on #1095
I encounter the same issue, expect it being resolved sooner~~

[2016-05-25 08:38] kzc commented on #1095
Looking forward to your pull request.

[2016-05-25 11:08] Ginden opened #1096 "[Feature request] Lift pure closures to outer scope"
Consider following code:
[code]

[2016-05-25 16:50] avdg opened #1097 "[ES6] Yield undefined results in `Unexpected token: punc (;)`"
Related: #1043, #448, #959

Compress test case (untested expected result):

[code]

Yield was implemented in 91cdb93e579d22bc0a43baa766a7928d127b314c

I think `maybe_unary` isn't adapted yet to accept a unary which isn't followed by another token.
https://github.com/mishoo/UglifyJS2/blob/e36e07fa77859bcd461234856c06c95cee0cfffe/lib/parse.js#L1869

[2016-05-25 16:53] avdg commented on #935
Can this issue be closed?

[2016-05-25 20:46] avdg commented on #1097
es spec for unary:

[code]

So yield is not listed in unary expressions

However, I could find `yield` under:

[code]

[2016-05-25 22:28] avdg commented on #1097
I think that to get this done, there would be needed a lot of work (just seeing these `Yield` parameters alone would require to change most expression specific parsers)

[2016-05-25 23:32] avdg commented on #1097
Some extra documentation: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/yield

[2016-05-25 23:52] Martii commented on #935
Merged into `harmony` with f94497d1d6c37ebd72a9c2d83fc74980e1b82d17 and `master` in cdba43cfa44c15fe12f87c356dad4caa5a946b5b

Sorry about that.

[2016-05-25 23:52] #935 closed

[2016-05-26 00:26] kzc commented on #1082
@mishoo Would you consider adding @rvanvelzen as an npm module owner of `uglify-js` so he can do releases?

[2016-05-26 09:28] christophehurpeau opened #1098 "[ES6] spread operator, in array litteral"
I'm testing the harmony branch, and I have an error with the spread operator:

`const result = [...pictures, picture(undefined, action)]`

throws this error:

`Unexpected token: expand (...)`

[2016-05-26 09:31] avdg commented on #1098
It would error too on chrome since the expand can only be done in the last element of the destructuring array. Nevertheless, UglifyJS only supports destructuring partially if there is a `var` in front of the expression.

[2016-05-26 10:04] avdg commented on #1097
I might want to roll back #959. I think there is a need for a separate AST node `AST_Yield` under `AST_Statement`

[2016-05-26 10:41] avdg commented on #1097
Usages for IdentifierReference, BindingIdentifier, LabelIdentifier and YieldExpression:

[code]

[2016-05-26 10:50] avdg commented on #1097
Generator expression:

[code]

[2016-05-26 13:00] Yimiprod commented on #1087
How i can concat files with something like `main.js *.js`, at the moment, `main.js` appear two times in the output file.

[2016-05-26 14:00] #657 closed

[2016-05-26 14:00] kzc commented on #1087
instead of `main.js *.js` just use `*.js`

[2016-05-26 14:02] Yimiprod commented on #1087
If i want `main.js` to be the first one in the minified file? How i can manage order for specific files?

[2016-05-26 14:04] kzc commented on #1087
then don't use a wildcard and just list all the files out by name in the order you want

[2016-05-26 15:17] trashhalo opened #1100 "Uglifying jquery 2.2.4 min is dropping a regexp causing a infinite loop at runtime"
Run https://cdn.jsdelivr.net/jquery/2.2.4/jquery.min.js through uglifyjs 2.6.2 with collapse vars on.

There is a constant regexp defined as `ob=/^(.*?):[ \t]*([^\r\n]*)$/gm` thats used in a while loop to hit matches till it returns null. When you remove ob and put the constant regexp into a for loop its losing the internal state that a match has already happened and thus the loop never finishes.

[2016-05-26 15:29] avdg commented on #1100
Please make sure to use uglifyjs 2.6.2 (or later if they are available in the future). Also make sure you use https://www.npmjs.com/package/uglify-js

[2016-05-26 15:31] trashhalo commented on #1100
Yep we are using uglify-js and 2.6.2

[2016-05-26 15:31] kzc commented on #1100
Thanks for the bug report.

It's an easy fix to exclude RegExp constants from collapse_vars replacement. PR to follow.

[2016-05-26 15:31] avdg commented on #1100
Yeah sorry, removed the comment

[2016-05-26 17:56] christophehurpeau commented on #1098
Tested in Chrome 51, it does work:
![screen shot 2016-05-26 at 19 55 24](https://cloud.githubusercontent.com/assets/302891/15584647/d1044ad6-237b-11e6-8dc6-030a357c7fec.png)

[2016-05-26 18:00] avdg commented on #1098
Hmm behind the equal sign :-)

[2016-05-26 18:20] christophehurpeau commented on #1098
what do you mean ? there is no destructuring here

[2016-05-26 18:21] christophehurpeau commented on #1098
Maybe I confused you, edited `[...pictures, picture(undefined, action)]` to `const result = [...pictures, picture(undefined, action)]`

[2016-05-26 19:03] kzc commented on #1100
Fixed by PR #1102.

@trashhalo Please try it out.

[2016-05-26 19:28] avdg commented on #1098
Yeah, that's better

[2016-05-26 19:50] trashhalo commented on #1100
@kzc I ran with your branch `uglify-js@2.6.2 (git://github.com/kzc/UglifyJS2.git#eaf4c4a1a3aac6e560cbb3c49a41845adcdf29c7)`

Looks to still be embedding the regexp.
`for(responseHeaders={};match=/^(.*?):[ \t]*([^\r\n]*)$/gm.exec(responseHeadersString);)`

[2016-05-26 20:22] kzc commented on #1100
@trashhalo I tested https://cdn.jsdelivr.net/jquery/2.2.4/jquery.min.js against eaf4c4a1a3aac6e560cbb3c49a41845adcdf29c7 with `collapse_vars=true` and I did not see any RegExp literal substitutions taking place.

To verify I then tested against unmodified uglify-js@2.6.2 release with `collapse_vars=true` and I did see RegExp literal substitutions taking place.

[2016-05-26 20:54] zakiaziz opened #1103 "JS_Parse_Error"
I have a `public/app.js` file that I want minified. I have a gulp task defined like this:
[code]
Running it outputs an error:
[code]
I'm pretty new to gulp (and JS in general) and am not sure how to go about debugging this issue.

[2016-05-26 20:55] trashhalo commented on #1100
Im sure I just did something dumb. thanks for jumping on this!

[2016-05-26 21:00] kzc commented on #1100
@trashhalo The new test case has the example you described.

https://github.com/kzc/UglifyJS2/blob/eaf4c4a1a3aac6e560cbb3c49a41845adcdf29c7/test/compress/collapse_vars.js#L1174-L1199

[2016-05-26 21:21] avdg commented on #1103
There seems to be a parsing error. Any chance you concat files before compressing?

[2016-05-26 21:22] avdg commented on #1103
Meh, gulp not catching and throwing the error human readable isn't helping

[2016-05-26 21:23] zakiaziz commented on #1103
@avdg I am concat-ing files before minifying them

[2016-05-26 21:23] avdg commented on #1103
make sure you don't make invalid js files by doing that

[2016-05-26 21:40] zakiaziz commented on #1103
I'm using this: https://www.npmjs.com/package/gulp-useref to concat my files. I see no errors in the browser console and all JS function works as expected in my production environment.

How else can I check if the files it's creating are valid?

[2016-05-26 21:49] avdg commented on #1103
I hope http://lisperator.net/uglifyjs/#demo can provide more details

[2016-05-26 22:20] avdg commented on #1097
WIP (work in progress) is being done in https://github.com/avdg/UglifyJS2/tree/generators

[2016-05-27 00:10] zakiaziz commented on #1103
Thanks. This was caused by ECMA 6 code:
[code]

changing to this worked:
[code]

[2016-05-27 00:10] #1103 closed

[2016-05-27 04:15] kzc commented on #1100
PR #1102 was improved and simplified and another test added.

[2016-05-27 17:38] avdg commented on #1097
Need to digg deeper in how to parse yields, since not everything that contains yield seems to be a yield expression.

[2016-05-27 20:12] avdg commented on #1097
Still need to adapt the compressor for yield statements. Somehow compressors like to mark yield as side-effect free:

[code]

Gets normally minfied without compressor to
[code]

With default compressor (note how a yield statement gets removed):
[code]
[code]

Now with ` -c dead_code=false`
[code]

[2016-05-27 20:14] avdg commented on #1097
Probably something to do with `AST_Exit`, as yield is an instance of it

[2016-05-27 20:21] avdg commented on #1097
Also, this problem didn't occur on current harmony with #959.

[2016-05-27 20:36] kzc commented on #1097
Are you referring to a PR change set or the harmony branch?

In the harmony branch I thought `yield` would be modelled as AST_Yield derived from AST_Exit, but apparently not. `yield` appears to be an AST_UnaryPrefix which does not seem correct to me.

[2016-05-27 21:15] avdg commented on #1097
yield in branch is `AST_BINARY` and processed as an unary statement.

[2016-05-27 21:18] kzc commented on #1097
I now see you were referring to your generators branch:
https://github.com/avdg/UglifyJS2/blob/123332a8f14c1838b669b11631ab281694766772/lib/ast.js
where AST_Yield is indeed derived from AST_Exit.

I don't think you want yield references in AST_Unary within has_side_effects:
https://github.com/avdg/UglifyJS2/blob/123332a8f14c1838b669b11631ab281694766772/lib/compress.js#L1247-L1250

[2016-05-27 21:19] avdg commented on #1097
Nonono, the one in harmony has no side-effect. Categorizing yield to use AST_Yield caused the problem but that might be fixed later.

[2016-05-27 21:20] avdg commented on #1097
I'm just brain dumping a lot of things because it's quite hard to implement the full feature correctly. I even think I won't implement it fully anyway (I don't think I'll implement a check for double yields in a statement now)

[2016-05-27 21:22] kzc commented on #1097
I'm confused. The way `yield` is modelled in your generators branch with AST_Yield is a better approach.  It exits the function after all, and should be derived from an AST_Exit. `yield` is not an operator, but is a control flow construct.

[2016-05-27 21:24] avdg commented on #1097
Yeah, and that way, the compressor thinks that all statements after yield isn't reachable code. But meh, I've just dropped this as a hypotheses and will investigate it later as I have to investigate the code base from basically nothing again.

[2016-05-27 21:25] kzc commented on #1097
It's just a matter of fixing `has_side_effects` for AST_Yield.

[2016-05-27 21:26] kzc commented on #1097
Ah ok, I see what you mean now. All code in the block after an AST_Exit is dropped.

[2016-05-27 21:29] kzc commented on #1097
Perhaps AST_Yield should be derived from AST_Jump instead.

[2016-05-27 21:31] avdg commented on #1097
Yeah, that might be better

[2016-05-27 21:31] avdg commented on #1097
Thanks

[2016-05-27 21:36] kzc commented on #1097
In your generators branch I don't think you want these left over "yield" strings in AST_Unary has_side_effects:
[code]
https://github.com/avdg/UglifyJS2/blob/123332a8f14c1838b669b11631ab281694766772/lib/compress.js#L1247-L1250

[2016-05-27 21:45] avdg commented on #1097
That seems to come from eaf3911c3141a9b735e6e33c7147461d60c833c1

[2016-05-27 21:48] kzc commented on #1097
But you're modelling `yield` in your generators branch with AST_Yield, not AST_UnaryPrefix are you not?

[2016-05-27 21:49] avdg commented on #1097
Yeah. Also I see the side effect with AST_Jump as well

[2016-05-27 21:50] avdg commented on #1097
(and the tests are still passing)

[2016-05-27 21:52] avdg commented on #1097
And no, I didn't add a test to test if statements are dropped after yield yet.

[2016-05-27 22:00] avdg commented on #1097
Meh, I guess this has something to do with it: https://github.com/avdg/UglifyJS2/blob/ea4cc1c292cad3a508f66a5a296df912b5122827/lib/compress.js#L1298

[2016-05-27 22:02] avdg commented on #1097
Yeah and it's used by https://github.com/avdg/UglifyJS2/blob/ea4cc1c292cad3a508f66a5a296df912b5122827/lib/compress.js#L721

Need to nap now though

[2016-05-28 00:41] kzc commented on #1097
Okay, in hindsight that makes sense. Just keep moving up the class hierarchy - derive AST_Yield from AST_Statement.

[2016-05-28 10:06] avdg commented on #1097
That should do the trick for now. Everything is fine now on that part.

[2016-05-28 10:19] avdg commented on #1097
Up next: yield tokens in arrays and objects shouldn't behave as yield statements, but shouldn't be allowed in strict mode either.

The strict mode patch is still pending to be merged on master, but for now it can be assumed that UglifyJS has to deal with non-strict code.

[2016-05-29 20:32] avdg commented on #1097
A good understanding of InputElementRegExpOrTemplateTail would help me I guess.

See note 2 at https://tc39.github.io/ecma262/#sec-generator-function-definitions.

[2016-05-30 11:24] avdg commented on #1097
Actually, the original bug has been solved, but there is more fixing in the pipeline needed to make sure yield behaves correctly.

[2016-05-30 16:38] avdg commented on #1097
Hmm classes seems to be removed after compression on my branch, I guess it's the same on harmony.

[2016-05-30 17:16] avdg commented on #1097
Added generators support in classes and objects

[2016-05-30 19:46] avdg commented on #1097
Need to investigate parenthese drop in compression for

[code]

Gets compressed to:

[code]

[2016-05-30 20:35] avdg commented on #1097
Even without compression

[2016-05-30 20:43] avdg commented on #1097
I found the parentheses in the output generator, so that needs fixing.

[2016-05-30 20:53] avdg commented on #1097
Fixed for yields inside AST_Binary

[2016-05-30 21:12] avdg commented on #1097
Not sure what causes this to fail compression:

`var g5 = function*() { (yield 1) ? yield 2 : yield 3; };`
[code]

[2016-05-30 22:43] avdg commented on #1097
Another compression homework to be done:

[code]

[code]

[2016-05-30 23:52] avdg commented on #1097
I am running test262, using the filter `yield` to just have the tests I need to test my patches.

Seems test262 is picky in syntax error messages. It's expecting SyntaxError to pop up when there is a syntax error. So I get a lot of tests failing for that.

While the goal is to get close to 0 as possible, I'm not sure I can fix them all because they might be non-yield related (some might fail becau

[2016-05-30 23:52] avdg commented on #1097
Uh anyway, the tests expecting SyntaxError passed now

[2016-05-31 15:18] soluml commented on #520
+1

[2016-05-31 20:49] avdg commented on #1097
Parameter parsing and destructuring needs to be improved later. I might prefer to squash and reorder commits from now on unless there are important bugs.

[2016-05-31 20:52] avdg commented on #1097
The only important bug now occurs in compression and causes the `TypeError: Cannot read property 'file' of undefined` error

[2016-05-31 20:57] avdg commented on #1097
I move my current branch to https://github.com/mishoo/UglifyJS2/compare/harmony...avdg:generators-old and rebase interactively on https://github.com/mishoo/UglifyJS2/compare/harmony...avdg:generators to prepare for pr.

[2016-06-01 14:52] avdg commented on #1097
I think I shouldn't send the arrow/function parameters, parenthesized surrounded statement stuff on the pr yet. There is no real fix there yet. All other stuff may be submitted though through a PR.

[2016-06-01 15:26] avdg commented on #1043
I've pushed #1104. If there are still certain issues, this pr might have fixed it.

[2016-06-01 15:31] avdg commented on #524
Is this still an issue? I can't reproduce it on current master by simply compressing the example.

[2016-06-01 17:10] avdg opened #1105 "Compression option unused causing to drop statements in with"
From https://github.com/tc39/test262/blob/0612ad7bb307ed5e1203616197af7a702ec60518/test/suite/ch12/12.10/12.10-0-8.js

[code]

Using `node ./bin/uglifyjs test.js -cb` it's outputting

[code]

[code]

Can be worked around by using  `node ./bin/uglifyjs test.js -bc unused=false`.

[2016-06-01 17:22] avdg commented on #1105
This might fix about 32 tests of 49 caused by uglifyjs on es 5.1.

[2016-06-01 19:01] EisenbergEffect opened #1106 "Uglify Multiple Sources with Multiple Source Maps"
I'm in the process of creating a build system and am trying to figure out how to correctly invoke UglifyJS2 while flowing through source maps. After reading the docs, it's still a little foggy for me. Here's a scenario that represents something similar to what I'm trying to accomplish.

Imagine you have this data structure:

[code]

How would I pipe these sources into a single minified output file

[2016-06-01 19:36] avdg commented on #1106
So there is no option to first concat the files together and then minify?

[2016-06-01 20:36] EisenbergEffect commented on #1106
@avdg I could concat the files first and then minify, yes. But I wasn't sure how the source maps would work out in that case. I'm not an expert (actually barely know anything at all) with respect to the map transformation process. Are you aware of a simple utility that can concat the files and handle the source maps so that I can then pass the result of that into Uglify?

[2016-06-01 20:46] EisenbergEffect commented on #1106
I see this...might be exactly what I want: https://www.npmjs.com/package/concat-with-sourcemaps
I'll do some experimentation. Thanks for pointing out the obvious :) Sometimes I need it.

[2016-06-01 20:47] avdg commented on #1106
I've heard a lot of compilation failures because a lack of a newline between files. But otherwise, it's mostly fine to just concatenate the files.

[2016-06-01 20:48] #1106 closed

[2016-06-05 15:00] avdg commented on #1097
Interesting bit: I found out bit earlier today that await is going to be treated like unaryExpression anyway given https://github.com/tc39/ecmascript-asyncawait/issues/4. Very confusing...

[2016-06-05 15:02] #1100 closed

[2016-06-05 15:58] vicApakau opened #1108 "dead_code"
Docs don't say what default is. I tried =true and =false.
What is default?
(also other flags not clear on)

I used code
if(false) { console.log('x') }
When run it says with dead_code false or true that it will remove it.

How do I keep dead code?

[2016-06-05 16:00] avdg commented on #1108
Don't run the compressor or disable dead_code by setting it to false? Depends on use case

[2016-06-05 22:28] avdg commented on #1085
@rvanvelzen done?

[2016-06-06 08:25] KingScooty commented on #448
Potentially daft question, but i'm just trying to get up to speed with this thread. How do i get Webpack 2 using this Uglify harmony branch?

[2016-06-06 08:31] christophehurpeau commented on #448
@KingScooty just add this as a dependency: `"uglify-js": "github:mishoo/UglifyJS2#harmony"`

[2016-06-06 08:40] KingScooty commented on #448
@christophehurpeau Nice! I just add that to the webpack conf?

[2016-06-06 08:44] juodumas commented on #448
No, you just do

    $ npm i github:mishoo/UglifyJS2#harmony --save-dev

[2016-06-06 08:51] KingScooty commented on #448
Just works too! Love it! Cheers guys!

[2016-06-06 12:53] rvanvelzen commented on #1085
Definitely. Sorry, crazy busy lately.

[2016-06-06 12:53] #1085 closed

[2016-06-06 14:47] Rush opened #1109 "[Harmony] Yield gets compressed to && without parens leading unrecognized keyword"
Such code:
[code]

Produces:
[code]

Which leads to:
[code]
I think we need parenthesis around the yield expressions.

[2016-06-06 14:49] Rush commented on #1109
Workaround is to disable `compress.conditionals`

[2016-06-06 15:21] avdg commented on #1109
Interestingly this does crash my pr #1104

[2016-06-06 15:22] avdg commented on #1109
Uh I forgot to put this in a generator function :-)

[2016-06-06 15:23] avdg commented on #1109
I guess there is no problem in my pr

[2016-06-06 15:25] avdg commented on #1109
Also, I noticed a lot of problems with various components of uglify starting to fail after new components are being added. This might happen a lot, but thankfully it's all done on a development branch.

[2016-06-06 19:28] avdg commented on #1109
I have to look at this bug a bit deeper though. Since current yield implementation is implemented as an unary expression, the same bug seems to happen to delete statements which I happen to spot while examining other es 5.1 failures from test262 (ecmascripts testing base).

An example:

Origin: https://github.com/tc39/test262/blob/es5-tests/test/suite/ch11/11.2/11.2.2/S11.2.2_A3_T1.js#L13

[code]

[2016-06-06 19:59] avdg commented on #1109
Now tests without compression enabled:

Input
[code]

Output:
[code]

Pretty sure this is a codegen bug which might be related to printing parentheses. Although, the compressor transformed your code into equally bad code before, there is no fault in the compressor at all.

[2016-06-06 20:51] TracyGJG opened #1110 "Source folder look-up failure (multiple source js files on windows)"
I am using Uglify-JS 2.6.2 as part of an npm script in Windows 10 with node 6.0. It fails to find the source folder (which I know exists and contains the required files.) I get the same fault executing the command directly.

I am following a relatively recent article as CSS-Tricks (https://css-tricks.com/why-npm-scripts/) and have raised an issue there also.

[2016-06-06 20:57] kzc commented on #1110
Can you post the exact command that is failing?

[2016-06-06 21:01] TracyGJG commented on #1110
uglifyjs src\\js\\*.js -m -o dist\\js\\app.js

[2016-06-06 21:49] avdg commented on #1109
Hmm.. new has it's own token... and the `yield` statement was simply incorrectly implemented. Otherwise code seems fine as unary statements are parsed 'late' anyway.

Simplest proof found yet of examples that are fine:

[code]

[2016-06-06 21:50] avdg commented on #1109
And new is just a different token... explaining the fail there so there is a bug to fix to that token.

[2016-06-07 03:25] bQvle opened #1112 "Prevent ("string": ..., and object["string"]) properties from getting mangled."
We are using a regex to choose what properties can be mangled. however I still don't want it to mangle strings.

**Example:**
Our Regex has a match for 'Tint', as a propertyname it should mangle.

This line of code
`sticker.tint = "0x" + data["Tint"]`

gets mangled to:
`e.tint = "0x" + a["M"]`

But the reason I'm using data["Tint"] and not data.Tint is because I dont want it to be mangled. I would

[2016-06-07 04:59] TracyGJG commented on #1110
I cannot see why not when dir src\js\*.js lists the files I want to process. Is this a limitation of the module you are using to access the windows file system?

[2016-06-07 05:30] kzc commented on #1110
`uglifyjs` doesn't perform glob expansion. On unix it is done by the shell.

[2016-06-07 06:22] kzc commented on #1112
Uglify cannot presently do what you're asking for.

If you want to code up such a mangle option to do that you'd have to change the conditions under which`AST_Sub` and `AST_ObjectKeyVal` quoted properties are mangled here:

https://github.com/mishoo/UglifyJS2/blob/759b3f7d6df1cecaefd987218373ce3db3646845/lib/propmangle.js#L89-L123

apply this patch to retain quoted properties for object literals:

[2016-06-07 08:54] bQvle commented on #1112
Thanks for clarification :) We'll have a look at that!

[2016-06-07 08:54] #1112 closed

[2016-06-07 16:50] TracyGJG commented on #1110
I think the issue I am finding was also discovered by Backspaces (issue 1087) and nkCreation (issue 1033) and I have a solution to offer. This involves a change to the uglifyjs file in the bin folder. Replace line 257 with the following:
var files = (function expand_folder_of_JS_files( arrFiles) {
    var arrJS_files = [];
    arrFiles.forEach( function(filename) {
        var fsStats = fs.statSyn

[2016-06-07 16:52] TracyGJG commented on #1033
You probably already have a solution but I encountered the same problem so provided candidate solution. However, instead of public/src/js/*.js use public/src/js and all contained JavaScript files will be submitted.

[2016-06-07 16:53] TracyGJG commented on #1087
You probably already have a solution but I encountered the same problem (issue 1110) so provided candidate solution. However, instead of public/src/js/*.js use public/src/js and all contained JavaScript files will be submitted.

[2016-06-08 08:15] Yimiprod commented on #1087
At the moment i stay with the wildcard, i think a solution would be to use the library glob, who allow more complexe wildcards.

[2016-06-08 10:45] avdg commented on #1094
Well, this at least works: `obj({ [Symbol.iterator]: function() {}});`

[2016-06-08 13:13] fc-io opened #1114 "[ES6] Empty Object Pattern - Invalid destructuring function parameter"
On the [harmony](https://github.com/mishoo/UglifyJS2/tree/harmony) branch.

Uglify throws:

[code]

for an empty object or array pattern as a function parameter.

Example:

[code]

[2016-06-08 14:18] avdg commented on #1114
I'm currently trying to implement the spread operator, support for destructuring in parameters may one of the thing that follow.

[2016-06-08 15:05] avdg commented on #1085
@rvanvelzen Well, I can't tell what's going on on your side, but I can only hope the best for you :-)

[2016-06-08 20:39] concavelenz opened #1116 "jQuery transformed to include block scoped function when the original does not"
This is copy of the issue I filed with jQuery:
https://github.com/jquery/jquery/issues/3153

The minified version of jQuery 2.x has been transformed in a way that includes a block scoped functions. The original source is roughly:

if ( !div.style ) {
  return;
}

...

function computeStyleTests() {
  ...
}
This gets transformed (without renaming for clarity) into:

if ( div.style ) {
  ...
  funct

[2016-06-08 20:43] avdg commented on #1116
Can confirm claim of invalid transformation: any block scoped function is forbidden in es 5. This restriction is however lifted later on, but of course old browsers don't move on as well.

[2016-06-08 21:35] concavelenz commented on #1116
Turns out this is a duplicate of https://github.com/mishoo/UglifyJS2/issues/1052

[2016-06-08 21:35] #1116 closed

[2016-06-08 21:37] avdg commented on #1116
Great :-)

[2016-06-09 10:09] ghostfalcon commented on #348
I have some problems with uglify one file (other all good)

my log
`[13:05:10] Starting 'scripts'...
[13:05:10] Finished 'scripts' after 12 ms

events.js:141
      throw er; // Unhandled 'error' event
      ^
Error
    at new JS_Parse_Error (eval at <anonymous> (/Users/mishapavlenko/Documents/deco.agency/etotdom/wp-content/themes/etotdom/node_modules/uglify-js/tools/node.js:22:1), <anonymous>:1526

[2016-06-09 10:17] avdg commented on #348
As written on #1115 it is better to catch these errors manually by catching them yourself or to add an event handler like `process.on('uncaughtException', <function>);`, even though this method has been discouraged to be used from the node.js community as its main function is to close important connections.

To look for a fix it might be better to ask node/v8 devs to wonder what's going on.

[2016-06-09 15:05] kzc commented on #1082
ping @mishoo

It would be regrettable if this project has to be forked in order to get timely releases out.

[2016-06-09 17:14] avdg opened #1117 "[ES6] Update mozilla ast"
(Yeah, I'm talking about fixing this mess: https://github.com/avdg/UglifyJS2/commit/45fcb65e6162275700742afe0d83435987435d44)

There is a need to maintain mozilla-ast on the harmony branch if there is a need to keep it alive. As I don't have the tools (yet) to test things out in real-world usage. I don't think about maintaining this right now. However, I did take a quick look and I think one with

[2016-06-09 17:19] kzc commented on #1117
Repeating comment here as it is relevant to this new ticket...

I believe that mozilla-ast import and export for ES5 is complete on master and is compatible with `acorn --ecma5`, so all new [ESTree/mozilla](https://github.com/estree/estree) development can take place on the harmony branch for ES6.
[code]
I don't know if we should make new flags specifically for ES6 import/export?

For that matter,

[2016-06-09 18:40] avdg commented on #1105
@kzc do you think this is easy to fix? It involves failures in above mentioned gists at chapter 12, section 12.10

[2016-06-09 18:56] kzc commented on #1105
I suspect it's not too difficult to fix, but it's hard to work up the motivation to fix a bug in a statement that should never have been added to javascript in the first place. :-)

[2016-06-09 19:02] kzc commented on #1105
@avdg My first thought related to the `unused` optimization is to avoid this optimization in any function that contains `with`. It might be as simple as a single well-placed `if`. Sure, it would hurt optimization in functions containing `with`, but so be it. The use of `with` is rare and discouraged in practise.

[2016-06-09 19:14] rvanvelzen commented on #1105
I agree - we already have similars checks in `SymbolDef.unmangleable`. Using `with` will always hurt optimizations.

[2016-06-09 19:36] mishoo commented on #1082
I apologize for my lack of involvement lately.  I simply don't have enough time to keep track of what's going on.  I'd like to be notified somehow about show-stopping bugs or breaking changes, but other than that… as far as I am concerned this software is “done” (and by that I don't mean “dead”, but **“does the job as reasonably as possible, and it's stable”** — that's how I'd like it to stay).

I

[2016-06-09 20:36] avdg commented on #1109
@rush Feel free to test harmony again, #1104 is just in.

[2016-06-09 20:39] avdg commented on #1097
Should be fixed in #1104

[2016-06-09 20:39] #1097 closed

[2016-06-09 20:40] avdg commented on #1043
#1104 is in. Feel free to create a new issue if there are problems.

[2016-06-09 20:45] avdg commented on #1105
Yeah, I see... I'm still in sort of denial mode as I don't know how the fix would look like for now. I understand that fixes like this can create too many unwanted side effects if not implemented correctly or if project architecture doesn't allow it.

[2016-06-09 20:47] avdg commented on #348
#1115 is merged but has no effect on this issue, though a better fix is wanted as this might help more users and not uglifyjs developers alone.

[2016-06-09 21:44] kzc commented on #1105
This patch:
[code]

produces the desired result on the test case above with `bin/uglifyjs -b -c`
[code]
@avdg Could you please test this patch on the other `with` test cases and assuming it works could you put together a PR with additional tests?

@rvanvelzen Does this approach seem reasonable to you? I'm not 100% sure about the `&& !self.uses_with` in `OPT(AST_Function...)` but I think it's fine.

[2016-06-09 21:49] avdg commented on #1105
@kzc will do

[2016-06-09 21:59] avdg commented on #1105
I can only see 1 failure left

[2016-06-09 22:00] avdg commented on #1105
Not sure what this test is though :/

https://github.com/tc39/test262/blob/es5-tests/test/suite/ch12/12.10/12.10.1/12.10.1-11gs.js

[2016-06-09 22:02] avdg commented on #1105
Uh, it's a strict mode test yeah. That is an easy fix once the other pr gets merged.

[2016-06-09 22:21] avdg commented on #1105
@kzc I can't exercise `!self.uses_with` in `OPT(AST_Function...)`, not even in test262. It has no influence on the result if that piece of code gets removed.

[2016-06-09 22:23] avdg commented on #1105
I probably need tests to see if other things outside with gets dropped, but if such a fix may be needed, it may be not high priority given the rarity and discouraged use of it.

[2016-06-09 22:24] kzc commented on #1105
Alright, mostly good results.

As for the `!self.uses_with` in `OPT(AST_Function...)` perhaps it is useless. Just want to get @rvanvelzen's opinion on that.

[2016-06-09 22:28] avdg commented on #1105
I guess AST_Function is instance of AST_Scope, so the check may have been done there.

[2016-06-09 22:29] avdg commented on #1105
Also notice the declarations of these ast functions.

[2016-06-09 22:31] avdg commented on #1105
I think it's safe: https://github.com/mishoo/UglifyJS2/blob/09d5707a8a368d6498f39a8b9fd07226a1159d76/lib/compress.js#L119

[2016-06-09 22:36] kzc commented on #1105
I did see `self.uses_with` was always set to either `true` or `false` in the `OPT(AST_Function...)` case in the uglify test suite. So it's likely harmless. The question remains if it is useless/redundant.

[2016-06-09 22:38] avdg commented on #1105
Proposed fix at https://github.com/mishoo/UglifyJS2/compare/master...avdg:with-mangle

Will still add few tests before sending pr.

[2016-06-09 22:46] kzc commented on #1105
Okay, if you're convinced then that's good enough for me. I didn't spend much time looking into it.

[2016-06-10 09:22] victorporof opened #1120 "[ES6] Support object spreading into other object literals"
On the [harmony](https://github.com/mishoo/UglifyJS2/tree/harmony) branch.

Trying to uglify this code:

[code]

doesn't work.

[code]

[2016-06-10 10:02] avdg commented on #1120
Seems to not work in chrome either yet. And I still have to investigate the syntax.

[2016-06-10 12:25] sorgloomer opened #1121 "[Harmony] `new foo.bar("baz")` is broken, parameters are stripped"
Hi,

This code

    new foo.bar("baz");

now compiles to

    new foo.bar;

It worked well yesterday, so I suspect the fa293447 merge has something wrong. I couldn't look into it deeper, sorry.

[2016-06-10 12:45] avdg commented on #1121
Yeah, exception list must be updated, I expected it could happen but I didn't knew on where the next problem would strike.

[2016-06-10 12:46] avdg commented on #1121
although it has arguments, which may question me even more.

[2016-06-10 12:47] avdg commented on #1121
Caused by https://github.com/mishoo/UglifyJS2/commit/8287ef67810f2332459fa157b26e556f55b36b98

[2016-06-10 12:53] sorgloomer commented on #1121
Yeah, looks like it should be an `&&` instead of `||` here:

     function no_constructor_parens(self, output) {
         return self.args.length == 0 && !output.option("beautify") || /* here */
            !(self.expression instanceof AST_SymbolRef ||
              self.expression instanceof AST_Call ||
              self.expression instanceof AST_Function ||
              self.expression instanc

[2016-06-10 12:54] avdg commented on #448
Fresh logs: https://gist.github.com/avdg/d5c16fb6d12a174da8ea8c5b92bef067

Seems I still have yield parsing bug afterwards due to wrong filter (not all tests such tests are labeled yield)

[2016-06-10 13:04] avdg commented on #1121
Will throw in extra tests

[2016-06-10 13:20] avdg commented on #1121
Compression test doesn't seem to be strict enough here

[2016-06-10 13:21] avdg commented on #1121
expect_exact works though

[2016-06-10 13:25] avdg commented on #1121
|| is not a final fix though

[2016-06-10 13:26] avdg commented on #1121
Still have to fix some tests afterwards I see

[2016-06-10 13:47] avdg commented on #1121
https://github.com/mishoo/UglifyJS2/compare/harmony...avdg:new-with-arguments should pass the test, but I still have to look on a real fix and rebase this to master.

[2016-06-10 14:13] victorporof commented on #1120
This is basically the same as with arrays:
[code]

[2016-06-10 14:13] avdg commented on #1121
Results on master and harmony are inconsistent.

[2016-06-10 14:34] victorporof commented on #1098
See also https://github.com/mishoo/UglifyJS2/issues/1120

[2016-06-10 14:46] kzc commented on #1121
@avdg Could we temporarily revert https://github.com/mishoo/UglifyJS2/commit/8287ef67810f2332459fa157b26e556f55b36b98 to reevaluate? Even with changing the `||` to an `&&` as you mentioned above still leaves me with some doubts about this patch.

Do you have commit rights to UglifyJS2?

[2016-06-10 14:49] avdg commented on #1121
Nope, I don't and yeah it might be better to revert this patch for now

[2016-06-10 15:23] kzc commented on #1121
@rvanvelzen Could you please revert https://github.com/mishoo/UglifyJS2/commit/8287ef67810f2332459fa157b26e556f55b36b98 on master and harmony while we figure this one out?

[2016-06-10 15:34] iceprosurface commented on #448
so arrow function syntax still cannot be used? if could ，i vote to '=>'.

[2016-06-10 15:38] kevincox commented on #448
Yeah. I'm not going to like the only reason I am transpiling one project to es5 is so that I can minify it with uglify. It would be really nice to get basic es6 support working.

[2016-06-10 15:52] egoroof commented on #448
@kevincox check out [Google Closure Compiler](https://github.com/google/closure-compiler). It officially supports es6 since October 2015 and [compress js better](https://github.com/samccone/The-cost-of-transpiling-es2015-in-2016). The only cons is it requires java.

[2016-06-10 15:56] fabiosantoscode commented on #448
Arrow functions and a lot of other es6 features are supported by the harmony branch. To install, use

npm i mishoo/UglifyJS2#harmony

[2016-06-10 16:00] avdg commented on #448
test262 results are just an indication. The tests itself may be over the top and uglify may ship with failures on test262 depending on the context of these errors (tests are just designed to fail despite the lack of real usage in the real world).

[2016-06-10 16:03] avdg commented on #448
Also I like to note that the test262 suite is in active development. So it might be possible that we might fail more and still have improved on it. Also there are small features expected to be added in harmony 2016, but they are very small (** operator and Array.prototype.includes).

[2016-06-10 16:12] avdg commented on #1121
The issue is complicated because I can't distinguish between parentheses caused by callback and parentheses used to surround expressions. Somehow empty strings do sometimes get parentheses as well.

[2016-06-10 16:55] avdg commented on #1121
Well, I basically had to mentally split the logic a bit. There were too many logical operators too close together which is  a good recipe for disaster. Even when I have to conclude I was averagely much better in many classes on school.

[2016-06-10 16:55] avdg commented on #1121
Actually it's a bad sign because I know most would do worse, so this has to be improved on documentation level as well.

[2016-06-10 16:58] avdg commented on #1121
I'm going to rename no_constructor_parens to something opposite, just to remove the need of opposite thinking.

[2016-06-10 17:27] avdg commented on #1121
https://github.com/mishoo/UglifyJS2/compare/master...avdg:new-dropped-the-arguments

[2016-06-10 17:28] avdg commented on #1121
Still have to look at harmony though

[2016-06-10 17:29] avdg commented on #1121
Seems harmony safe

[2016-06-10 18:41] jprichardson commented on #448
@egoroof it's my understanding that it doesn't output ES6 though. That's a problem, especially if you want to use native generator support. So by that metric, Uglify supports ES6 as well since you can preprocess with Babel. Please correct me if I'm wrong.

[2016-06-10 18:54] klimashkin commented on #448
@egoroof Google Closure Compiler doesn't compress ES6. First it transform it to ES5 with traceur-compiler and then compress as usual.
Try it https://closure-compiler.appspot.com/home#code%3Dfunction*%2520rr%2520()%2520%257B%250A%2520%2520const%2520r%2520%253D%2520yield%2520nn()%253B%250A%257D%250A

[2016-06-10 19:14] vicApakau commented on #1108
I'm sorry I don't understand what you are saying; can you help explain plz.

[2016-06-10 19:27] avdg commented on #1108
Do you use the console or do you use the api?

[2016-06-10 20:20] kzc commented on #1112
@milkbikis has improved PR #1070 to do the things [mentioned](https://github.com/mishoo/UglifyJS2/issues/1112#issuecomment-224190929) above. Please try it out and report whether it works for you.

[2016-06-10 20:32] bQvle commented on #1112
Hi kzc, sorry for not reporting back. but i followed your advice and made the changes myself (I'm using Grunt btw)

I did like this in ast.transform:
[code]

and

[code]

And added the option "ignore_string_properties".

Everything works great so far!

[2016-06-10 21:22] kzc commented on #1112
In `uglify.minify()` compress precedes mangle_properties so it could be an issue.

But if you use the `uglifyjs` script from the command line then mangle_properties precedes compress so it would work.

Why they behave differently, probably just a historical accident.

[2016-06-10 21:26] avdg commented on #1120
I still have no tests, but I can collect syntax information for now and compare that with current implementation.

[2016-06-10 21:29] avdg commented on #1120
Ah yeah, they fall under `ObjectAssignmentPattern` and `ArrayAssignmentPattern`

[2016-06-10 21:53] avdg commented on #1120
I'm afraid there is no such thing as spread yet for `ObjectLiteral` in es2015 spec. I'll double check if I have overseen anything, but I can't find it.

[2016-06-10 21:56] avdg commented on #1120
@michaelficarra can you confirm that there is no spread for `ObjectLiteral`s?

[2016-06-10 23:37] avdg commented on #1098
I've got something working, though now it's just a matter of throwing tests at it.

[2016-06-10 23:41] avdg commented on #1098
https://github.com/mishoo/UglifyJS2/compare/harmony...avdg:array-literal-spread-element

[2016-06-11 00:32] avdg commented on #448
Here are the correct fresh logs as I didn't notice that testing was done on an older commit: https://gist.github.com/avdg/4eafd595701da85a7a7dc2251d8978a0

Current summary:
Seems yield * <newline> expression was allowed which is my bad.
Most failures seems to be spread/expand operator related, which is going to be the next priority.

[2016-06-11 02:24] egoroof commented on #448
@jprichardson and @klimashkin yes, you are correct. Sorry for misleading.

[2016-06-11 03:15] michaelficarra commented on #1120
That's right. It's not in 2015 (ES6) or 2016, and it's looking like it won't make it to 2017 either.

[2016-06-11 07:36] alqu opened #1124 "Harmony - uglified code does not work after master merged into this branch"
Hi,

Since commit fa2934478161397bab1a42c2f877d977ee282c37, uglification creates non-working code.

Example: Use a simple VueJS-App and uglify it using [webpack](https://github.com/webpack/webpack) et. al. Result: No console errors/messages, but also no proper boot-up of the app.
If I use dcfc514c382363452eec1b634d471541bd6652d3 it works properly.

Looking at uglify's console output, I see the fol

[2016-06-11 08:15] avdg commented on #1120
Ah yeah, I found the spec at https://github.com/sebmarkbage/ecmascript-rest-spread. So there is a proposal. Anyway, it's all good to know.

So to conclude: It's there, but not in the official spec and there are many other features to implement. So I won't implement them just yet.

[2016-06-11 08:19] avdg commented on #1124
There are patches that rewrite new expressions that caused a regression, which may caused problems due to improper implementation due to a lack of tests. Otherwise, I need more bug reports / testing to be aware about other problems.

[2016-06-11 08:20] avdg commented on #1124
I wonder if you could share a reduced test case as well.

[2016-06-11 08:20] victorporof commented on #1120
@avdg Sounds good. I think even just spreads in array literals would be enough for us.

[2016-06-11 10:47] avdg commented on #1082
I wonder if we need some beta's or at least some notice to release, specifically given #1111 having experienced some hidden bugs.

[2016-06-11 12:34] kzc commented on #1082
A beta doesn't work too well in the npm system but there can be a code freeze prior to a release - a week should be enough. Most people don't use the code until release and that's when bugs are usually found.

[2016-06-11 12:36] avdg commented on #1082
yeap, explaining all the crap on social media as well

[2016-06-11 13:27] avdg commented on #1098
[code]

The last 2 rules of `ElementList` here are important, since they allow elision to be inserted at any position without limitation on parser level. Which should about match the proposed fix.

Array literals should be feature complete when there is a pr.

[2016-06-11 13:35] avdg commented on #1098
138 tests containing spread. Went from 52 to 24 errors after patch being applied.

I don't directly see any error related to wrong implementation causing uglify to complain about something but yet have to digg through the 24 errors.

The 24 errors are caused by call, new and super, so no direct indication there either of bad implementation.

[2016-06-11 13:42] avdg commented on #1098
spread allows expressions though and current implementation only supports identifiers/symbols after spread. So these 262tests don't cover a lot.

[2016-06-11 13:43] avdg commented on #1098
For example, this will fail in uglify but still make test262 happy with the tests I have: `[1, 2, 3, ...[4, 5, 6]]`

[2016-06-11 14:11] avdg commented on #1098
Reported in https://github.com/tc39/test262/issues/671

[2016-06-11 14:15] avdg commented on #1098
Otherwise, I have to investigate if `AST_Expansion` supports `assignmentExpression`s. All other uses of spread in current grammar would only allow an identifier as they are used in parameters.

[2016-06-11 18:22] avdg commented on #1098
Given commit history, usage for array literals was accounted, but not fully designed for it. AST definition probably needs a rewrite to match all usages. Otherwise, things are looking nice as I could use expressions without problems to and from the ast.

[2016-06-11 18:37] avdg commented on #1098
There is just a little compression issue on the last test on https://github.com/mishoo/UglifyJS2/compare/harmony...avdg:array-literal-spread-element

[2016-06-11 18:46] avdg commented on #1098
I'll just ping @kzc for now. I hope the issue with https://github.com/mishoo/UglifyJS2/compare/harmony...avdg:array-literal-spread-element isn't too hard.

[2016-06-11 18:59] avdg commented on #1098
Hmm.. yeah, AST_Expand isn't defined in the transform.js yet

[2016-06-11 19:05] avdg commented on #1098
The transform.js change did fix this.

Ofcourse, code like `[1, 2, 3, ...[4, 5, 6]]` could be optimized even further later on

[2016-06-11 20:57] kzc commented on #1098
So everything is cool now?

I'm learning ES6 from watching these PRs.

[2016-06-11 21:01] avdg commented on #1098
Yeah, it's cool stuff :-) I'm digging in in the details and learning too :-)

[2016-06-11 21:01] avdg commented on #1098
Well, there are optimization opportunities but I don't know what to do with them. Mixing them with implementation might be bad but we probably want to keep track of them anyway.

[2016-06-12 01:25] bQvle commented on #1112
I just updated to @milkbikis PR, it works with mangle_props = 2. but when I use our regex its still mangling quoted properties.

Maybe i did a mistake, but since it works without regex i doubt it.

[2016-06-12 01:42] kzc commented on #1112
That PR still has some issues. If you apply the patches in the comments it should work.

[2016-06-12 08:57] avdg opened #1127 "[ES6] import * results in Unexpected token: operator (*)"
Example: https://github.com/tc39/test262/blob/master/test/language/module-code/namespace/internals/define-own-property.js

[2016-06-12 12:40] rvanvelzen commented on #1121
Should  8287ef6 still be reverted? Is #1123 the fix for this issue?

[2016-06-12 12:41] avdg commented on #1121
#1123 will fix this

[2016-06-12 12:46] rvanvelzen commented on #1108
You can prevent evaluation of values by running with `evaluate=false`.

I'm curious as to why you'd wish to retain it, but it's possible via the mentioned option.

[2016-06-12 12:46] #1108 closed

[2016-06-12 12:49] rvanvelzen commented on #1105
Should be resolved via #1119

[2016-06-12 12:49] #1105 closed