[2016-06-12 12:51] rvanvelzen commented on #1082
@mishoo Feel free to add me on NPM. I think it should be fine.

[2016-06-12 12:52] rvanvelzen commented on #1072
Can you explain to me what the *actual* problem is?

[2016-06-12 13:35] avdg commented on #1098
Sorry, forgot to mention PR #1125 is up

[2016-06-12 15:33] rvanvelzen commented on #1124
Please try again - some fixes were made and have been merged to `harmony`.

Aside: this is not a useful bug report. Try to provide reproduction steps, in the form of code and a command to run. We're not accepting bug reports that require us to install tools next to UglifyJS itself.

[2016-06-12 15:34] rvanvelzen commented on #1121
This should be resolved now - #1123 was merged to both master and harmony.

[2016-06-12 15:34] #1121 closed

[2016-06-12 15:35] rvanvelzen commented on #1109
This should be resolved after #1104. Thanks for the report!

[2016-06-12 15:35] #1109 closed

[2016-06-12 15:46] rvanvelzen commented on #1043
These issues are all fixed now. Thanks for the reports!

[2016-06-12 15:46] #1043 closed

[2016-06-12 18:07] rvanvelzen commented on #1082
I'll push a new release tomorrow!

[2016-06-12 18:09] avdg commented on #1082
I'm running es 5.1 tests with uglify on test262 on the background now, bugs should be really really low now.

[2016-06-12 18:10] kzc commented on #1082
@rvanvelzen Nice work on adding the new tags on the issues and cleaning up stale PRs.

[2016-06-12 18:12] alqu commented on #1124
@rvanvelzen I tried again with 5c4cfaa0a75317582c979f9b50c1e562fbcfa40d. Now it seems to work!
Thanks!

Aside: the same problem happened at #1121.
And of course my issue description should not involve installation of additional tools.
Sorry about that, but I was a bit in a hurry (weekend and so on...)

[2016-06-12 18:48] avdg commented on #1082
I have yet to see what happened, but after a quick look in the logs it looks like the tests involved with `with` had failed. Tests are still running though, but I'll investigate these failing tests already.

[2016-06-12 18:55] avdg commented on #1082
Hmm can't reproduce the fail on other tests, I hope it's the setup...

[2016-06-12 22:37] avdg commented on #1082
On the upside, there are less bugs on the list. There are still some things that can be improved but yeah, with incremental steps.

[2016-06-12 23:41] kzc commented on #1082
@avdg What are the pass/fail numbers for test262 on master at this time?

[2016-06-12 23:47] avdg commented on #1082
https://gist.github.com/avdg/c7dadf3d4528e734360749009501e370
- Not sure why ch 12 fails (with expr)
- Will fix 7.8.5 tomorrow

[2016-06-13 00:01] kzc commented on #1082
@avdg I see only 4 failures in strict mode. Am I interpreting the results correctly?

[2016-06-13 00:02] avdg commented on #1082
Which results?

[2016-06-13 00:03] kzc commented on #1082
https://gist.github.com/avdg/c7dadf3d4528e734360749009501e370

Four occurrences of "failed in strict mode"

[2016-06-13 00:08] avdg commented on #1082
Search on "Caused by uglify"

[2016-06-13 00:09] kzc commented on #1082
I see - 375 failures over 11267 tests whereof 45 caused by UglifyJS

[2016-06-13 00:10] avdg commented on #1082
Some none striped test are also caused by uglify but in this log they are the ones mentioned few comments above.

[2016-06-13 00:12] avdg commented on #1082
And there are multiple results by searching on that, note that the tests have a ) behind. Adding that to search and you only have the failing tests.

[2016-06-13 00:13] avdg commented on #1082
Well most test have a ) behind. Some say caused by node and uglify.

[2016-06-13 11:17] homerjam commented on #520
+1

[2016-06-13 14:39] avdg commented on #1098
The test262 guys seem to be very awake and will add more tests very soon.

[2016-06-13 15:05] avdg opened #1132 "Enforcing better error messages in uglify"
As proposed in tc39/test262#196 (notified from https://github.com/tc39/test262/issues/671#issuecomment-225586169), test262 coverage may include well formatted error messages.

I still have to take a look into this one because this could involve in very many additional errors the test suite and would require mocha tests to be updated as well.

The upside is that there is a certain probability that

[2016-06-13 15:06] avdg commented on #1132
There is no need to fix this problem on master, though consistent errors might be welcome.

[2016-06-13 15:45] avdg commented on #1132
I might have to switch to https://github.com/bterlson/test262-harness over time as alternative.

[2016-06-13 15:47] kzc opened #1133 "Test262 section 11.8 failures related to <, <=, in, instanceof"
Various issues regarding conversion of `<` and `<=` to `>` and `>=` respectively:

Issue related to constant `instanceof` expression:

$ echo 'console.log(1 instanceof 1);' | uglifyjs -c
undefined:5975
                if (ex !== def) throw ex;
                                ^
TypeError: Expecting a function in instanceof check, but got 1
[code]

The following patch could potentially fix 10 of the

[2016-06-13 15:51] avdg commented on #1133
Taking a look into it

[2016-06-13 15:54] avdg commented on #1133
I think unsafe_comps isn't documented yet in the README.md

[2016-06-13 15:54] avdg commented on #1133
It is implemented in the compressor, so no issues there.

[2016-06-13 15:55] kzc commented on #1133
Yeah, `unsafe_comps` docs should be added if not there. I see that compress option used by a few node modules in the wild.

[2016-06-13 16:17] avdg commented on #1133
What was the issue about `in` and `instanceof` btw? I didn't take a deep look into the minified code yet.

[2016-06-13 16:20] avdg commented on #1133
Current work is up on https://github.com/mishoo/UglifyJS2/compare/master...avdg:fix-comparing

[2016-06-13 16:20] kzc commented on #1133
Constant expressions involving `in` and `instanceof` can't be reduced, so don't try.

[2016-06-13 16:21] avdg commented on #1133
oh

[2016-06-13 16:24] kzc commented on #1133
[code]
etc...

[2016-06-13 16:27] avdg commented on #1133
yeah, I saw the examples a bit late. I'm starting to wonder how that code got into the codebase in the first place...

[2016-06-13 16:28] avdg commented on #1133
Anyway, I reverted the code a bit and the result was just an exploded compressor. Luckily it was all software or there should be a lot of cleanup involved with it.

I'll finish testing.

[2016-06-13 16:30] kzc commented on #1133
I think all AST_Binary types were enumerated. Since the failing `in` and `instanceof` code in question doesn't typically happen in JS in the wild it was never discovered.

[2016-06-13 16:31] kzc commented on #1133
I don't understand. The patch I provided passed `npm test`.

[2016-06-13 16:32] avdg commented on #1133
(uh, I tried that out with a fixed compressor, then undid it given the changes from the patch, sorry I was so unclear)

[2016-06-14 09:54] webdesignberlin commented on #1033
Same Problem on node 4.4.5 with uglifyjs. If i run
[code]
via
[code]
Bash returns
[code]

[2016-06-14 12:41] kzc commented on #1033
Try:
[code]

[2016-06-15 06:33] cuixiping commented on #1072
It's about the usage of enclose option.

[2016-06-15 10:31] avdg commented on #1124
So this bug report can be closed?

[2016-06-15 14:23] dep opened #1136 "Any way to suppress the way uglify wraps compressed JS with '(function(){' ?"
I notice by default, my minified scripts are all wrapped with:

 (function(){ ... }).call(this)

Is there any way to disable this?

[2016-06-15 14:42] kzc commented on #1136
It doesn't wrap by default.
[code]
[code]
You must be using another program that introduces that code.

[2016-06-16 09:56] alqu commented on #1124
Yes, this bug can be closed. I tested again against 0a3d780327d65b45ca69281af4af093c6c1b99dc and it works.

[2016-06-16 09:56] #1124 closed

[2016-06-16 11:40] avdg commented on #1114
This is a binding Pattern. I'll attempt to implement this, now I have quite good overview what's going on there on syntax level.

[2016-06-16 11:58] avdg commented on #1114
Binding patterns could seemingly occur in every parameter definition and some other places like in for patterns. I still have to digg down in the expected behaviour...

[2016-06-16 21:55] avdg commented on #1114
I guess I will end up with much code duplication while coding every same like code from scratch. I want to reduce them, but I still have to see where to deduplicate and I have to start from something.

[2016-06-16 21:57] avdg commented on #1114
The cause of the duplication: there are many very similar patterns in javascript, yet behaving a little bit different.

[2016-06-17 22:20] avdg commented on #448
ES 2017 / ES 7 is out now, and since it's easy to implement the `**=` and `**` operators, I'm doing them now.
The other important change is Array.prototype.includes, but support for that will automatically be included in uglifyjs once it is supported the execution host (which is mostly node, unless ported to the browser).

On the background I am trying to document on everything related to `([{ ...

[2016-06-18 19:55] arackaf commented on #448
Am I seeing correctly that basic array destructuring doesn't work? I've installed from the harmony branch, and most ES6 features are working ... strange that that one wouldn't be.  Am I missing something?

[2016-06-18 20:04] avdg commented on #448
Depends on what you call array destructuring. It could be an assignmentPattern (those in front of = or in call expression), literal (after =) or in parameters.

And there are many pr in queue if you like to test them.

[2016-06-18 20:05] arackaf commented on #448
Basically this.

[code]

[2016-06-18 20:14] avdg commented on #448
See #1125

[2016-06-18 20:17] klimashkin commented on #448
@arackaf It's a spread, not destructuring

[2016-06-18 20:33] arackaf commented on #448
@klimashkin - yep, already corrected, thanks.

@avdg good to know - thank you for the info.

[2016-06-18 23:39] avdg commented on #1105
I guess the with tests are failing due to compression being enabled in test, while here I only tested without compression. Late realisation I know.

Though I still have to investigate the difference between:

Base test: https://github.com/tc39/test262/blob/es5-tests/test/suite/ch12/12.10/S12.10_A1.10_T1.js

Correct:

[code]

Incorrect (beautified after compressing):

[code]

Not sure what the diff

[2016-06-18 23:50] avdg commented on #1105
Ah Infinty replaced by 1/0

[2016-06-18 23:53] avdg commented on #1105
Tests passed if Infinity isn't replaced by 1/0.

[2016-06-18 23:56] EirikBirkeland opened #1142 "`--mangle-regex` can't be used alone (and no error output)"
`--mangle-regex="/regex/` can not be used without also specifying`--mangle-props`. Is this intentional, or how about allowing `--mangle-regex` as a stand-alone flag?

Alternatively, we could just warn the user that `mangle-props` must be specified when attempting to use `mangle-regex` alone.

[2016-06-19 01:11] kzc commented on #1142
I think if `--mangle-regex=/regex/` is specified then that ought to imply `--mangle-props=true`. But the `--mangle-props` flag is still required for backwards compatibility and for the pending PR #1070.

For that matter, if `--mangle-props=true` is specified without `--mangle-regex` then it ought to imply `--mangle-regex=/./`

[2016-06-19 01:23] kzc commented on #1105
`Infinity` is equivalent to `1/0`. What's the issue here?

[2016-06-19 01:27] michaelficarra commented on #1105
@kzc That's just not true. `Infinity` is an identifier.

[2016-06-19 01:28] avdg commented on #1105
Not in with scope

[2016-06-19 01:29] avdg commented on #1105
I have a tentative fix though on my computer.

[2016-06-19 01:32] avdg commented on #1105
With (obj){Infinity} may refer to obj.Infinity

[2016-06-19 01:40] kzc commented on #1105
Reduced test case:
[code]

[2016-06-19 01:45] kzc commented on #1105
This one is not worth fixing.

If someone uses non strict mode, a `with` statement and `Infinity` as a property name then they deserve to get the wrong answer.

[2016-06-19 02:01] kzc commented on #1105
[code]
Here's the problem - the following `switch` should not be executed if `self` is a descendant of an `AST_With` node.
[code]

[2016-06-19 02:13] avdg commented on #1105
I found the cause somewhere else, but anyway. I'll put my fix up when I'm on my computer again.

[2016-06-19 02:14] avdg commented on #1105
(There could be multiple causes anyway)

[2016-06-19 02:16] kzc commented on #1105
This fixes the problem:
[code]
but this may be more efficient:
[code]

[2016-06-19 02:41] kzc commented on #1105
I timed both patches above against a 1MB js file and the timings were the same. So the first patch is preferable.

[2016-06-19 02:53] kzc commented on #1105
This is an even simpler more efficient fix:
[code]

[2016-06-19 03:19] kzc commented on #1105
Infinity issue fix: #1143

[2016-06-19 05:21] fusepilot opened #1144 ""Expected: :" error in ExtendScript"
I'm trying to use Uglify to compress and obscure Adobe ExtendScript ( ES3 dialect of JS ) code. Uglify seems to strip parentheses in nested ternary expressions. ExtendScript can't understand this and throws an error: ````Expected: :````.

Input code:
[code]

Output code from ````uglifyjs -b -c -o output.js -- input.js````:
[code]

I'm aware how edge case this is, but it would be great if there was

[2016-06-19 10:49] kzc commented on #1144
There's no such compression option. But if you want to add parens to the consequent of a conditional here's the UglifyJS2 patch:
[code]
If you have the same issue with the ternary alternative you'd incorporate a similar change with `p.alternative`.

Without patch:
[code]
With the patch:
[code]
Since this patch makes the output larger it will not be incorporated into uglify. You should probably rep

[2016-06-19 14:12] sod opened #1145 "Significant longer compress time with `sequences=true` on rollup build"
Edit: see https://github.com/mishoo/UglifyJS2/issues/1145#issuecomment-227006941 for reproducible example

Hi. While fooling around with jspm I identified that while everything gets gradually slower when adding files, uglifyjs got way slower.

In particular its this (https://github.com/systemjs/builder/blob/master/lib/output.js#L84) `figure_out_scope()` call after `ast.transform()`

This is the re

[2016-06-19 14:40] avdg commented on #1145
This is angular specific code no? Is it reproducible without angular code?

[2016-06-19 14:41] avdg commented on #1145
Growth is also a bit slower than linear. It's luckily far from being exponential.

[2016-06-19 15:01] avdg commented on #1145
It still can be said from the numbers here that figure_out_scope takes about 80% of the execution time here.

[2016-06-19 16:15] sod commented on #1145
just isolated an example.

This file: https://gist.github.com/sod/07e33c2e36156aafcd78e87a8ff4ee8e (374 kb)
This command: `uglifyjs --compress --mangle -- build.js > build.min.js`
This result: `73,24s user 0,40s system 100% cpu 1:13,49 total`

So the 370kb file takes 73s to minify

[2016-06-19 16:38] sod commented on #1145
Got a better example:

This file: https://gist.github.com/sod/6c00612888b8b7497a28eff38ad47d87 (352 kb)
This command: uglifyjs --compress --mangle -- build.js > build.min.js
This result: `69,23s user 0,33s system 100% cpu 1:09,28 total`

Now remove the first line ... the `var x,y,z,...` where all variables become defined
Filesize: 336 kb
Result: `2,16s user 0,10s system 108% cpu 2,095 total`

So t

[2016-06-19 16:53] avdg commented on #1145
Might need a perf analysis on that.

[2016-06-19 17:14] avdg commented on #1145
I don't know how much information can be gained from https://gist.github.com/avdg/29278583e016bdad551e1cbf1401cdd4

[2016-06-19 17:30] kenttsai opened #1146 "program stops for object literal property value shorthand."
The program does not emit any code when it encounter object literal property value shorthand as below:
        return {
            store,
            get,
            deleteId
        };

[2016-06-19 17:38] avdg commented on #1146
Is this on harmony?

[2016-06-19 17:46] sod commented on #1145
It's really just the "big `var` on top" that causes this. So a simplified test should reduce the noise:

1000 values:
`var` inline: https://gist.github.com/sod/8a86e1a5448740a25e64c7f5746fd221 (uglify time: 0.25s)
no `var` at all: https://gist.github.com/sod/fea35f99d633a63b4f65d735a805516a (uglify time: 0.25s)
`var` on head: https://gist.github.com/sod/60834139bf84298bb10af86069968d62 (uglify tim

[2016-06-19 18:06] sod commented on #1145
here is a test script:

https://gist.github.com/sod/667821065fb37d6d406c07cca07f9e54

#### without var in head
[code]

#### with var in head
[code]

[2016-06-19 18:14] avdg commented on #1145
No, it doesn't necessary mean it's the cause on its own. Yes, a lack of vars seems to speed up compiling, but it can also involve extra checks anywhere in the code. Without proper tools and without being clear to pinpoint the code that causes this issue, I'm not able to help.

[2016-06-19 18:24] avdg commented on #1145
Sorry for being hard, but I think the example was clear enough from https://github.com/mishoo/UglifyJS2/issues/1145#issuecomment-227006941.

Instead of digging in the code that makes uglify slow, it's now way better to look why uglify itself is slow.

[2016-06-19 18:28] avdg commented on #1145
How did you install uglifyjs? It seems the latest version commit on master in scope.js has a speedup update.

https://github.com/mishoo/UglifyJS2/commit/45ddb9caeb200615b9f0ced0ed83fa95f0c51b23

[2016-06-19 18:36] sod commented on #1145
I did:

[code]

[2016-06-19 18:37] sod commented on #1145
Oh, 2.6.2 is from before that commit. I try the master real quick.

[2016-06-19 18:49] sod commented on #1145
The master emits similar results:

[code]

[code]

[2016-06-19 18:55] #1133 closed

[2016-06-19 19:23] rvanvelzen commented on #1146
This is a bug - the parser is trying to forcefully parse a getter function.

[2016-06-19 19:24] rvanvelzen commented on #1144
UglifyJS targets ECMAScript compliant engines. I'm sorry, this is not going to happen in the upstream, not even with a flag.

Thanks for the report!

[2016-06-19 19:24] #1144 closed

[2016-06-19 19:25] rvanvelzen commented on #1082
I don't think there's anything breaking in this release, so shall I tag/publish 2.6.3?

[2016-06-19 19:50] avdg commented on #1082
Let's keep moving, it's been a while, I guess.

[2016-06-19 19:59] rvanvelzen commented on #1082
Just published 2.6.3 to npm.

[2016-06-19 19:59] #1082 closed

[2016-06-19 23:00] avdg commented on #1098
This issue should be resolved by now

[2016-06-19 23:28] avdg commented on #1080
Hmm.. actually interesting question too: it seems the compress, mangle and output phase supports the screw_ie8 options. https://github.com/mishoo/UglifyJS2/blob/e645ba84cfc950183a222c2cce2ea6b94fe51226/bin/uglifyjs#L233

[2016-06-20 01:16] kenttsai commented on #1146
yes, it is on harmony branch.

[2016-06-20 02:17] kenttsai opened #1147 "Harmony branch fails to uglify es6 template literals"
Harmony branch fails to uglify es6 template literals. The multi-line template literal retains space and carriage return in the uglified code.

[2016-06-20 03:35] nha opened #1148 "2.6.3 breaks compatibility with Nashorn"
There seems to be a regression in 2.6.3 that makes the code produced by `uglifyjs --self`, as described here https://github.com/mishoo/UglifyJS2/issues/122 not compatible with the Nashorn JS engine anymore.

The following versions (and possibly some below) work for me:
- 2.5.0
- 2.6.0
- 2.6.1
- 2.6.2

However since `2.6.3` there is an exception thrown :

[code]

[2016-06-20 04:59] kzc commented on #1148
Since most of us here have no experience with Nashorn (I had to google it) it would be helpful if you could isolate the issue causing this incompatibility. You should be able to do a `git bisect` on UglifyJS2 master.

[2016-06-20 06:31] rvanvelzen commented on #1148
I thought I had tested more thoroughly, but `./bin/uglify --self | node` crashes as well.

[2016-06-20 06:41] rvanvelzen commented on #1148
@nha can you verify whether aa82027 fixes this?

[2016-06-20 09:48] shaharmor commented on #103
Any update on this?

[2016-06-20 10:15] avdg commented on #1148
That's a very recent change though :/

[2016-06-20 10:20] rvanvelzen commented on #103
@skaharmor Your question is a bit too broad. You can already let UglifyJS mangle properties based on a regex - https://github.com/mishoo/UglifyJS2#mangleproperties-options

[2016-06-20 10:40] acarstoiu opened #1149 "Mangling exceptions defined in code (as comments)"
Currently, _UglifyJS_ supports declaring variable and function names that should be excluded from mangling; this serves very well when such list of exempted identifiers goes relatively unchanged in time. Unfortunately there are (a lot of) cases when such a list is just a select part of the code, not something established in advance. Thus, such a list is _very_ sensitive to code modifications.

A m

[2016-06-20 10:43] nha commented on #1148
@rvanvelzen Yes that commit fixes the error.
@avdg Yes very recent :) I was working on making a Clojure wrapper for UglifyJS there https://github.com/nha/boot-uglify

I will let you handle closing this issue at your convenience.

Thanks !

[2016-06-20 10:45] rvanvelzen commented on #1149
Generally, lists of names to be excluded are small, because you should not expose much internal state.

I find this hard to believe. Can you give some examples?

[2016-06-20 10:58] acarstoiu commented on #1149
Of course. The mini-framework kind of examples:
- exposing a function by its name on RPC
- building the list of a function's arguments based on some recipes (identified by argument names) and then calling that function

[2016-06-20 11:02] rvanvelzen commented on #1149
At least for function names you can use `--keep-fnames`.

It is very uncommon to want to keep parameter names, but you're more than welcome to propose a PR. :-)

[2016-06-20 11:05] acarstoiu commented on #1149
The function names are **not known in advance** by the mini-framework and it's out of the question to maintain a specially crafted list of parameters for uglify with every code change.

[2016-06-20 11:32] fabiosantoscode commented on #103
I think this issue should be closed, advanced flow control to find private methods will never be implemented, so mangle-regex is all we have.

[2016-06-20 11:37] axkibe commented on #103
I agree, as posted before, I'm fiddling with Uglifyies internals to decide on a predefined list on to be mangled names and those not to be touched. Would be nice if this feature would have a more defined/documented API, but yes otherwise I agree, Uglify will never make full flow control, this kind of automatic mangling would need a full transpiled language, possible but not within the scope of ugl

[2016-06-20 12:30] kzc commented on #1148
So I guess 2.6.4 will be released shortly?

[2016-06-20 14:03] rvanvelzen commented on #1148
Yeah, but I'm thinking about adding some tests for the cli. Right now we're only testing internals, but some test suite a la [Mercurial](https://www.mercurial-scm.org/wiki/WritingTests#Basic_example) would be nice.

[2016-06-20 14:06] kzc commented on #1148
mocha test that spawns node on the output of --self ?

[2016-06-20 14:44] graingert commented on #448
@mishoo is there a list of which harmony features are supported? Do we know what transpilation rules are needed to support all of ES6 with minimal transpilation.

[2016-06-20 14:45] graingert commented on #448
ah I found one here: https://github.com/christophehurpeau/babel-preset-modern-browsers/blob/master/webpack2-uglifyjs.js Looks like it's mostly done! Neat.

[2016-06-20 21:55] LeBlaaanc opened #1153 "2.6.3 breaks react-native bundle"
The recent update to uglify-js (2.6.3) seems to cause the following error when running `react-native bundle ios --entry-file index.ios.js --bundle-output ./foo.bundle --dev false`

[code]

Downgrading the package to 2.6.2 makes it bundle work just fine.

Also see [https://github.com/facebook/react-native/issues/8259](https://github.com/facebook/react-native/issues/8259).

[2016-06-20 22:00] avdg commented on #1153
Any clearer errors? There is not much information in it. Ideally there would be a reduced test case showing the code or anything leading to it.

[2016-06-20 22:01] kzc commented on #1153
It's likely fixed by this: https://github.com/mishoo/UglifyJS2/commit/aa82027a1721ee7233e92ab1b9f9ced43a8f17cf

@LeBlaaanc can you verify?

[2016-06-20 22:03] kzc commented on #1153
Seems to be a different error. Nevermind.

[2016-06-20 22:10] kzc commented on #1153
@LeBlaaanc Could you do a `git bisect` on UglifyJS2 master? You're in a better position to isolate the issue as we only deal with raw javascript bug reports.

[2016-06-20 22:58] LeBlaaanc commented on #1153
@kzc I'll give it a go and see if I can help.

[2016-06-21 00:52] jessehattabaugh commented on #520
+1

[2016-06-21 04:21] kzc commented on #1145
If the upper limit to sequence size is lowered you can see the effect on performance on the same javascript input as above:
[code]
[code]
[code]

[2016-06-21 08:59] rvanvelzen commented on #520
Please refrain from adding "+1" comments. You can show your interest by subscribing / reacting.

[2016-06-21 09:02] rvanvelzen commented on #1148
Once #1152 and a fix for #1153 are in I'll push a new release.

This particular issue is solved though, thanks for the report!

[2016-06-21 09:02] #1148 closed

[2016-06-21 09:03] rvanvelzen commented on #1136
As @kzc notes, we don't wrap by default, and our wrapping looks differently. This is unlikely to be caused by UglifyJS.

[2016-06-21 09:03] #1136 closed

[2016-06-21 09:07] rvanvelzen commented on #1147
Could you give some examples of bad output and what you expect?

[2016-06-21 16:43] cheapsteak commented on #1153
We ran into the same error but we're not using React

[2016-06-21 16:50] kzc commented on #1153
Such reports are not very helpful in isolating the problem. Reports need to provide javascript source code that breaks when run through uglify and the minification options that were used - without involving third party applications or libraries.

[2016-06-21 16:54] andricDu opened #1154 "2.6.3 breaks grunt-contrib-uglify"
[code]

I've confirmed this happens in `2.6.3` and not in `2.6.2` by manually installing the transient dependancies (uglify-js).

[2016-06-21 17:00] kzc commented on #1154
Since this error happens when running uglify as opposed to using uglified code, could you try applying this fix and tell us if that remedies the situation?

 https://github.com/mishoo/UglifyJS2/commit/aa82027a1721ee7233e92ab1b9f9ced43a8f17cf

[2016-06-21 17:01] avdg commented on #1154
Seems to be the same issue of #1153

[2016-06-21 17:02] avdg commented on #1154
Also, no bugs reported on https://github.com/gruntjs/grunt-contrib-uglify yet

[2016-06-21 17:09] kzc commented on #1154
There are 80 lines of code within the uglify-js library using `.option`:
[code]
We need a javascript input file and the uglify options used to reproduce the issue.

[2016-06-21 17:31] andricDu commented on #1154
The uglify options in use are `--source-map` `  --source-map-include-sources ` `--compress `  `--mangle`

[2016-06-21 17:32] kzc commented on #1154
Can you provide javascript source code (reduced or complete) that triggers the problem?

[2016-06-21 17:40] andricDu commented on #1154
Ran this:
[code]

Got this:

[code]

[2016-06-21 17:43] kenttsai commented on #1147
I expect the output will strip out space/tab and carriage return of template literal. But below is what I got, it retains original format of template literal.

![uglify](https://cloud.githubusercontent.com/assets/535221/16240090/7962f4e0-381a-11e6-9003-16d9f617b1f7.PNG)

[2016-06-21 17:44] kzc commented on #1154
We're getting closer but we still need sample javascript input.
That particular line of code has not changed since Sep 4, 2012.

[2016-06-21 18:13] kzc commented on #1154
@andricDu Could you please apply this patch to uglify-js@2.6.3 and retest against your javascript?
[code]

[2016-06-21 18:17] andricDu commented on #1154
This breaks 2.6.3 with `-c`

[code]

[2016-06-21 18:19] mishoo commented on #1154
@andricDu thanks for narrowing it down!

[2016-06-21 18:19] andricDu commented on #1154
Sorry for not pasting in our output from concat but its 10s of 1000s of lines.

[2016-06-21 18:21] avdg commented on #1147
Uh, uglify shouldn't touch literals.

[2016-06-21 18:23] avdg commented on #1154
Yep, got the error. Clearly a bug in uglify

[2016-06-21 18:24] cheapsteak commented on #1154
Even smaller failure case:

[code]

[2016-06-21 18:27] avdg commented on #1154
@kzc: fix works

[2016-06-21 18:29] kzc commented on #1154
reduced test case:
[code]
The [patch](https://github.com/mishoo/UglifyJS2/issues/1154#issuecomment-227525008) above fixes the issue:
[code]

[2016-06-21 18:29] avdg commented on #1154
Seems the bug was introduced little later than 2.6.1 actually, which is weird.

[2016-06-21 18:33] kzc commented on #1154
PR coming up.

[2016-06-21 18:37] andricDu commented on #1154
Thanks for the quick replies.

[2016-06-21 18:59] kzc commented on #1154
Fix: #1155

[2016-06-21 18:59] kzc commented on #1153
Fix: #1155

[2016-06-21 21:33] kzc opened #1156 "2.6.3 breaks uglifyjs --self -c --dump-spidermonkey-ast"
[code]
smaller test case:
[code]
Works in 2.6.2.

Somewhere token information got lost in compress phase since last release. Although `--dump-spidermonkey-ast` ought to also work without any token information at all.

[2016-06-21 21:46] kzc commented on #1156
Issue introduced in commit bc49dfd27a800cfa2070464c236a1d56ed30bfca

The fix:
[code]
But I also would like to make `--dump-spidermonkey-ast` work without token info.

[2016-06-21 22:03] kzc commented on #1156
@rvanvelzen https://github.com/mishoo/UglifyJS2/commit/bc49dfd27a800cfa2070464c236a1d56ed30bfca appears to transform all negative `AST_Number`s into `AST_Unary` operator `"-"` of positive `AST_Number`s. Was that your intent?

[2016-06-21 22:09] kzc commented on #1156
In function `make_node_from_constant(compressor, val, orig)`:
[code]

Will it work when `val` is `0`?

[2016-06-21 22:19] kzc commented on #1156
Nevermind the last comment - my brain forgot about NaN. `1/0 < 0` is `false`. It works with a `val` of `0`.

[2016-06-21 22:39] kzc commented on #1156
Fix: https://github.com/mishoo/UglifyJS2/issues/1157

[2016-06-22 01:44] kenttsai commented on #1147
I don't know the reason of not touching literals, but Closrue Compiler uglifies it as below:
![image](https://cloud.githubusercontent.com/assets/535221/16252065/d2dc9c4a-385d-11e6-887a-adfbcb590546.png)

[2016-06-22 01:51] avdg commented on #1147
I don't think there are compressors to convert templates to strings yet. This can be done later though.

[2016-06-22 03:29] kzc commented on #1147
According to http://tc39wiki.calculist.org/es6/template-strings/
[code]
So is the issue that uglify is not using `\n` for newlines?

@avdg Any reason why uglify harmony branch is not respecting `-b ascii_only=true` ?

[2016-06-22 07:12] rozumny commented on #348
until this is fixed you can find stack trace in ionic by:
npm install uglify-js -g
uglifyjs ./www/build/js/app.bundle.js

[2016-06-22 08:31] avdg commented on #1147
Probably not using the ascii_only method in the generator. Though template literals work a bit different. Need to look up semantics.

[2016-06-22 08:35] avdg commented on #1147
[code]

It seems not that bad actually. Escaping should be allowed.

[2016-06-22 08:59] avdg commented on #1147
Actually it's not that bad for compression actually to use newlines, unless you really want to make minified js for the looks of it. You are only 1 char and that char is probably going to be used as well as scripts tend to grow larger.

To really solve the issue with spacing in html, it might be better to store the variables somewhere else so it's easy to preprocess them. But I don't think a devel

[2016-06-22 12:16] kzc commented on #1147
I agree that a newline byte is smaller than `\n`. But `ascii_only=true` should output everything in escaped form as it does for regular strings.

[2016-06-22 12:50] kzc commented on #1153
Should be fixed by uglify-js@2.6.4 released today.

[2016-06-22 14:22] acarstoiu commented on #448
Is there any hope that the `harmony` branch gets merged into the main stream? I believe everyone here would be satisfied with just a subset of ES6 features, including just the one or two reasons they came to this issue in the first place.

**A release with partial ES6 support would be great.** Using a development branch in production (because that's the only environment where _UglifyJS_ is truely

[2016-06-22 14:25] graingert commented on #448
Eslint seems to be entirely supported. (Except for one outstanding bug).
Let's wait for that bug to be closed then release?

At least create a package with a different name uglifyjs2-harmony or
uglifyES
On 22 Jun 2016 3:23 pm, "acarstoiu" <notifications@github.com> wrote:

[2016-06-22 15:07] michaelficarra commented on #1147
Also, if you are to make any changes to templates, be sure not to ever make any changes to tagged templates. The raw characters used, including the escape sequences, can be observed in tagged templates.

[2016-06-22 16:11] kzc opened #1159 "(off-topic) Chrome/v8 bug: `typeof thing === "undefined"` not reliable."
Just thought this would be of interest to uglify developers and users:

https://www.reddit.com/r/javascript/comments/4oxtgk/javascript_developers_be_warned_about_this_crazy/

Will close this issue after a few days.

[2016-06-22 16:18] avdg commented on #1159
Looks like this will not get fixed in v8 5.0 and just get merged in 5.1, I hope (and I guess they will) that nodejs will switch to a more recent major by then.

[2016-06-22 16:19] kzc commented on #1159
Bug present in node 6.x, but not in node 5.x and earlier versions.

[2016-06-22 17:44] christophehurpeau commented on #1098
Thanks !

[2016-06-22 17:44] #1098 closed

[2016-06-22 18:30] arackaf commented on #448
Not to be the voice of disagreement, but I would suggest waiting until every ES6 feature is complete.  Saying "Uglify" doesn't support ES6 yet, so just keep transpiling" will be a lot easier to deal with than "These N ES6 features are not done, so only use UglifyJS on your ES6 if you never use any of them."

[2016-06-22 18:35] kzc opened #1161 "Array holes cause fatal exception in --spidermonkey import"
Compare:
[code]
to:
[code]
`lib/mozilla-ast.js` spidermonkey --> Uglify AST translation doesn't convert `null` array element of ESTree `ArrayExpression` into `AST_Hole`.

[2016-06-22 18:44] kzc commented on #1161
Here's the ESTree (spidermonkey) AST for `[undefined,,null]` that uglifyjs correctly emitted with `--dump-spidermonkey-ast`:
[code]
"range" and "loc" debug info was edited out.

[2016-06-22 20:34] avdg commented on #1161
Uh, I thought for a moment you were talking about harmony (which would be worse with the lack of documentation) :p

[2016-06-22 20:49] kzc commented on #1161
This is plain old vanilla ES5.1 I'm talking about.

[2016-06-22 21:39] ivebencrazy opened #1162 "global_defs + window.onerror gives the wrong column/line for errors"
Not sure if this is an uglify issue or another issue, but I was hoping someone might have some insight into why it's breaking...

 So in my code I'm using a [`window.onerror`](https://developer.mozilla.org/en-US/docs/Web/API/GlobalEventHandlers/onerror) to catch user-visible errors.  It works with my un-minified code perfectly, and works with the following configuration perfectly (using grunt-cont

[2016-06-22 21:52] avdg commented on #448
Refreshed logs: https://gist.github.com/avdg/b64895103faa778b545a322c6b01f162

[2016-06-22 23:00] kzc commented on #1161
Fix: #1163

[2016-06-23 08:40] acarstoiu commented on #448
@arackaf Transpiling is stupidly useless. The interpreter will see only ES5 code which means it will not apply any enhancements or optimizations specified in ES6. Not to mention that any generated code is most probably suboptimal.

Sorry for the bluntness, but only what happens in production really matters.

[2016-06-23 08:48] kzc commented on #448
Native ES6 speed is not as rosy as you may think. JS engines have had years of tuning for ES5.

https://kpdecker.github.io/six-speed/

[2016-06-23 11:13] avdg commented on #448
Actually a programming language may add more sugar to its language. Although most sugar are carefully balanced, they tend to make the language slower at cost of easier to write code.

This doesn't have to be that dramatic though, cpu's are currently only improving and becoming faster and faster and some features may allow more access to specific specialized hardware. At least if an interpreter dec

[2016-06-23 11:46] acarstoiu commented on #448
I don't intend to turn this into a discussion, but I expect a slight peformance gain (all other conditions being equal) between explicit class-like constructs (ES5) and the **_class_** statement in ES6, simply because the interpreter is parsing less code and can make more decisions, knowing about the intended outcome.
And that's just an example.

Also no matter how the hardware is evolving, people

[2016-06-23 12:25] avdg commented on #448
Not if we all know where the trade-offs are. Anyway, there is always work if someone is digging deeper in stuff that can be better. Being paid for it is a bit different ;-)

[2016-06-23 12:47] avdg commented on #1159
Anyway, it seems that the nodejs devs will just backport the patch manually. I don't think it should affect us too much once there is a new fixing release (which isn't there yet as long as 6.2.2 is latest).

[2016-06-23 13:54] arackaf commented on #448
@avdg ummm, if your app is *that* performance sensitive I'm really not sure why you're transpiling at all.  Why are you not hand-writing every line of JS your users will execute?!

And yeah, @kzc beat me to it. Engines have not had much time to optimize ES6 (yet). There's no reason to assume un-transpiled ES6 will necessarily be faster on all engines.

I'm eagerly looking forward to UglifyJS being

[2016-06-23 17:07] kzc commented on #1156
#1157 replaced by #1165

[2016-06-23 17:07] kzc commented on #1161
#1163 replaced by #1165

[2016-06-23 18:05] kzc commented on #1159
[code]
:-)

[2016-06-23 19:21] david-r-edgar opened #1166 "[ES6] Identifiers defined with 'let' not being reserved."
How can I reserve the name of an identifier defined with 'let'?

Here's some sample code demonstrating how 'var' and 'let' are not being treated the same.

[code]

[2016-06-23 20:37] kzc commented on #1166
[code]

[2016-06-23 20:39] kzc commented on #1166
But it doesn't work correctly.

[2016-06-23 20:40] kzc commented on #1166
I take that back:
[code]

[2016-06-23 20:52] avdg commented on #1166
Which uglify version are you using?

[2016-06-23 20:54] avdg commented on #1159
It biases to true-ish no? In that case it's actually not that bad at all, though still not wanted.

[2016-06-23 20:54] kzc commented on #1166
harmonious latest

[2016-06-23 20:55] avdg commented on #1159
(meh forget that comment I made)

[2016-06-23 20:56] kzc commented on #1159
Reading about the v8 bug - the first 100 times it gives the correct answer. After that the JIT kicks in and it's random.

[2016-06-23 20:59] avdg commented on #1159
Also, nodejs is loading things lazily. That code never get executed twice in normal same environment (there is evil code, but that has normally it's own context).

[2016-06-23 21:48] kzc commented on #1166
Was coded that way on purpose:
[code]
https://github.com/mishoo/UglifyJS2/blob/6eaeb19a4a5ecbb890fc025591bb24d466d3efe0/lib/scope.js#L347

Apparently a top level `let` symbol is not considered global and such can be mangled.

On master branch it's:
[code]
If that line is reverted to match master then this harmony test fails:
[code]

[2016-06-23 22:18] avdg commented on #1166
Uh... yeah, we need to basically reinspect all es6 code because a lot of code is implemented incorrectly.

[2016-06-23 22:18] avdg commented on #1166
Which is what I'm actually doing right now for template strings (where I'm now struggling with my own implementation getting through the tests)

[2016-06-23 22:24] kzc commented on #1166
So should top level `let`s be mangleable or not? That export trick seems to work. Suggests it's by design.

[2016-06-23 22:26] avdg commented on #1166
let doesn't seem to occur in the list of reserved words.

[2016-06-23 22:28] kzc commented on #1166
That's not the issue. It's the symbol we're talking about, not `let` keyword.

[2016-06-24 07:26] Upendrasengar opened #1167 "Does not work with nested if conditions !"
Hello guys ,

I've no idea whether this is known issue or not but it doesn't work at my end please let me know if it is already resolved or some one is trying to resolve.

Here the question i've raised at stackoverflow.

http://stackoverflow.com/questions/37986480/uglify-unable-to-work-for-nested-if-else

i'm using grunt-uglify , It works fine to minify the code but when i evaluate this code it re

[2016-06-24 07:27] Upendrasengar commented on #1167
Please review !

[2016-06-24 12:46] kzc commented on #1167
Judging by the error I'm guessing you're running Adobe ExtendScript?

See https://github.com/mishoo/UglifyJS2/issues/1144

[2016-06-24 13:43] avdg commented on #1167
These issues are wasting a lot of my time tbh

[2016-06-24 14:29] iliashkolyar opened #1168 "Node API lacking of mangle documentation"
I was looking to minify code and saw that my top level variables weren't mangled.
Looking at the documentation, there is the "-m toplevel" option that is described in the binary usage:

I was looking to do so using the Node API, but the only documentation I could find was:

After reading the code I was able to make it work by using the following API:
`uglifier.minify('tst.js', { mangle: { toplevel

[2016-06-24 15:12] avdg commented on #1168
Feel free to suggest edits or to edit the readme and send a pr.

[2016-06-24 23:37] avdg commented on #1147
@michaelficarra I'm not sure about how safe it is in optimizing expressions inside tagged template strings. I prefer not to touch it, though I still need some advice over there.

[2016-06-24 23:39] avdg commented on #1147
The optimization is evaluating constant expressions.

[2016-06-25 02:22] michaelficarra commented on #1147
That should be fine. You just can't eliminate them entirely or change any of the literal parts.

[2016-06-25 07:33] avdg commented on #1147
Nono, that would indeed change the content of the parameters

[2016-06-25 08:55] iliashkolyar commented on #1168
See [#1169] (https://github.com/mishoo/UglifyJS2/pull/1169)

[2016-06-25 14:32] michaelficarra commented on #1166
Top-level `let` doesn't create a property on the global.

[2016-06-25 14:35] kzc commented on #1166
Neither do top level vars. This is just a mangling issue that export appears to solve.

[2016-06-25 14:47] david-r-edgar commented on #1166
But https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Statements/let states that top level vars do:

Is this incorrect?

[2016-06-25 14:55] michaelficarra commented on #1166
It depends on whether we were talking about scripts or modules. Top-level `var` only creates properties on the global object in scripts.

[2016-06-25 14:55] kzc commented on #1166
[code]

[2016-06-25 14:56] michaelficarra commented on #1166
@kzc https://github.com/nodejs/node-v0.x-archive/issues/6254

[2016-06-25 15:01] kzc commented on #1166
So node does it one way and browsers another.

Is native ES6 module import/export properly supported anywhere?

@david-r-edgar Does `export` as suggested in https://github.com/mishoo/UglifyJS2/issues/1166#issuecomment-228176084 above satisfy your original `let` issue?

[2016-06-25 15:19] david-r-edgar commented on #1166
@kzc `export` seems to be a workaround for the original mangling issue, yes. (Though I don't understand why '-r' shouldn't work?)

And OK, I ran into another issue (using `export` appears to give an error when used in a chrome extension), but that's not uglify-related.

[2016-06-25 15:27] kzc commented on #1166
Good.

The original author of that uglify harmony feature made the call that top level `let` symbols are subject to being mangled (unlike top-level `var`s) and evidently `export` must be used:

See: https://github.com/mishoo/UglifyJS2/issues/1166#issuecomment-228194972

I can't say it's incorrect. It seems reasonable. ES6 module support is not well supported anywhere so it's a moving target.

[2016-06-25 15:29] david-r-edgar commented on #1166
OK, I just thought the whole point of `-r` was to avoid mangling specific symbols that otherwise would be mangled... maybe I misunderstood.

[2016-06-25 15:35] michaelficarra commented on #1166
That's the correct call assuming all inputs are scripts.

[2016-06-25 15:35] kzc commented on #1166
You make a good point. That documentation was written when only `var` was supported in ES5.

The way the harmony code looks all `let` symbols appear to be subject to mangle. It seems to be by design.

[2016-06-25 15:47] david-r-edgar commented on #1166
Ah, I see. My preference would be to use an option - I'd rather modify the build script than have to modify the code, and it would seem more consistent to also support reserved names for `let`. But alternatively, noting this in the documentation would be acceptable.

[2016-06-25 15:54] kzc commented on #1166
@fabiosantoscode @rvanvelzen Any thoughts on this matter?

[2016-06-25 18:19] #1159 closed

[2016-06-25 21:09] Techadler opened #1171 "Syntax error with 'let' statement in loop headers"
The following code produces a syntax error:
[code]
As where:
[code]
produces correct code in the form of:
[code]

[2016-06-25 21:13] avdg commented on #1171
Which version are you using?

[2016-06-25 21:17] Techadler commented on #1171
I used an online instance reporting version 2.4.24.
Found [here](https://marijnhaverbeke.nl/uglifyjs).

[2016-06-25 21:19] avdg commented on #1171
I'm afraid that `let` is a harmony feature and isn't currently available on stable.
There is support for `let` statements on the harmony branch. But features may be unstable, but bug reports are welcome there.

All harmony related issues are tracked on #448.

[2016-06-25 21:39] avdg commented on #1171
Also, the latest version is 2.6.4

[2016-06-25 21:48] Techadler commented on #1171
The behavior is also present in the latest version 2.6.4

[2016-06-25 21:49] avdg commented on #1171
Yes, 2.6.4 isn't harmony yet, that is a separate branch and there is still a lot of work to do to get harmony features integrated.

[2016-06-25 21:53] avdg commented on #1171
Also note that there are scoping bugs on harmony as well. That's why we have separate branches for these kind of stuff.

[2016-06-25 21:58] Techadler commented on #1171
I just tested it with the Harmony branch, and it seems to be working fine.

[2016-06-25 22:45] coreybutler commented on #895
Any update on this? Webkit now has 100% ES2015 support (coming in Safari 10) and all of the major browsers natively support `let`/`const` now.

[2016-06-25 22:54] avdg commented on #895
Please use the harmony branch. The branch is still considered unstable and progress can be tracked on #448.

[2016-06-25 23:07] avdg commented on #895
Uh, I would be interested in the bug on master as well. The master branch should normally be stable and bugs do get fixed if they are specified and given attention to.

[2016-06-25 23:09] avdg commented on #895
Errors should normally indicate where it crashed, and mostly the bug should be caused at the position the error is given, or before.

[2016-06-25 23:14] avdg commented on #1095
Not sure how that scoping stuff works

[2016-06-25 23:15] avdg commented on #1095
- [ ] Check if labels have their own scope

[2016-06-25 23:34] avdg commented on #895
Issue might be #1144, but uglify is strict 5.1 on master and we don't support older version or malformed outdated interpreters.

[2016-06-25 23:47] avdg commented on #1144
I think this is a valid es 5.1 bug

[2016-06-25 23:59] avdg commented on #1144
Parentheses aren't a compress option, they are read once, converted to ast and inserted again at the output phase if needed (to avoid confusion). Compression is done in AST trees and since the relations there are clear, there is no need for semicolons in the trees themselves.

[2016-06-26 04:47] kzc commented on #1144
Major JS engines and browsers accept the code without parens. ExtendScript has a bug.

[2016-06-26 09:32] avdg commented on #1144
Yeah, they should fix their engines and meh I care too much about even that piece of closed software.

[2016-06-26 09:53] sod commented on #1145
Thank you. `sequences=false` is indeed significantly faster without sacrificing that much compression.

[2016-06-26 10:34] avdg commented on #1145
Is there any reason to have seqLength so high? And sorry, I don't have the knowledge yet about that piece of code.

[2016-06-26 10:41] sod commented on #1145
It's a combination of typescript creating boilerplate code to support annotations on ES5 and http://rollupjs.org/ trying to reduce the build to as few scopes as possible.

[2016-06-26 10:51] sod commented on #1145
The test I posted is very harsh on the sequences mechanics. But in our real world application (2,5 MB build size) the uglifying dropped from 40s to 10s with `sequences=false` with just a 0.2% bigger file (uglify 2.6.4).

[2016-06-26 15:28] kzc commented on #1145
2000 is too high. It should be made a compress option.

[2016-06-26 17:07] kzc commented on #1145
@sod Could you change the title of this issue to refer to `sequences=true` rather than `figure_out_scope()`?

[2016-06-26 17:32] kzc commented on #1145
The compress `sequences` option could be changed to accept either a boolean value or a positive integer indicating the max length of comma sequences - i.e., `sequences=20`

[2016-06-26 18:05] kzc commented on #1145
[code]
[code]
`sequences=1` is grandfathered to be the same as `sequences=true` or `sequences=2000`.

[2016-06-26 18:36] avdg commented on #1084
Fixed in #1135

[2016-06-26 18:36] #1084 closed

[2016-06-26 19:03] avdg commented on #929
Solve in #1091.

[2016-06-26 19:03] #929 closed

[2016-06-26 21:32] kzc commented on #1145
See PR #1172

[2016-06-27 13:23] avdg commented on #1095
@kzc @rvanvelzen should this be fixed in master? It shouldn't affect master code too much but otherwise we get a more fragmented code base.

[2016-06-27 13:30] avdg commented on #1095
Also mentioning @mishoo since the structure has been that way from the start.

[2016-06-27 13:31] avdg commented on #1095
I guess it doesn't belong to AST_Statement so parent must be AST_Node?

[code]

[2016-06-27 13:36] kzc commented on #1095
My vote would be to keep master free of ES6isms. Eventually harmony will become master but based on the state of harmony I don't see that happening for at least another year.

`const` is an anomaly. It's not in ES5.1 and it's scope should be like `let`, not `var`.

[2016-06-27 13:42] avdg commented on #1095
Yeah, but it's kind of structural and es5 still has the foundations of es6. Of course, the block scoping thing will still be harmony.

I just rules out AST_Jump as candidate because the compressor expects code to jump *away* instead of jumping *into*.

Also, there is no issue with let, const and var. The issue is that the node is being recognized as Block, making block scoped variable declaration

[2016-06-27 13:56] kzc commented on #1095
Just try to work around it. harmony is work in progress. Shouldn't introduce instability into master until harmony is more mature.

`const` shouldn't be part of master because it's not valid ES5.1. But it's grandfathered I suppose.

[2016-06-27 14:11] avdg commented on #1095
If choosing for the workaround option I guess that #1101 should be refurbished.

[2016-06-27 23:10] avdg opened #1174 "Quote style and templates"
There might be an option added to the codegenerator to transform templates to normal strings.

Given implementation constraints, this is limited to:
- Non-tagged templates (properties of tagged templates may be called, like the raw content)
- Templates without expressions

Note that there has to be enough constraints to avoid ambiguity afterwards. So a clear "spec" might be helpful.

This feature

[2016-06-28 11:53] scriptjs opened #1175 "Dependencies are extremely stale"
The dependencies on this package are growing very old and need to be brought up to date. This will prevent duplicate modules entering our projects that are extremely dated.

[code]

[2016-06-28 12:34] avdg commented on #1175
Feel free to send pr if you're interested, though I'm sure some api's are changed and thus incompatible with current uglifyjs usage.

[2016-06-28 12:56] scriptjs commented on #1175
@avdg I can see probable issues with a couple of these. The others look like low hanging fruit. Will send pr's as I can find time. If any one else is inclined, please do not wait if you can spare some minutes and verify with tests.

[2016-06-28 13:11] avdg commented on #1175
No worries, I have other issues to deal with even though I'm worried about my pile of patches ready to be merged :-)

[2016-06-28 14:09] avdg commented on #1146
I have found other bugs as well and some cover holes in test262 reported on tc39/test262#703. Thanks for digging in.

I have to look at the impact on master as well.

[2016-06-28 14:48] avdg commented on #1146
UglifyJS on master seems spec compliant to es 5.1 and even supports numbers and strings as well. I was a bit afraid it could accept regex as well, but it seems it doesn't :-)

[2016-06-29 01:26] avdg commented on #1146
To be clear, I want to solve all uses cases of getter, get with value and self refering get in once. This might require some changes to how computed properties are represented in the ast.

[2016-06-29 02:11] epidemian commented on #563
I'm having a what seems like the same problem described here. Did the fix work for you @alappe?

The build script i'm using is very similar:

[code]

The generated source map contains a property `"sourcesContent":[null,null,null,...]`. If the non-minified bundle is used instead, the source maps work correctly, with or without the `exorcist` extraction.

I'm using UglifyJS version 2.6.4.

----

Als

[2016-06-29 07:22] alappe commented on #563
@epidemian Sorry, I did move away to another build chain long ago, don't really remember…

[2016-06-29 07:54] tyomo4ka commented on #88
Just to confirm that the issue is still there in version 2.6.4.

[2016-06-29 08:46] mblarsen opened #1178 "[ES6] Spreading / Destructing / ... on anything but variable name does not work"
e.g.

Works:

[code]

These doesn't work:

[code]

`()`: Name expected

Any kind of dot: Unexpected token punc «.», expected punc «,»

[2016-06-29 10:34] mislav commented on #409
We were just bitten by this at GitHub. Minimal example:

[code]

I would expect `undefined` to be untouched so that the comparison with `undefined` works. However, `undefined` gets mangled to `c` (or a similar generated variable name) and all occurrences of `undefined` within the `a()` function scope get rewritten too. The code ultimately fails at runtime because it references a `c` variable that

[2016-06-29 10:49] avdg commented on #1178
All the code handling () needs a revision anyway. But getting the pr merged is slowing me currently a bit down.

Could you add [ES6] in front of the title as well?

[2016-06-29 11:58] mblarsen commented on #1178
@avdg sure. I appreciate all the work being put into 'harmony' :)

[2016-06-29 12:30] kzc commented on #409
No doubt it's a bug. `undefined` is pretty screwed up in javascript in general with it being an identifier not a built-in. I would recommend to stay away from this idiom as far as uglify goes. Best case scenario even if uglify were to leave it unmangled would be a larger program compared to `catch(x)`.

[2016-06-29 13:27] kzc commented on #409
Should point out that `catch (undefined)` works correctly with the `--screw-ie8` flag. `undefined` is just another identifier local to the `catch` block.
[code]

[code]

[2016-06-29 14:14] epidemian commented on #563
@alappe roger!

Pinging @rvanvelzen, maybe you remember if this case should have been covered by that fix?

[2016-06-29 21:19] mislav commented on #409
Sure, that's what we did when we discovered the bug. The reason we have this idiom in the codebase is that CoffeeScript generates it:

[code]

I can confirm that `--screw-ie8` works around this, since use of `undefined` gets replaced with `void 0`. We could switch to that flag, since we don't support IE8 on GitHub.com (nor IE9 for that matter). But, it's important for UglifyJS in general to not ha

[2016-06-30 04:39] kzc commented on #409
See fix: #1179

[2016-06-30 08:03] wjdhamilton commented on #348
There is a way of catching the error, which I've been using, as is detailed here:

https://github.com/terinjokes/gulp-uglify/issues/76

1. Install Gulp-util
2. Import the Gulp-util by using the following statement: var gutil = require('gulp-util');
3. Finally, when you are uglifying the code, attach the error handler like this: .pipe(uglify().on('error', gutil.log))

[2016-06-30 18:23] GrosSacASac opened #1180 "idea about how to compress more"
const u = void 0;

After that every time void 0 is used, use u instead

[2016-06-30 18:28] avdg commented on #448
We're again at a point that there are lots pr, I guess the activity the last weeks is very high. But we're too much dependent on the [bus factor](https://en.wikipedia.org/wiki/Bus_factor) I guess to make this project really work.

[2016-06-30 18:35] arackaf commented on #448
@avdg - are you saying UglifyJS2 isn't working as a project anymore?  I hope I misunderstood you.  Have enough key members dropped out where it can't really continue?

[2016-06-30 18:46] avdg commented on #448
Not yet but my perspective is only reinforcing that statement as I'm sending a lot of pr myself. There are currently only 2 members that have merge access.

Given that @mishoo is busy doing other stuff and @rvanvelzen indicating that he is busy doesn't help very much. Also there are no guarantees given to solve these issues, but we should give at least give the project members some time to react.

[2016-06-30 18:48] arackaf commented on #448
Exactly.  The core maintainers are unpaid volunteers, so I'll never complain that they're not doing enough on this project.  BUT - yeah, please please give control to others who DO have the time and ability to drive it forward.  I'd really hate to see the project die for lack of people with merge rights.

[2016-06-30 19:52] #1156 closed

[2016-06-30 20:04] rvanvelzen commented on #1174
Is there any downside to *not* translating "simple" template literals to regular string literals?

[2016-06-30 20:05] rvanvelzen commented on #1171
As pointed out, this is functional in the harmony branch. Follow #448.

[2016-06-30 20:05] #1171 closed

[2016-06-30 20:06] rvanvelzen commented on #1168
Thanks for the report and the PR, I just merged it. :-)

[2016-06-30 20:06] #1168 closed

[2016-06-30 20:10] rvanvelzen commented on #1144
I would be willing to re-open this if ExtendScript were a major engine currently in use. I've never of it except for 2 reports here.

Does anyone know whether ExtendScript has significant (enough) market share to consider this?

[2016-06-30 20:10] rvanvelzen commented on #1167
UglifyJS itself can handle nested conditionals just fine. This is not a bug in UglifyJS.

[2016-06-30 20:10] #1167 closed

[2016-06-30 20:16] rvanvelzen commented on #1166
My careful opinion would be that variables declared via `let` should be mangled with the same rules applied as for `var`.

On the other hand, I'll have to go back and remember with `reserved` was introduced at all.

[2016-06-30 20:21] rvanvelzen commented on #448
I don't believe this issue to be the correct forum for that discussion. I do have some thoughts on it, but please remember that this is @mishoo's project, not mine. ;-)

[2016-06-30 20:22] rvanvelzen commented on #1180
This idea seems generally useful, and has come up before. The gains mostly disappear after gzip.

[2016-06-30 20:22] #1180 closed

[2016-06-30 20:24] arackaf commented on #448
@avdg - is a fork in the future?  UglifyJS3 ??? :-)

[2016-06-30 20:30] avdg commented on #448
Uh, yeah, I started this topic and should also take the blame I guess. But this project got too big and has parts I don't usually care. I realise this especially when someone random tagged me some repo rights for the grunt/grunt-contrib-uglify project (I am still unused to their code base as I don't know the constraints of the project).

Anyway, let me open a new ticket to discuss the future of ug

[2016-06-30 20:32] arackaf commented on #448
@avdg - post link here, if you don't mind?  Very eager to see the discussion that ensues - I frequently use Uglify and would love to see it succeed into the ES6 era.

[2016-06-30 20:34] avdg opened #1181 "[Discussion] Future of uglifyjs / js minifiers"
tldr; This project got quite big and many people rely on this project to exist. However a project requires maintenance as ecmascript (which javascript is based on) evolves and users are stoking developers with requests of new features, changes and bug fixes.

The question to be asked is "How can we guarantee a well established code base/future for UglifyJS".

[2016-06-30 21:11] kzc commented on #1166
@rvanvelzen An import test would fail if a top level `let` symbol name were not mangled: https://github.com/mishoo/UglifyJS2/issues/1166#issuecomment-228194972 - not that it's necessarily a problem - the test's expected results could be changed. I assume `import` and `export` symbols share the same pool as `let` symbols.

[2016-06-30 21:42] kzc commented on #1181
UglifyJS2 master is basically done, barring bug fixes. It's a highly compliant ES5 minifier.

I think someone ought to make an npm module with a different name for the ES6/harmony branch and make regular releases.

[2016-06-30 22:33] iliashkolyar commented on #1168
Thank you!
On Jun 30, 2016 23:07, "Richard van Velzen" <notifications@github.com>
wrote:

[2016-06-30 23:25] arackaf commented on #1181
@avdg - fork and publish under UglifyJS3!!!

[2016-07-01 12:05] s-trooper commented on #1018
uglifyjs don't work on windows.
that work
[code]
that not
[code]

as windows don't expand '*' in the posfix way that seems to be a problem

[2016-07-02 10:45] avdg commented on #1132
Master branch should be fine for now. Now it's just a wait and see game while master merges with harmony and then having to fix harmony as well.

[2016-07-02 18:42] kzc commented on #1132
@avdg In your test262 testing do you enable mangle?

[2016-07-02 18:59] kzc commented on #409
This issue can be closed.

[2016-07-02 18:59] kzc commented on #1145
This issue can be closed.

[2016-07-02 19:00] kzc commented on #1161
This issue can be closed.

[2016-07-02 19:00] kzc commented on #1153
This issue can be closed.

[2016-07-02 19:06] avdg commented on #1161
You opened it ;-)

[2016-07-02 19:08] avdg commented on #1132
https://github.com/avdg/UglifyJSMonitor/blob/master/scripts/ecmaTester.js#L33

[2016-07-02 20:07] kzc commented on #1161
My brain is not working apparently. Thanks.

[2016-07-02 20:07] #1161 closed

[2016-07-02 20:17] avdg commented on #1161
No worries :-)

[2016-07-02 21:59] sod commented on #1145
Yes. Thank you.

[2016-07-02 21:59] #1145 closed

[2016-07-03 10:56] avdg commented on #664
Is this issue still relevant?

[2016-07-03 19:21] rvanvelzen commented on #664
@avdg: this is probably resolved due to your fine work on consolidating newline recognition. ;-)

If the issue still occurs, feel free to re-open.

[2016-07-03 19:21] #664 closed

[2016-07-03 19:44] #409 closed

[2016-07-03 19:44] #1153 closed

[2016-07-03 20:26] avdg commented on #1090
Should be resolved by now

[2016-07-03 20:26] #1090 closed

[2016-07-03 21:25] avdg commented on #1132
Seems harmony is fine after merge. Closing.

[2016-07-03 21:25] #1132 closed

[2016-07-04 00:58] avdg commented on #448
Refreshed test262 logs: https://gist.github.com/avdg/e3f792932949052535d472385073cb11

[2016-07-04 02:37] zhongsp opened #1187 "Comments for `keep_fnames` option"
I found that `keep_fnames` is a mangler option, it's not a compressor option. That's to say:
[code]

I think we should update the usage documents to avoid confusing?

[2016-07-04 03:07] kzc commented on #1187
`keep_fnames` is actually both a mangler option and a compress option:

[code]
It would be better if uglify only had a single unified option namespace rather than separate ones for  parse/compress/mangle/propmangle/sourcemap/output to end this sort of confusion.

[2016-07-04 06:53] zhongsp commented on #1187
@kzc Thanks. I've a test on the options. Give the source JavaScript file `foo.js`

[code]

Given 4 uglify settings:

[code]

And the results are:

[code]

It seems that only `mangle: { keep_fnames: true }` works well, and the result is what I want.

Not sure, what's the expected result of `compress: { keep_fnames: true }`

[2016-07-04 09:27] larpo commented on #882
Tested today with 2.7.0, and unfortunately seems still to be broken. This was very handy for debugging issues on production builds on projects that are using babel and browserify. Seeing that no one else is complaining about this makes me wonder if I'm trying to use the feature somehow wrong...

[2016-07-04 12:46] kzc commented on #1187
[code]

[2016-07-04 13:27] kzc commented on #882
It seems that one person's source map fix is another's source map breakage. Since I don't use source maps I don't have an opinion.

If you reintroduce the patch https://github.com/mishoo/UglifyJS2/commit/ad18689d926d25c7a25b95c630c2ad05b7b5f5b5 does it work?

[2016-07-04 14:44] larpo commented on #882
Yup, works without a hitch. At least for the simple repro case... On more complex projects placing breakpoints is occasionally buggy though.

[2016-07-04 14:56] kzc commented on #882
@rvanvelzen @avdg What do you think? Revert the revert? Occasionally buggy breakpoints better than source maps not working at all for some people?

[2016-07-04 15:03] avdg commented on #882
Hmm.. I tend to not use source maps a lot and I see lots of opinions on it. The solution is obviously neither one of them.

[2016-07-04 15:34] kzc commented on #882
Someone has to step up and try to fix all the source map issues. I'm not interested.

[2016-07-04 20:15] kzc commented on #1187
better example:
[code]

[2016-07-05 01:22] avdg commented on #1094
Not sure if I can use AST_ObjectComputedKeyVal for this.

[2016-07-05 12:14] bfred-it commented on #1181
I have a solution: it requires rewrite of all minification rules as babel transforms.

This way you'll never have to worry about manually supporting custom syntax again because babel will take care of that.

[2016-07-05 12:19] smartavionics opened #1191 "Unary + needed to make const optimisation effective"
Hi, total uglify newbie here so apologies if this is a FAQ/obvious...

I have this declaration in a function:

const rotTol = 5;

and later this use of rotTol (and it's the only use):

if(rot < -rotTol || rot > rotTol)

what it produces is:

const n=5 .... e<-5||e>n? ....

But if I change the source to:

if(rot < -rotTol || rot > +rotTol) // note addition of unary +

the output changes to what I w

[2016-07-05 12:34] avdg commented on #1181
Revisions won't be as big as es6. es6 was the result of a buildup of at least 5 years (though I heared 15 years too somewhere) of work.

[2016-07-05 14:02] qyoz opened #1192 "minify with fromString option generates invalid source map"
Because there is no option to add the _sources_ key, the map is generated with a _"?"_, which invalidates the map (tested on Chrome ~51 and FF 47).
For example:
[code]
Will produce:
`{"version":3,"file":"test.js.map","sources":["?"],"names":["outer","inner"],"mappings":"AAAA,QAASA,SAAQ,QAASC,KAAQ,MAAO,GAAEA,IAAQD"}`

For this to be usable in Dev Tools, I have to parse the map and add a valid sourc

[2016-07-05 15:54] qyoz opened #1193 "--source-map-url should be available via the programmatic API"
The _--source-map-url_ option to override the source map path should be available when _requiring_.
For example:
[code]

[2016-07-05 20:50] avdg commented on #1094
Hmm I need something else, AST_ObjectComputedKeyVal automagically prints `:` which I don't want in this case.

[2016-07-05 21:04] kzc commented on #1094
minor typo: s/loosing/losing/g

[2016-07-05 21:14] kzc commented on #1193
The code is very straightforward:

https://github.com/mishoo/UglifyJS2/blob/master/bin/uglifyjs

Please feel free to submit a pull request.

[2016-07-05 21:17] kzc commented on #1192
Is this pull request related to your issue?

https://github.com/mishoo/UglifyJS2/pull/1190

[2016-07-05 21:24] kzc commented on #1193
This is the file you'll add your feature to:

https://github.com/mishoo/UglifyJS2/blob/master/tools/node.js

[2016-07-05 21:26] amasad commented on #1181
@bfred-it actually it's been almost ready for a while. Just needs polish and hammering out details and get some beta testers (most likely facebook will be the first to use it). Alas, I don't have time this month but the rest of the babel team / FB are slowly chipping away at it. If anyone is interested in beta testing / contributing ping me.

[2016-07-05 22:59] avdg commented on #1094
@kzc I wonder if adding a tree walker for AST_SymbolMethod a good idea? Not sure where to store computed properties.

I added a walker in lib/transform.js in
https://github.com/avdg/UglifyJS2/commit/e1def555db97fa83f9399aa9d6a558ef3b78ff46

Note the test failing in the added test in test/compress/harmony.js (which is when `Symbol.iterator` is compressed I guess).

Error:

[code]

[2016-07-06 00:12] avdg commented on #1094
Current progress: https://github.com/mishoo/UglifyJS2/compare/harmony...avdg:computed-property-methods

[2016-07-06 00:14] kzc commented on #1094
In https://github.com/avdg/UglifyJS2/commit/e1def555db97fa83f9399aa9d6a558ef3b78ff46 AST_SymbolMethod appears to be derived from AST_Symbol which is a leaf node class. Leaf nodes don't have walkers.

Whether AST_SymbolMethod should be derived from AST_Symbol or simply own one is another matter. If this class owns AST_Node derived classes then it would need a walker.

I don't really know what a AST

[2016-07-06 00:16] avdg commented on #1094
I just want to get that compression issue fixed. Maybe get some feedback over AST structure (estree doesn't even have specific ast for computed expressions). Then looking ahead for pr.

[2016-07-06 00:30] kzc commented on #1094
https://github.com/estree/estree/blob/master/es6.md#methoddefinition
[code]

[2016-07-06 00:42] kzc commented on #1094
AST_SymbolMethod is overriding Symbol.name for the computed expression? That doesn't look right.

[2016-07-06 00:55] kzc commented on #1094
Should you be using [AST_ObjectComputedKeyVal](https://github.com/avdg/UglifyJS2/blob/5388264ad579db6fca109de00cb1dbbbd436a4b7/lib/ast.js#L1009-L1017) instead of AST_SymbolMethod to model the following?
[code]
isn't it equivalent to this?
[code]
The problem with AST_ObjectComputedKeyVal is that it is derived from AST_ObjectProperty and uses AST_ObjectProperty.key which is a javascript string. The

[2016-07-06 00:59] kzc commented on #1094
have `output.js` only emit `:` when the `value` is not an `AST_Function`, otherwise use the shorter inline method form.

[2016-07-06 01:13] avdg commented on #1094
Yeah will look for it tomorrow. Also I have to make sure the changes are strict enough and don't allow too much. I already ran selective test262 test but I may be too selective.

[2016-07-06 01:18] avdg commented on #1094
AST_Symbol Methodist is normally the name of the method.

[2016-07-06 01:21] kzc commented on #1094
I'd get rid of AST_SymbolMethod altogether if I were modelling it.

[2016-07-06 03:59] kzc opened #1194 "const name length influences uglified code despite mangle"
The two JS functions below are identical except for the const variable name length. They produce different output - even when mangled:

[code]

[code]

 Running compress before mangle in `bin/uglifyjs` may have something to do with this. Either that or `compress` needs a better heuristic governing when const substitution should take place.

[2016-07-06 04:02] kzc commented on #1191
It's neither a bug nor a feature. It's just sub-optimal.

I have a tentative patch for this issue but I have to weigh the effect of another issue related to `const` substitution - the const variable name length matters:

#1194

[2016-07-06 08:00] rvanvelzen commented on #1194
If mangling were to occur first, you'd get the non-optimized form every time. The variants that are compared right now are `a+a` and `"XX"` - and the former is one character shorter.

I don't know what the best resolution would be offhand, but it probably involves a smarter algorithm than blindly replacing constant values.

[2016-07-06 12:33] avdg commented on #1094
Hmmm... what with AST_ConciseMethod...

[2016-07-06 13:28] qyoz commented on #1192
@kzc No, #1190 deals with inSourceMap when you want to add a map to the source, [see here](https://github.com/larpo/UglifyJS2/blob/dbaeb7174f990c882cdbda11cc0f1150e09f74c8/test/mocha/input-sourcemaps.js#L22)

My issue is when minifying with the _fromString_ option, the source map generator doesn't have a file name to add to the _sources_ so it places a _"?"_ flag instead. I believe it does so [her

[2016-07-06 14:21] kzc commented on #1192
I see. It sounds like a fairly simple fix. Pull requests welcome.

[2016-07-06 14:49] kzc commented on #1194
Not necessarily. Only if the const variable is given a single character mangled name. That's common in small programs, but less so in larger ones.

With mangle before compress at least you'd have the length of the new const variable name from which to make a decision. Compress is operating blindly otherwise.

Having said that, simply putting mangle before compress in `bin/uglifyjs` doesn't fix the

[2016-07-06 14:51] kzc commented on #1094
Just use AST_ObjectComputedKeyVal.

[2016-07-06 20:52] tannerlinsley commented on #754
I'm trying to solve this as well.  Even using `comments: 'all'` does not preserve this line.  Any ideas anyone?

[2016-07-06 22:16] avdg commented on #754
Comments at the end of a body are not saved, this is a known bug, this could be solved by adding a statement (that doesn't get removed) behind it.

[2016-07-06 23:33] avdg opened #1196 "Node inspector added"
Node 6.3.0 has just been released and includes following pr with chrome inspector capabilities

https://github.com/nodejs/node/pull/6792

I guess I will close this in a few days, but this feature looks nice anyway :-)

[2016-07-07 00:18] avdg commented on #1094
Hmmm... estree did it without separate computed tokens. The only difference is that there is a flag "computed" indicated that the name is computed. Since we can distinguish AST_Symbol (used to name functions) and other AST_Nodes, I did it that way for now in AST_ConciseMethod.

We can add  the computed just to be sure we don't get confused. But now I avoided the use of AST_SymbolMethod by allowing

[2016-07-07 00:19] avdg commented on #1094
Ofcourse, current progress on https://github.com/mishoo/UglifyJS2/compare/harmony...avdg:computed-property-methods

[2016-07-07 13:21] qyoz commented on #1192
@kzc I don't have very good access to the sources property from the _SourceMapGenerator_ and [sourcemap.js](https://github.com/mishoo/UglifyJS2/blob/master/lib/sourcemap.js#L82) doesn't expose too much either.

In [node.js](https://github.com/mishoo/UglifyJS2/blob/master/tools/node.js#L119), I can do something like `output.source_map.get()._sources.add('my-source-file.js')`, but there is no splice

[2016-07-07 17:04] kzc commented on #1192
@qyoz Can you try this patch?
[code]
The option `fromString: true` is not needed if you supply sources in a map.

Usage:
[code]
Output:
[code]
I'll create a PR once you've verified it.

[2016-07-07 17:26] kzc commented on #1192
@qyoz Could you rename this Issue title to use "fromString" rather than "toString"? I assume that's what you meant.

[2016-07-07 17:30] kzc commented on #1187
@zhongsp Would you like to submit a PR clarifying the use of `keep_fnames`?

If not, this ticket can be closed.

[2016-07-07 18:56] kzc commented on #1192
Patch in [comment above](https://github.com/mishoo/UglifyJS2/issues/1192#issuecomment-231142780) was updated.

[2016-07-07 19:19] kzc commented on #1192
@qyoz I didn't realize that this functionality already exists in uglify-js@2.7.0 in commit https://github.com/mishoo/UglifyJS2/commit/85924bb32e1c27f555aad1651f4575b45bcbadb1
[code]

The only advantage of my patch is that `fromString: true` is not required.

[2016-07-07 21:13] kzc commented on #1192
This issue can be closed.

[2016-07-07 21:24] qyoz commented on #1192
@kzc this functionality indeed works, and I don't mind keeping the fromString option. I think it's good to make it explicit.

Considering this already exists, maybe just update the docs? I can create a PR.

[2016-07-07 21:28] qyoz commented on #1192
Need to update it anyway for PR #1195

[2016-07-07 21:41] kzc commented on #1192
Sure, a PR to update the docs would be helpful.

[2016-07-08 01:45] zhongsp commented on #1187
Let me close it.

[2016-07-08 01:45] #1187 closed

[2016-07-08 14:27] zhibirc opened #1197 "How to disable “true/false to !0/!1” transformation?"
From my point of view there is one ambiguous thing in UglifyJS minification output. It replaces boolean primitives (true/false) with !0/!1. It looks more concisely but requires more operations and therefore more CPU time. And in some cases I think it's useful to disable this feature.

My question. Is there any way to disable this conversion (and manipulate with other low-level transformations)?

[2016-07-08 14:42] michaelficarra commented on #1197
Have you benchmarked it? I can guarantee you that this is the least of your JS performance concerns, if it is even detectable at all. I would actually be surprised if the engines *didn't* optimise this away at a stage as early as parsing because of the pattern's popularity.

[2016-07-08 17:34] avdg commented on #1094
Hmm not sure if we need AST_Destructuring as well... It's becoming a structure that could represent a list and an object at the same time...

[2016-07-08 18:40] sylvainpolletvillard commented on #1181
There is this ES6 to ES6 minifier based on Babel, at a very early stage : https://github.com/escompress/escompress

[2016-07-08 21:10] avdg commented on #1094
I guess we do have to track these ast structures in a separate document.

[2016-07-08 21:39] kzc commented on #1094
This dumps the AST class hierarchy on master as well as harmony:
[code]

[2016-07-08 21:41] kzc commented on #1094
As will this:
[code]

[2016-07-08 22:21] avdg commented on #1094
Yeah, that kinda works...

[2016-07-09 01:21] #1196 closed

[2016-07-10 00:05] jdalton commented on #886
Related to #543, #640, and https://github.com/rollup/rollup/pull/774.

[2016-07-10 00:59] avdg commented on #640
https://github.com/rollup/rollup/pull/774 seems to have a nice summary what all the fuzz is about.

[2016-07-10 01:00] avdg commented on #640
Test cases would be nice.

[2016-07-10 15:53] kzc commented on #640
If I interpret this thread correctly it suggests putting parens around IIFEs and any inline function because the Chrome browser - and only the Chrome browser - is slower to parse otherwise?

[2016-07-10 18:53] mkastner opened #1199 "Error: SyntaxError: Unexpected token operator «*»,"
Hi,
it seems like I can't get my code compressed due to generator functions. I don't know, why. Should I rather use the harmony branch for ES6 functionality?

[code]

[2016-07-10 22:36] avdg commented on #1199
There is no complete support for import statements yet in uglifyjs on harmony until there are patches to implement it properly.

[2016-07-11 08:45] rvanvelzen commented on #1199
ES6 features are only available on the harmony branch. #448 is for harmony support.

[2016-07-11 08:45] #1199 closed

[2016-07-11 09:11] mkastner commented on #1199
@avdg I understand that there is no support for import statements. And I am not using them anyway. It's all cjs. The build error isn't caused by an import statement. It's caused by a generator function.

 @rvanvelzen  I got it, thanks.

[2016-07-11 10:14] qyoz commented on #1192
updated the docs in PR #1195

[2016-07-11 10:17] qyoz commented on #1036
This option is available via programmatic API in #1195 0ae7c36a393da5c27a8da00702960504ce680a08

[2016-07-11 20:13] cristiandouce opened #1200 "From 2.6.2 inSourceMap and sourceMapIncludeSources won't work"
I could provide an example later, but try it with whatever version of the list:

[code]

with:

[code]

and when you'll notice strange things like the source map file being lower thant the actual file, eg:

[code]

Not to mention that if you inspect the sourcemap file, at the key `sourcesContent` you'll get the following value:

[code]

[2016-07-11 20:26] kzc commented on #1200
Please try https://github.com/mishoo/UglifyJS2/pull/1190

[2016-07-12 06:45] sipayRT opened #1201 "Broken API in the minor version"
Hi
in v2.7.0 supporting of ie8 was disabled by default. It's breaking change, don't you thing?
I tried to enable support of ie8 by adding `screw_ie8: false` in config, but it seems that I can change it only from `cli`.

[2016-07-12 15:10] kzc commented on #1201
The API works in 2.7.0 as it always has:
[code]
This issue can be closed.

[2016-07-12 16:31] cristiandouce commented on #1200
I'll try to provide an example later today

[2016-07-12 17:36] kzc commented on #1200
@larpo This issue seems to be related to https://github.com/mishoo/UglifyJS2/pull/1190 and #882. Any thoughts on how to remedy?

[2016-07-12 18:42] larpo commented on #1200
Hard to say without seeing an example, but if the sourcesContent is still empty after applying #1190 it would suggest that no new mappings were added that would cover the corresponding source file. That could happen if there was something wrong with the input source mapping, or if the initial bundle was already minified.

Could you test if adding --compress and/or --mangle flags helps?

If that is

[2016-07-13 07:50] wnr commented on #882
@larpo I have the same setup as you and experience the exact same issues.

[2016-07-13 08:13] larpo commented on #882
@wnr could you try if #1190 fixes the issues in your case? I have been testing it on our setup and so far seems be working well.

[2016-07-13 08:18] ligaz opened #1202 "Mangling parameter names in strict mode results in Safari Syntax Error"
The following code:
[code]
When minified with: `--compress --mangle --keep-fnames`
Results in:
[code]

Unfortunately this breaks Safari with: `SyntaxError: Cannot declare a parameter named 'n' as it shadows the name of a strict mode function.`

[2016-07-13 08:29] wnr commented on #882
#1190 fixed the null-array problem in the source maps, and now the original source files show content when inspected. However, the file mapping seems to be a bit off as the wrong content is displayed (file A shows the content of file B, etc.). I haven't been able to identify a pattern.

[2016-07-13 10:48] larpo commented on #882
Hmm, sounds weird. I could try to incorporate a fix into #1190 if you can make a reproducible case.

[2016-07-13 12:14] kzc commented on #1202
The original unmodified input would have the same issue.

[2016-07-13 12:15] ligaz commented on #1202
My bad, I have corrected the original code.

[2016-07-13 14:50] michaelficarra commented on #1202
This is a duplicate of #179.

[2016-07-13 15:20] kzc commented on #1202
#1202 is specific to `mangle` with `keep_fnames=true`.

By default `compress` and `mangle` use `keep_fnames=false` so this issue does not occur.

[2016-07-13 15:52] kzc commented on #1202
Fix: #1203

[2016-07-14 05:30] JoeArizona opened #1204 "What does screw-ie8 break?"
I saw the change to make --screw-ie8 on by default, and the new support-ie8 flag. The description refers to "IE **6-8** quirks".

I've never known what this was about. Now that it's on by default, can someone document what quirks this is about, and which versions of IE they apply to? IE 6-8 is a pretty broad swath, and I probably only care about IE 8.

If this is about mangling, maybe it should be

[2016-07-14 06:21] kzc commented on #1204
Catch block scoping rules in ie6/7/8 is broken/non-standard. It can present problems when the identifier in the catch block mirrors a var of the same name in function scope. In trying to accommodate ie6/7/8 it led to incorrect catch block code being generated for modern browsers in certain cases. See https://github.com/mishoo/UglifyJS2/issues/409 for a few examples.

That someone can be you. Pull

[2016-07-14 09:04] matthias-w opened #1205 "const/let definition incorrectly pulled into for loop initializer"
When compressing my JavaScript file with gulp-uglify and uglify-js-harmony having following JS code
[code]
becomes
[code]
which results in 'Cannot set property 'text' of undefined' in Chrome 51 because of the block level scope constant 'a' gets when put inside the ````for```` statement since it is hoisted to the top of the block and not the function scope. This seems to be a bug, I guess. At the m

[2016-07-14 12:11] avdg commented on #1205
Can you add the `[ES6]` prefix in front of the title? Thanks

[2016-07-14 13:48] kzc commented on #1205
This issue applies to the `master` branch as well as it handles `const` in a limited capacity even though not supported by ES5.

Likely fix:
[code]
before patch:
[code]
after patch:
[code]
@avdg Do you want to put a PR together?

[2016-07-14 13:56] kzc commented on #1205
Should add test that it still collects `var`s in for loop initializer section:
[code]

[2016-07-14 14:02] kzc commented on #1205
Could the issue title be renamed to "const definition incorrectly pulled into for loop initializer"?

[2016-07-14 15:17] avdg commented on #1205
@kzc Is your upgrade from @mishoo still valid?

[2016-07-14 15:20] avdg commented on #1205
And about the patch, I just want to make sure the changes are in line with es6 where it can be, even though it is intended to be included in es5. So that will include setting up test262 stuff on my side.

[2016-07-14 15:41] kzc commented on #1205
@avdg I didn't request commit rights. @rvanvelzen is doing a fine job.

As for the one line fix, I wouldn't overthink it. It just needs a couple of tests. `const` semantics are probably still quite broken, but at least it won't move a `const` into the loop scope.

Thanks for running with this.

[2016-07-14 15:56] avdg commented on #1205
Yes yes, but I would like to have a mental look at how uglify is behaving compared to the spec.

[2016-07-14 16:46] avdg commented on #1205
And yeah, it didn't actually makes sense, 90% failure :-)

[2016-07-14 21:19] avdg commented on #1201
Please be reminded that ie8 support will be dropped somewhere in the future anyway

[2016-07-14 21:50] kzc commented on #1201
I don't see a need to remove the screw_ie8 functionality already in place unless it places a burden on maintenance. Having said that, ie6/7/8 combined market share is in the single digit range and falling. Best to favor correct code generation for the 95% of browsers in use today. Enabling ie8 support in uglify produces incorrect code for modern ES5 compliant browsers for a number of try/catch sce

[2016-07-14 23:36] kzc commented on #1201
It appears that `gulp-uglify` and `grunt-contrib-uglify` each have pending pull requests to upgrade to `uglify-js@2.7.0`.

`webpack` has `"uglify-js": "~2.6.0"` meaning it will use `uglify-js@2.6.4`

[2016-07-14 23:55] avdg commented on #1201
There is some resistance on grunt-contrib-uglify on upgrading to 2.7.0 due to some relying on ie8 being not supported by default.

But meh, the pain isn't too big yet on my side despite the peak of response, and I also didn't hear very specific stories about users being affected by theses issues so far (although these issues might be rare and if it happens anyway, chances are pretty slim to be rep

[2016-07-15 02:17] kzc commented on #1201
It's their prerogative to use any particular uglify version or settings. It would be to their advantage to use the latest uglify version to get the latest bug fixes.

[2016-07-15 07:11] matthias-w commented on #1205
Thank you guys for taking up this issue so fast. @kzc I changed the title accordingly.

[2016-07-15 08:25] matthias-w commented on #1205
BTW: the issue also applies to variable definition using ```let``` for the same reason of ```for``` statement's block scope

[2016-07-15 09:51] zhibirc commented on #1197
Thank you, it seems you're right.

[2016-07-15 09:51] #1197 closed

[2016-07-15 11:09] avdg commented on #1205
The fix is for master, there is none fix yet for harmony. Besides, harmony is still experimental and there are lots of things to be ironed out. And a lot of these can be checked with tools like test262.

[2016-07-15 11:13] avdg commented on #1205
Nevertheless, it's good to know that there are still some issues to be solved.

[2016-07-15 11:19] rvanvelzen commented on #1202
Fixed via eb63fec

[2016-07-15 11:19] #1202 closed

[2016-07-15 11:21] rvanvelzen commented on #1205
Fixed via 7eb52d2

[2016-07-15 11:21] #1205 closed

[2016-07-15 11:26] kzc commented on #1205
The test case in question should have worked on harmony as that branch already had this fix: https://github.com/mishoo/UglifyJS2/commit/63be1f3a4d5d10ba923dd40ffd55f4e5b7d41372

[2016-07-15 12:02] kzc opened #1209 "Tracking issue: closed pull requests not merged to github master"
#1203
#1206
#1186
#1185

/cc @rvanvelzen

[2016-07-15 12:07] rvanvelzen commented on #1209
Hmm, strange - I only pushed them to my own fork. They should be on `master` now.

[2016-07-15 12:10] kzc commented on #1209
Commits now visible on master. Thanks.

[2016-07-15 12:10] #1209 closed

[2016-07-16 23:55] avdg commented on #1094
About https://github.com/mishoo/UglifyJS2/issues/1094#issuecomment-230644665

Consider a non-computed example
[code]

I think #1208 is implementing it correctly. But feel free to raise concerns or any sort of trouble.

[2016-07-17 02:14] Elephly opened #1212 "[ES6] Dead code removal inside class method being ignored"
I essentially have the following code...

[code]

I then try to minify using the module API and something like the following line...

[code]

The output does not remove the conditional block. I was racking my brain for so long trying to figure out why it was working in some places in my project and not in others and soon enough I realized that in all of the places that it was **not** working, the

[2016-07-17 05:05] kzc commented on #1212
Looks like this code hasn't been exercised much.

Please try out this patch:
[code]
[code]
[code]
[code]
[code]
[code]

[2016-07-17 05:16] kzc commented on #1212
@avdg Perhaps you already had a patch for this? If not, do you want to make a PR?

Not sure if `AST_Class` being derived from `AST_Scope` is necessarily correct. Just hacked it to work.

[2016-07-17 05:20] kzc commented on #1212
Note: [Patch above](https://github.com/mishoo/UglifyJS2/issues/1212#issuecomment-233165477) was updated.

[2016-07-17 12:31] avdg commented on #1212
Uh... I prefer not to optimize classes yet until I know what the problems are with classes. The list of errors in classes are very huge yet.

[2016-07-17 12:34] avdg commented on #1212
See https://gist.github.com/avdg/e3f792932949052535d472385073cb11 (this might be outdated soon, but updates on reports are done in #448)

[2016-07-17 13:40] Elephly commented on #1212
@kzc Thanks for the patch, works just as expected. Nothing seems to have broken so I'm going to stick with it for now.

[2016-07-17 14:24] avdg commented on #1212
I still prefer to have this issue open for now. The fix may be valid but there are too many overlapping bugs for now to implement the optimization.

[2016-07-17 14:59] qyoz opened #1213 "How to use screw-ie8 from programmatic API?"
After [this](https://github.com/mishoo/UglifyJS2/commit/02c638209ee22816b1324ff0c0f47b27db1336af) change, I'm trying the disable it, using [this example](https://github.com/mishoo/UglifyJS2/issues/409#issuecomment-149593800) from issue #409 :

[code]

(In 2.7.0) Toggling the `screw_ie8` option produces this output on both occasions:

[code]

What I'm expecting is (2.6.4):

[code]

Maybe I'm misusi

[2016-07-17 15:15] kzc commented on #1212
@avdg Regarding the tests, it's a game of percentages. 84% compliance is not bad. ES6 is very large and complicated and many ES6 users just use a small subset of its functionality (basic classes and methods) and this trivial patch would be useful to them. Otherwise class methods are not optimized at all. I'll make a PR.

[2016-07-17 15:44] kzc commented on #1213
Adapted from: https://github.com/mishoo/UglifyJS2/issues/1201#issuecomment-232078442

cat ug.js
[code]
node ug.js
[code]

[2016-07-17 15:48] avdg commented on #1212
There is still that complex part involving parameters, parenthese and classes though which involves a large concentration of bugs.

[2016-07-17 15:59] kzc commented on #1212
There's always going to be shortcomings. It took browser makers years to support ES6 fully. Admittedly our task is much simpler than implementing a jitting JS engine, but it's a volunteer effort by a few coders in their spare time.

[2016-07-17 16:15] kzc commented on #1212
@avdg My git fu is weak. I'm trying to create a PR for the harmony branch on github. Could you share the output of `git remote -v` on your machine for the harmony branch?

[2016-07-17 16:27] qyoz commented on #1213
@kzc so I'm not the only one who was confused by this.
I don't mind updating the docs again (in [this PR](https://github.com/mishoo/UglifyJS2/pull/1195)) but this API is just ugly. Is there a reason why its not merged into one option?

[2016-07-17 16:32] avdg commented on #1212
which remote? main repo or yours?

[2016-07-17 16:38] kzc commented on #1213
It's not a great API. You have to look at the `bin/uglifyjs` source code to find out what needs to be set. An additional top level `screw_ie8` option for `minify()` that sets the options in `compress`, `mangle` and `output` would be good. Only set the lower level options if `typeof` top level `screw_ie8` is `"boolean"` and the lower level options are not set. The old options must remain for backwa

[2016-07-17 16:42] kzc commented on #1213
@qyoz for `keep_fnames` - see: https://github.com/mishoo/UglifyJS2/issues/1187#issuecomment-230349336 and https://github.com/mishoo/UglifyJS2/pull/1210

[2016-07-17 16:43] avdg commented on #1212
[code]
 on my machine it is also aliased as `upstream`

[2016-07-17 16:46] kzc commented on #1212
Thanks. Maybe I'm overthinking this. I'll just try to push my local harmony branch as usual and see what happens.

[2016-07-17 17:15] kzc commented on #1212
I just used the same remotes for the harmony branch as I had for the master branch and it apparently worked fine. Thanks.

[2016-07-17 17:20] kzc commented on #1094
Until the fixed the AST_Class/global_defs thing on harmony I didn't realize that AST_ConciseMethod was already implemented. Ignore what I wrote about AST_ObjectComputedKeyVal above.

[2016-07-17 17:28] kzc commented on #1212
Fixed by: #1215

[2016-07-17 17:36] #882 closed

[2016-07-17 17:43] rvanvelzen commented on #1193
Resolved via af37eca

[2016-07-17 17:43] #1193 closed

[2016-07-17 17:44] avdg commented on #1147
This should be fixed by now

[2016-07-17 17:48] rvanvelzen commented on #1147
Think so too - Github's issues + PRs is quite cumbersome to work with sometimes..

@kenttsai Please let us know if you run into other issues.

[2016-07-17 17:48] #1147 closed

[2016-07-17 17:58] rvanvelzen commented on #1212
Compression relevant to ES6 features should probably be tracked separately. The core issue here was resolved via 842ac27 / #1215

[2016-07-17 17:58] #1212 closed

[2016-07-17 18:57] avdg commented on #1199
@mkastner Feel free to submit a test case

[2016-07-17 19:03] avdg commented on #448
I guess we can consider anything about identifier and literals as bug on the harmony branch from now on with the exception of destructuring. There is a small likely potential bug in template strings (using a function as tagged template instead of identifier), but I wonder myself how regular it will be used for now.

So, features that may be considered completed include:
- Number literals (0b111 an

[2016-07-18 00:17] avdg commented on #1212
About the bugs in classes: they mostly involve parameters anyway. Just using the search word "parameter" highlights most failing class tests.

Also, since parameters are repeated (function, generator, static, class (with previous items again), arrow function, etc...) and mostly generated, a fix could reduce the number of reports drastically (although we do need a sustainable fix).

[2016-07-18 02:04] kzc commented on #1212
@avdg Your template string PR probably reduced the failure number a bit.

[2016-07-18 07:21] mkastner commented on #1199
@avdg I apologize for not being able to submit a test case. However the error can also be reproduced here:

[http://lisperator.net/uglifyjs/#demo](http://lisperator.net/uglifyjs/#demo)

by entering:

[code]

It comes up with:

[code]

[2016-07-18 07:48] qyoz commented on #1192
@rvanvelzen I updated the docs about this issue in af37ecafe1c24e9fb06a371357d10a04446ff71e (it basically requires using an object as an input), I think we can close it.

[2016-07-18 07:48] avdg commented on #1199
Uh... I won't test harmony on that site... I would rather checkout the harmony branch

[2016-07-18 10:57] rvanvelzen commented on #1192
Oh, I already merged that and forgot to close this issue. Thanks!

[2016-07-18 10:57] #1192 closed

[2016-07-18 13:41] avdg commented on #1212
I ran the tests yesterday, number of failures were increased slightly. All tests involving templates (except few exceptions) passed. Also I saw some recurring failing tests that were normally fixed few patches ago (talking about the multiline html comment parsing tests) as they include few tougher tests (heh yeah, fixing that one bug while others were ready to fire back with harder tests, oh well)

[2016-07-18 13:48] avdg commented on #1146
For 842ac27efbc8f81b3bc4140a396957d6cde89d9c

Works:

[code]

Fails:

[code]

[2016-07-18 13:58] kzc commented on #1146
The parser seems to have issues with `get`ters and `set`ters, not keywords.

This works:
[code]

[2016-07-18 14:06] avdg commented on #1146
Getters already have special rules, but still has to be fixed :-)

[2016-07-18 14:08] avdg commented on #1146
And reserved words are allowed, just checked it. Actually, how does someone use them in this context though if they aren't definable.

[2016-07-18 14:31] kzc commented on #1146
No issue with get and set in traditional object syntax:
[code]
So it shouldn't be very difficult to find and fix.

[2016-07-18 14:42] avdg commented on #1146
It might be trickier to fix it with the new syntax though. There is tons more stuff allowed since es6.

[2016-07-18 14:49] avdg commented on #1146
The bug involves parsing `as_atom_node`, which is used for getters/setters but also for some operators with high priority (anything evaluated before ++/-- operator) which I still don't get.

[2016-07-18 14:56] kzc commented on #1146
The issue is in `concise_method_or_getset`:
[code]
It unconditionally proceeds with processing "get" and "set" without peeking the next token to see if it's correct to do so.

[2016-07-18 14:59] avdg commented on #1146
This bug is easy to fix once `as_atom_node` returns something like undefined. But it has to be tested for side effects with expressions stuff.

[2016-07-18 15:25] kzc commented on #1146
[code]
[code]

[2016-07-18 15:30] avdg commented on #1146
Just return should be enough, undefined is the default value

[2016-07-18 15:32] avdg commented on #1146
(and code isn't consistent for both use cases, meaning the patch wasn't cleaned up anyway)

[2016-07-18 15:33] kzc commented on #1146
It makes it more evident what the intent is. `return null;` could be used as well to be more in line with the rest of the uglify code base.

What does that mean?

[2016-07-18 15:34] avdg commented on #1146
[code]

vs

[code]

[2016-07-18 15:35] avdg commented on #1146
Meh, the tests are more important for now

[2016-07-18 15:36] kzc commented on #1146
Yes. It's correct. `name` cannot be both "get" and "set" at the same time.

You could `switch` over `name` instead of using `if`s if you prefer.

[2016-07-18 15:37] avdg commented on #1146
Nono, the content of the if bodies

[2016-07-18 15:37] kzc commented on #1146
Please be more specific. I don't know what you're referring to.

[2016-07-18 15:39] avdg commented on #1146
Uh nvm, diffs are a good way to simulate being drunk :-) I thought both ifs should be kept. But this is fine as well.

[2016-07-18 15:43] kzc commented on #1146
Feel free to make a PR with whatever changes you think are appropriate.

[2016-07-18 15:46] avdg commented on #1146
Tests are passing, will add more tests...

[2016-07-18 15:52] kzc commented on #1146
Tighter code:
[code]

[code]

[2016-07-18 15:57] avdg commented on #1146
I already checked in the first patch

[2016-07-18 15:59] kzc commented on #1146
The JS above highlights a different issue:
[code]
Should have been:
[code]

[2016-07-18 16:01] kzc commented on #1146
Or better:
[code]

[2016-07-18 16:06] kzc commented on #1146
This is interesting:
[code]
Initially I thought it was incorrect but it's correct code. When it's mangled it has to retain the property name.

[2016-07-18 16:10] kzc commented on #1146
@avdg Could you add such a test to verify the mangle?

[2016-07-18 16:16] avdg commented on #1146
Done

[2016-07-18 16:21] avdg commented on #1146
The fix doesn't include too many computed property tests, there are some issues and queued up in #1208

[2016-07-18 16:24] avdg commented on #1146
Uh... #1208 will cause merge conflict, but will just avoid code from not working due to the added "punc" condition being specific enough and not break for other cases...

[2016-07-18 16:25] avdg commented on #1146
Resolve should be straightforward though (both add, with default at bottom)

[2016-07-18 16:28] avdg commented on #1146
Maybe I should merge both pr's while I can

[2016-07-18 22:37] robrecord commented on #1087
So many people are searching for this - I think it needs to be implemented.

[2016-07-18 22:39] kzc commented on #1087
This project is a volunteer effort. We await your pull request.

[2016-07-19 05:04] TracyGJG commented on #1087
I am not sure how I contribute to the project via a push request. I'm sure it's easy but I just do not have the time to find out. I have a solution in the 3rd follow up comment under issue 1110.

-------- Original message --------
From: kzc <notifications@github.com>
Date: 18/07/2016  23:39  (GMT+00:00)
To: mishoo/UglifyJS2 <UglifyJS2@noreply.github.com>
Cc: TGJ Gilmore <tracyg.gilmore@gmail.com>,

[2016-07-19 07:03] sfisol opened #1217 "dowy"

[2016-07-19 07:03] #1217 closed

[2016-07-19 09:18] crazysurajit opened #1218 "Remove unused variable"
`var today = Date.now();`
Ideally if `today` is not being used, it should be removed.
Instead it is replaced with `var a=(Date.now(),101)`.
I think it does not make sense to keep the `Date.now()` part as it'll have unnecessary performance hit.

[2016-07-19 12:35] kzc commented on #1218
Use the compress option `pure_funcs`.

[code]
Unused top level vars are not removed.

[2016-07-19 15:28] crazysurajit commented on #1218
`-c pure_funcs="'Math.floor,Date.now'"` works perfectly. However I tried the same using `--pure-funcs="'Math.floor,Date.now'"` but it fails, I could only make it to work with --pure-funcs="Date.now"`

[2016-07-19 16:36] kzc commented on #1218
There's a bug in `--pure-funcs`. `yargs` appears to be altering the `--pure-funcs` argument.

Just use the command I posted above or use the fix below:
[code]
[code]
[code]
Maybe I'll make a PR when I have time.

[2016-07-19 17:10] #1218 closed

[2016-07-19 21:26] p0lar-bear opened #1220 "Enclose option adding question mark to sources"
Is there a reason why using `--enclose` or `--wrap` adds a question mark as the first element of the sources property of the source map?

I ask because, go ahead and laugh, I'm debugging in IE 11 and the presence of the question mark breaks the debugger view, showing me the uglified script with the message

I have a workaround that involves beautify, but I'd much rather have the source maps.

[2016-07-20 08:20] targos opened #1221 "[ES6] Parse error with computed property getter"
Examples:

[code]

[code]

Error:
[code]

[2016-07-20 08:54] cmroanirgo commented on #348
two things that are definitely tripping it up are the newer js extensions:
- reverse singled-quoted / back-ticked strings: `` `this string kills jsuglify` ``
- promise's coroutines. this example uses npm bluebird: `Promise.coroutine(function *() { ... });`

... but agree. it would be nice to not resort to deleting swathes of code to see where the problem is. (especially to find out it the code can

[2016-07-20 10:37] avdg commented on #1221
I guess #1208 won't fix this yet, but I still have to check it.

[2016-07-20 10:46] avdg commented on #1221
Also there is #1216 fixing stuff.

[2016-07-20 10:48] avdg commented on #348
@cmroanirgo this issue doesn't track harmony related issues, use the harmony branch or checkout #448

[2016-07-20 11:12] avdg commented on #1221
After merging both fixes, parsing works. However, the output is incorrect

[2016-07-20 11:13] avdg commented on #1221
#1208 needs extra tests

[2016-07-20 11:48] avdg commented on #1221
Narrowed down the problem to the printers lacking computed property checks before printing. I have to see if #1216 is independent enough of #1208 to allow a fix. Otherwise the fix has to land after both fixes are merged.

[2016-07-20 13:20] avdg commented on #1221
Actually it might better to wait for a fix until those 2 patches are merged.

[2016-07-20 19:59] avdg commented on #1221
The patches had some trouble so I had to squash them anyway.

[2016-07-20 21:00] avdg commented on #1146
Please check #1222

[2016-07-20 21:01] avdg commented on #1094
Fix is now in #1222

[2016-07-21 02:45] nha opened #1223 "UglifyJS.minify undefined in --self build"
After building `uglifyjs --self` from master, I call `UglifyJS.minify` and get an exception that minify is undefined.

I was expecting to have it defined as a function, like `parse` in this test:

https://github.com/mishoo/UglifyJS2/blob/debc525fa117438d4971df3790f9f476fed65858/test/mocha/cli.js#L17
But if I try to call `WrappedUglifyJS.minify("var a = 3;", {fromString: true});`, it seems `minify`

[2016-07-21 07:00] rvanvelzen commented on #1223
Can you identify which version *did* export `minify()`?

As far as I can tell, it never was exposed via the `--self` build as it's contained in `tools/node.js` which isn't included.

[2016-07-21 08:53] robrecord commented on #1087
I'm new to this too but it looks fairly easy:

See the numbered list in this article.
http://oss-watch.ac.uk/resources/pullrequest

[2016-07-21 14:27] nha commented on #1223
Thanks I understand, it has never been exposed.

So, only the `lib/*` files are exposed, correct ?

If I wanted to have a `minify` function similar to the one in `tools/node.js` but compatible with a browser environment I would have to write it, correct ?

[2016-07-21 14:49] rvanvelzen commented on #1223
Right now everything in `FILES` (`tools/node.js:10`) is exported.

`.minify()` *could* be exposed but uses some logic that's only applicable on cli (like reading property mangle name cache). This definitely is something spending some time on.

[2016-07-21 14:51] rvanvelzen commented on #1094
Should be resolved via #1222

[2016-07-21 14:51] #1094 closed

[2016-07-21 14:51] rvanvelzen commented on #1146
Should be resolved via #1222

[2016-07-21 14:51] #1146 closed

[2016-07-21 14:51] rvanvelzen commented on #1221
Should be resolved via #1222

[2016-07-21 14:51] #1221 closed

[2016-07-21 15:27] targos commented on #1221
The parsing error is indeed solved, but the generated code is wrong. For the second example:

Output
[code]

Should be:
[code]

[2016-07-21 15:31] avdg commented on #1221
Can be reopened for now, patch #1222 was fixing a lot of things and there just needs some more fine tuning.

[2016-07-21 15:36] avdg commented on #1221
Although I added a test case here which may not be strict enough: https://github.com/avdg/UglifyJS2/blob/6b6e368597619a5cc194c282e05bc5eeb794c849/test/compress/object.js#L237

[2016-07-21 20:34] kzc opened #1226 "--pure-funcs doesn't work with more than one function"
This works:
[code]

This does not work:
[code]

This also does not work:
[code]

See #1218 for details and https://github.com/mishoo/UglifyJS2/issues/1218#issuecomment-233691403 for a fix if anyone wants to make a pull request.

An alternative solution may be to simply get rid of the `--pure-func` flag altogether and inform people to use `-c pure_funcs` instead.

[2016-07-21 20:51] kzc commented on #1226
Simpler fix:
[code]
With fix:
[code]

[2016-07-21 20:55] kzc commented on #1226
Since `--pure-funcs` is completely useless without `-c`:
[code]
May as well get rid of the `--pure-funcs` flag altogether in favor of `-c pure_funcs`

[2016-07-22 00:44] avdg commented on #1221
Feel free to check https://avdg.github.io/uglify.html?#ref=pr\x201225 if there are more issues.

[2016-07-22 03:35] kzc commented on #1226
The syntax for `--pure-funcs` is documented in PR #831 using this syntax:

    uglifyjs -c --pure-funcs=Math.floor Date.now -- test.js

Note the spaces instead of commas between the function names.

Although I'm not fond of the syntax, it works as designed. It also could be better documented in the README.

[2016-07-22 03:35] #1226 closed

[2016-07-22 03:38] kzc commented on #1218
PR not required. See: https://github.com/mishoo/UglifyJS2/issues/1226#issuecomment-234446809

[2016-07-22 06:12] targos commented on #1221
Looks good !

[2016-07-22 10:03] tadatuta opened #1228 "harmony: Broken parsing of objects with asterisks as keys"
With this commit https://github.com/mishoo/UglifyJS2/commit/72a9d799b6fce12ed39502eb552fc8c09ff2cc63 parsing of objects with asterisks as keys is broken.

E.g.
[code]

[2016-07-22 10:25] avdg commented on #1228
Already reported in #1227.

[2016-07-22 11:31] DimaPateuk commented on #348
One more test case for this problem
[code]

[2016-07-22 19:20] kzc commented on #1228
See: #1229

[2016-07-23 05:37] JoeArizona commented on #1204
can someone document what quirks this is about, and which versions of IE they apply to?

That someone can be you. Pull requests welcome.

You know, that might be good training for me, so maybe I should go ahead and do it.

If I do it, can I convince you, or whomever needs convincing, to rename the flag to something less abrasive? "screw-ie" seems a bit unprofessional. I'm pro-IE and pro- all other

[2016-07-23 11:46] kzc commented on #1204
Supporting IE 6/7/8 is not without consequence. As previously mentioned, `screw_ie8: false` in certain circumstances [can produce incorrect code in try/catch blocks](https://github.com/mishoo/UglifyJS2/issues/409#issuecomment-229355111) for the majority of ES5 standards-compliant browsers in use today. It makes sense that uglify 2.7.x's default behavior work correctly with 95% of browsers. People

[2016-07-23 12:14] kzc commented on #1201
https://github.com/gruntjs/grunt-contrib-uglify/blob/master/package.json
[code]
is using:
[code]

[2016-07-23 14:39] kzc opened #1232 "regression: unnecessary parens around unary args in AST_New"
[code]
[code]
Regression introduced in commit 8287ef67810f2332459fa157b26e556f55b36b98

[2016-07-23 14:43] kzc commented on #1232
Also occurs with `compress` disabled:
[code]
So it's probably an issue in `lib/output.js`

[2016-07-23 15:03] kzc commented on #1232
This fixes the redundant parens in the `new` expression around negative arguments:
[code]
 but a couple of tests fail related to the invalid JS expression `new true();`

[2016-07-23 15:26] kzc commented on #1232
This patch works without any test failures:
[code]

[2016-07-23 16:00] kzc commented on #1232
Fix: #1233

[2016-07-25 04:45] kzc commented on #1223
I think the intention of the `--self` bundle was to only have in-memory operations so that the resultant uglify bundle could work in any environment - including browsers. `.minify()` has file operations that must be run in node, reducing its portability.

[2016-07-25 07:46] wnr commented on #882
@larpo I've now identified that the problem was not related to Uglifyjs. Now everything works fine with your fix, thanks! The problem was related to me altering the `file` property of the generated source maps, see https://github.com/thlorenz/exorcist/issues/14.

[2016-07-25 19:11] TracyGJG commented on #1110
Currently investigating creation of a pull request based on my candidate solution.

[2016-07-25 22:22] terinjokes opened #1234 "make preserving comments easier"
Hello, UglifyJS gang!

My project, `gulp-uglify`, is mostly a dumb wrapper of the UglifyJS2 API to integrate it within the Gulp ecosystem. I say mostly because many years ago I made one small improvement: I added a [`preserveComments`](https://github.com/terinjokes/gulp-uglify/blob/a9c55b9e6ff99a8d395fb1e82d0050c11c256483/minifier.js#L32-L41) option that made the `output.comments` option easier to

[2016-07-25 22:31] kzc commented on #1234
Sounds like a reasonable feature. Please submit a PR to add support in `bin/uglifyjs` and `.minify()` in `tools/node.js` with corresponding mocha tests.

[2016-07-26 13:34] kzc opened #1237 "[ES6] harmony cannot parse its own output of export statement"
Found by testing with PR #1230:

[code]
[code]

[2016-07-26 13:36] kzc commented on #1237
Fix:
[code]

[2016-07-26 13:44] avdg commented on #1237
After a quick look, semicolon should only be expected after in `'export' ExportClause ';'` (block statement)  and `'export' 'default' AssignmentExpression ';'`.

Other semicolons may pop up in other tokens that are group of export statements, but I didn't dig in this stuff yet.

[2016-07-26 13:46] avdg commented on #1237
I believe this is just a sign of more trouble given exports isn't properly maintained yet.

[2016-07-26 13:46] kzc commented on #1237
Keep in mind that `semicolon()` accepts newline or `";"`

[2016-07-26 13:47] kzc commented on #1237
Yes export statements are not fully implemented yet. I just want to fix this bug so that PR #1230 can be merged on master and harmony.

[2016-07-26 13:47] avdg commented on #1237
Spec expectects the asi rule (automatic semicolon insertion) to be active for most semicolons, so no problem for that.

[2016-07-26 13:48] kzc commented on #1237
I'll make the PR with patch above then.

[2016-07-26 14:13] kzc commented on #1237
Fix: #1238

[2016-07-28 11:30] junaruga opened #1239 "Include uglify-js.js (the result of "uglifyjs --self")?"
Hi,
uglify-js.js is bundled in https://github.com/mishoo/UglifyJS/blob/master/uglify-js.js
So, is it possible to include uglify-js.js (the result of "uglifyjs --self") to https://github.com/mishoo/UglifyJS2 ?

Because I am managing RPM packages using uglify-js.js (the result of "uglifyjs --self").
When UglifyJS2 RPM package is updated, the depended packages want to use the updated UglifyJS2 uglify

[2016-07-28 16:09] grovesNL commented on #448
@avdg Thanks for all of your work on this.

I'm not sure if this is what you meant about identifier/literals, but there may be a minor regression on the most recent Harmony branch. It fails while parsing https://github.com/facebook/fbjs/blob/master/packages/fbjs/src/core/getMarkupWrap.js#L40

`SyntaxError: Unexpected token: string (*) [./~/fbjs/lib/getMarkupWrap.js:40,0]`

I just wanted to mention

[2016-07-28 17:42] kzc commented on #448
@grovesNL Already fixed and awaiting merge: https://github.com/mishoo/UglifyJS2/pull/1229

[2016-07-28 21:17] avdg commented on #448
Like @kzc said, luckily I did exclude objects (though that was mentioned vaguely in a sea of text).

Objects parsing isn't perfect yet and there might be more failing test cases that acts like minefields (that is, bugs that still have to be uncovered. I guess I have to dig in some other tools than test262), although bugs are addressed quite fast.

[2016-07-28 21:27] grovesNL commented on #448
Great, thanks!

[2016-07-29 01:39] kzc commented on #448
General ES6/harmony minification question for anyone - what sorts of scenarios are people using it for? ES6 browser market share is around 60% by my estimation.

Is anybody scanning the HTTP User-agent for ES6 compliant browsers and serving up minified ES6 instead of minified transpiled ES5 for just those users?

[2016-07-29 01:40] klimashkin commented on #448
@kzc exactly

[2016-07-29 01:46] howthebodyworks commented on #448
Not us, for example, @kzc. We're developing an app that uses MIDI and fancy WebAudio stuff, ( https://indigo.listentocolors.net/ ) - all the browsers that support such fancy also support ES6; so there's no point bothering with ES5, ever. Generally, I expect other people who are developing webapps that require any fancy HTML5 functionality also are freed from worrying about legacy browsers. The onl

[2016-07-29 02:45] RevanProdigalKnight commented on #448
@kzc I use a general-purpose syntax support detection string that I `eval` in my `index.html` and then decide based on that result whether to load the ES6 or transpiled ES5 code into the page.

[2016-07-29 06:08] sbrl commented on #448
In my website I'm not bothering about serving minified ES5 as it adds additional
complexity to the system. As a student I try to keep things as simple as
possible.
On Thu, 2016-07-28 at 19:46 -0700, RevanProdigalKnight wrote:

[2016-07-29 06:12] raybooysen commented on #448
I want minified ES6. We are building large desktop-like apps in Electron.
The bundles get very large, these are SPAs that run for weeks at a time.

On 29 Jul 2016 02:39, "kzc" <notifications@github.com> wrote:

[2016-07-29 11:49] TracyGJG commented on #1110
Submitted Pull Request 1240 as a candidate solution.

[2016-07-29 11:51] TracyGJG commented on #1087
I have submitted a candidate solution in the form of Pull Request #1240.

Thank you robrecord for the very useful link.

[2016-07-29 11:52] TracyGJG commented on #1033
I have submitted a candidate solution in the form of Pull Request #1240, for windows users.

[2016-07-29 14:54] julienw opened #1241 "[ES6] Objects with a key "*" trigger an error"
With the following code:
[code]
I get the error
[code]

I'm using the latest commit in the harmony branch.

[2016-07-29 14:59] kzc commented on #1241
Fixed by pending PR https://github.com/mishoo/UglifyJS2/pull/1229

@rvanvelzen Could you please review and merge the outstanding PRs for both master and harmony? It would be nice to then cut a new uglify release and then merge master into harmony.

[2016-07-29 15:02] JohanLorenzo commented on #1241
For the record, `git bisect` returns 72a9d799b6fce12ed39502eb552fc8c09ff2cc63 as being the first broken commit.

[2016-07-29 15:07] kzc commented on #1241
Duplicate of issue: #1227, #1228

[2016-07-29 15:09] kzc commented on #1241
@julienw Could you please put an [ES6] prefix in the issue title?

[2016-07-29 17:23] julienw commented on #1241
Because it's a Harmony-branch issue ?

[2016-07-29 17:29] kzc commented on #1241
Yep.

[2016-07-29 21:53] robrecord commented on #1087
Thank you for the addition, TracyGJG!

[2016-07-29 21:56] avdg commented on #1087
Thanks for rolling the ball ;-)

[2016-08-03 02:40] javysun opened #1245 "Lost comment"
In the begining

[code]

After parse

[code]

[2016-08-03 18:18] Chyzwar commented on #448
@kzc anyone writing SPA can afford to drop support for old browsers. Edge/Firefox/Chrome and soon Safari provides at least 92% of ES6 coverage.

[2016-08-03 18:28] RevanProdigalKnight commented on #448
@Chyzwar Not necessarily. Thanks to the writing of the contract, I'm maintaining an SPA that needs to support IE10 (which only supports 3% of ES6) for at least another 2 years when the contract is next renewed.

[2016-08-03 18:34] Chyzwar commented on #448
@RevanProdigalKnight but would you start new SPA project with support for IE10?

Microsoft already retired IE8, 9, 10 and put nagware in 11. Babel is not a salution and it is costly abstraction.

[2016-08-03 18:39] RevanProdigalKnight commented on #448
@Chyzwar I argued against supporting anything less than IE11 when I started writing it, the contract people wanted IE8 support (this was ~1.5 years ago, some of our clients are still running XP). As it is, I run Babel as part of the build process and serve the Babel-ified files to browsers that don't support ES6 when testing. I don't want to serve un-minified files to production environments, thou

[2016-08-03 19:47] MeirionHughes commented on #448
@RevanProdigalKnight I have a contracter friend that had to add IE5-7 support; I enjoyed his tears...

[2016-08-03 21:43] bgrayburn commented on #1241
looking forward to this pull request, it breaks on jquery which means it probably affects a lot of projects

[2016-08-03 21:44] bgrayburn commented on #1241
by "it" i mean the current version, not the future-pull-request-added version

[2016-08-04 11:31] rostik404 opened #1246 "screw_ie8 in Node.js 6.3.1"
`screw_ie8` option doesn't work in Node.js 6.3.1. When I use it, I'm getting error: `screw_ie8 is not a supported option`

[2016-08-04 11:33] avdg commented on #1246
Make sure you passed the option under beautify settings

[2016-08-04 11:39] eGavr commented on #1246
@avdg

Please, сan you provide an example? How should I pass this option?

I do this way:

[code]

This works for `ie8` and in `node@4.x` fine.

[2016-08-04 12:13] kzc commented on #1246
Just verified it works correctly with node 6.3.1.

See: https://github.com/mishoo/UglifyJS2/issues/1213#issuecomment-233188287

[2016-08-04 15:10] avdg commented on #1246
oh yeah, there are multiple settings with ie8 :/

And kzc knows better than me.

[2016-08-04 21:43] philippzentner commented on #812
This should be opened again.
A solution like gulp-preprocess provides using:

<script application="ld+json">
..json stuff..
</script>

would be nice.

[2016-08-04 22:19] avdg commented on #812
You may want use the suggestion in the third comment, see https://github.com/mishoo/UglifyJS2/issues/812#issuecomment-143431988.

It's a bit pointless to write a full project when things can be done with 2 function calls.

[2016-08-05 08:56] rostik404 commented on #1246
I had this problem in uglify-js 2.3.6.
In new version everything is ok.

Thank you! 😊

[2016-08-05 08:56] #1246 closed

[2016-08-05 09:52] #1110 closed

[2016-08-05 15:29] sanbornhnewyyz opened #1247 "Inconsistent Property Mangling"
Mangling properties on files separately using a name cache produces a different result from mangling them together. I am under the impression that if you use a name cache you should be able to mangle files separately and produce the same output as if they had been mangled together.

The following reproduces the issue:

files1.js
[code]

files2.js
[code]

Run `uglifyjs file1.js --mangle-props --nam

[2016-08-05 16:07] kzc commented on #1247
A few observations:

The uglify name cache is only useful when you plan to concat the minified files together later. And if you're concatenating the files anyway you just specify the JS files at once on the uglify command line and then you don't need a name cache.

But if you're using `require()` then you need to export symbols from each module. You don't need a name cache for your example as each

[2016-08-05 16:26] sanbornhnewyyz commented on #1247
I do concat the files afterwards but I want control of that because I'm pulling in libraries that are already minifed.

I'm not sure what you mean by not needing a name cache if I am using `require()`. If I want properties to be mangled, it doesn't matter if I'm using require because I still need `moduleA.someFunction` to be mangled consistently in `moduleB.someFunction` if `moduleB` requires `mod

[2016-08-05 16:29] kzc commented on #1247
require() is not compatible with concatenating files. Your example won't work in the original form.

[2016-08-05 16:41] sanbornhnewyyz commented on #1247
Okay, I appreciate the observations and I'll look into options for improving our build process but all of this is a bit beside the point of this issue.

As it stands, I am using require and mangling properties and it does not work on the first pass because of the problem pointed out above. If I do it in two passes, i.e. run everything through once so that a full name cache is generated, then I can

[2016-08-05 17:19] kzc commented on #1247
The problem was obscured by the non-working example, but I see what you mean now.

I have a fix. PR to follow.

[2016-08-05 18:13] sanbornhnewyyz commented on #1247
Alright yeah fair, I see how that example obscures things. Thanks for the feedback and support.

[2016-08-05 18:17] kzc commented on #1247
The issue is this:
[code]
Uglify did not mangle the property `bar` because the expression `foo.bar` was not immediately used in an assignment. I think the rationale was that one could selectively mangle properties of some files that are the "originators" of those properties, but not others. One would have to "prime" the name cache with each JS file they'd wish to use in this scheme, and then re-ug

[2016-08-05 18:39] kzc commented on #1247
See: PR #1244. The code in question was related to another property mangling issue.

[2016-08-05 20:53] papermana commented on #448
@kzc Google Chrome extension!

Having one platform to develop for and not having to worry about compatibility with browsers from 5 years ago is a wonderful feeling.

[2016-08-06 10:39] AliMD commented on #448
Any schedule for release with basic es2015 support ?

[2016-08-06 11:24] avdg commented on #448
Current tendens seems to be slowed down. But we're in summer times which may explain the lack of maintainers happy to merge stuff in. Especially when that number is still 2.

[2016-08-06 12:54] kzc commented on #1245
Related issue: #754

Could be solved by introducing a `comments_after` property on the parse token that would work much like `comments_before` already does:

https://github.com/mishoo/UglifyJS2/search?utf8=✓&q=comments_before

[2016-08-06 13:08] arackaf commented on #448
@avdg they haven't given you commit privileges yet? You seem to be carrying this project at this point.....

[2016-08-06 16:14] avdg commented on #448
Not sure what @mishoo thinks about giving me commit privileges.

[2016-08-06 16:14] avdg commented on #448
And in a good month I'll be on vacation without internet for about a month.

[2016-08-07 20:12] gcnm-pgeil commented on #921
Clever idea! I will keep it in mind. ;)

[2016-08-09 23:51] dazinator commented on #849
+1. I was also hoping to be able to use uglifyjs to concat multiple compiled typescript files each with their own source map. I'd happily try my hand at a PR for this, but new to this codebase so any specific pointers on this issue would be welcomed

[2016-08-10 02:14] kzc commented on #849
Instead of specifying each source map individually what if an implicit `.map` suffix is assumed for each input file?  i.e.: `file.js` --> `file.js.map`

The flag might be called `--implicit-in-source-maps`

[2016-08-10 07:36] styner9 opened #1248 "Unexpected stripping of single quotation in associative array"
(I'm poor at english.)

### Problem
In associative array, single quoted key stripped unexpectedly.
(e.g. `'class':` -> `class`)
This problem leads to error in Internet Explorer 8.

### Reproduce step
1. make test input file

[code]

1. install uglify-js 2.7.0 and uglify

[code]

  - output

[code]

1. do with 2.6.4 again <- EXPECTED

[code]

  - output

[code]

[2016-08-10 10:26] dazinator commented on #849
@kzc - along those lines, cant the sourcemap comment line then just be read / detected from the existing input file so no arguments are needed at all?

[2016-08-10 14:03] avdg commented on #1181
Hmm I might want a system to pile up patches. A bit similar to the pu branch they use for git. This should give opportunity to test out patches and give it a single reference as well.

[2016-08-10 14:07] kzc commented on #1248
[code]

[2016-08-10 14:11] kzc commented on #849
Sure, if present. If the source was previously transpiled or minified it may not be there.

[2016-08-10 14:53] dazinator commented on #849
If the source was previously transpiled / minified, and it has a source map, then the general case is that there will be a source map directive / comment appended in the source. The only exception I can think of is if you previoulsy transpiled / minified the source, with some option that produces source maps but strips the source map directives from the transpiled / minified output. The only reaso

[2016-08-10 16:07] kzc commented on #849
This could be done without adding new flags. The following could be used for inlined source maps:

    --in-source-map=inline

For external source map files `--in-source-map` could be extended to take a glob argument or a space/comma separated list of source map file names.

    --in-source-map=some/directory/*.map

or

    --in-source-map="file1.js.map file2.js.map"

Uglify code base is straightf

[2016-08-10 23:17] styner9 commented on #1248
@kzc
thank you! it was my fault.
however i think this is a critical change, but i can't find any explanation in 2.7.0 release notes.

[2016-08-10 23:17] #1248 closed

[2016-08-11 00:52] kzc commented on #1248
Here's the release notes: https://github.com/mishoo/UglifyJS2/commits/master

[2016-08-11 12:29] styner9 commented on #1248
@kzc
oh!  that is a **RELEASE NOTES**!!
---
i don't want to argue with you.
i don't want to blame about breaking backward compatibility.
but, i feel kind of lack of responsibility.

[2016-08-11 13:56] piuccio opened #1249 "Dead code elimination of typeof process"
React includes code that looks like
[code]
[reference](https://github.com/facebook/react/blob/8aed0cd67ec7c52a689bd729ad4ec9ee4a80b45b/src/isomorphic/classic/types/checkReactTypeSpec.js#L22-L26)

Best practice is to use something like [envify](https://github.com/hughsk/envify) to replace `NODE_ENV` with `production`.

With the code above, it becomes
[code]

In [uglify demo](http://lisperator.net/u

[2016-08-11 14:43] brianpow opened #1250 "UglifyJS2 does not support ES6 arrow function"
ES6 arrow function is currently not supported.

For examples
`var a=(b)=>{console.log(b)}`

will give
`SyntaxError: Unexpected token: operator (>)`

Ref:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions

[2016-08-11 14:56] kzc commented on #1248
i don't want to blame about breaking backward compatibility.
but, i feel kind of lack of responsibility.

@styner9 This is a volunteer effort. You're using this software for free. You've contributed nothing. We owe you nothing.

[2016-08-11 15:05] avdg commented on #1250
Please checkout the harmony branch as es6 and es7/es2016 features are *not* supported on master, there is partial support on harmony.

[2016-08-11 15:21] kzc commented on #1249
Uglify doesn't have flow analysis and doesn't know the `typeof process` so it can't make this optimization.

See the uglify documentation for Conditional compilation:
https://github.com/mishoo/UglifyJS2#conditional-compilation

[2016-08-11 18:00] kzc commented on #1249
It appears that React is working on a fix.

https://github.com/facebook/react/blob/178cb7d3392505cd393b68e4e061c6ef860344a1/src/shared/utils/flattenChildren.js#L21-L32
[code]

[2016-08-11 19:55] kzc commented on #1249
@piuccio You can use `-c pure_getters=true` if you know that all property accesses in the source code do not have side effects:
[code]
[code]
[code]
For React 15.3.0 you could save 258 bytes with `-c pure_getters=1`:
[code]
and save 1205 bytes with `-c pure_getters=1,collapse_vars=1`:
[code]

[2016-08-12 01:46] styner9 commented on #1248
@kzc
i know and appreciate your effort. :)

as you said, i am nothing but one of the free-riders.
just hope this project will be successful (already?) like apache commons.

anyway, thanks.

[2016-08-12 01:57] styner9 commented on #1248
If you feel an anger, I'm sorry for my rudeness. I couldn't find proper expression because I am poor at English.

[2016-08-12 12:16] whiver commented on #506
Any news about this feature, more than a year later? AFAIK it has not been implemented?

[2016-08-12 16:27] kzc commented on #506
[code]
The IIFE is necessary to get rid of the top level `var log`.  JS bundlers like `browserify` and `webpack` employ them in packaging up JS files.

[2016-08-13 15:44] balthier82 commented on #348
Hi,

I have the same error. When I exec the command through the command line it works, but when I append the command **.pipe(uglify());** to the bundle function in the index.js file (inside **node_modules/ionic-gulp-browserify-typescript** folder) it throws the following exception:

`Caught exception:
 Error
    at new JS_Parse_Error (eval at <anonymous> (E:\<dir>\node_modules\gulp-uglify\node_mod

[2016-08-13 16:12] kzc commented on #348
@balthier82 That's a question for the `gulp` people, not uglify.

Uglify offers information where the parse error is when the exception is thrown, but gulp is not printing it.

uglify's lib/parse.js:
[code]

[2016-08-13 23:40] avdg commented on #1181
If (a big word here) I would take over the project I would have to put more time into keeping the project manageable. But that could also remove the problem pile up we have now.

The only thing left is making the maintenance agree to carry over rights to an other repo so we don't do double work. They shouldn't loose too many rights with a repo move though.

[2016-08-13 23:44] avdg commented on #1181
Actually I am now thinking more about how contributing to a project goes, while watching an other repo where a bot manages the pr's. It's doable actually, but voting is kinda spammy and the bottom wouldn't understand anything about trust.

[2016-08-14 00:16] avdg commented on #1181
Maybe a good bot must have a stackoverflow-ish karma system in place. But then there is the reward model to put some thought to.

[2016-08-14 19:51] #1247 closed

[2016-08-14 19:54] rvanvelzen commented on #1250
As @avdg indicated, this is (at least partially) supported on the harmony branch. See #448.

[2016-08-14 19:54] #1250 closed

[2016-08-14 19:54] rvanvelzen commented on #1249
The `pure_getters` that @kzc mentions is the solution to your problem.

[2016-08-14 19:54] #1249 closed

[2016-08-14 19:55] rvanvelzen commented on #1241
This should be resolved with the next release (that should happen shortly)

[2016-08-14 19:55] #1241 closed

[2016-08-14 19:56] rvanvelzen commented on #1239
The self-build isn't something we want to include in the repo. It's trivial to build automatically.

[2016-08-14 19:56] #1239 closed

[2016-08-14 19:57] rvanvelzen commented on #1237
I think this should be resolved now. You can close it, or I'll close it once #1230 hits harmony.

[2016-08-14 19:57] rvanvelzen commented on #1232
This should be resolved via #1233.

[2016-08-14 19:57] #1232 closed

[2016-08-14 19:57] rvanvelzen commented on #1228
This should be resolved now.

[2016-08-14 19:57] #1228 closed

[2016-08-14 20:00] junaruga commented on #1239
Sure. No problem.

[2016-08-14 21:38] kzc commented on #1237
Thanks. Welcome back.

[2016-08-14 21:38] #1237 closed

[2016-08-15 05:00] kzc opened #1252 "package.json version on master still 2.7.0 despite 2.7.1 release"
version is still 2.7.0 on master:

https://github.com/mishoo/UglifyJS2/blob/master/package.json#L7

no 2.7.1 commit seen on master:

https://github.com/mishoo/UglifyJS2/commits/master

/cc @rvanvelzen

[2016-08-15 06:58] rvanvelzen commented on #1252
Sorry, I expected releasing to come from muscle memory but it didn't. It's there now, thanks.

[2016-08-15 06:58] #1252 closed

[2016-08-15 08:55] madbence commented on #1200
i've created a [test repo](https://github.com/madbence/uglify-js-1200) with a working example.

[2016-08-15 09:13] madbence commented on #1200
also, i've found the breaking commit, it is 7a4ed9d200c96d1fa2f9fcdfeab6ee76a3bbd696

[2016-08-15 10:48] larpo commented on #1200
2.6.2 is indeed broken, but seems to be working just fine with 2.7.1 that includes fixes from #1190.  @cristiandouce , does 2.7.1 fix the issue you were having?

[2016-08-15 12:53] kzc commented on #1033
The original poster's script:
[code]
Should work on Windows with uglify-js@2.7.1

This issue can be closed.

[2016-08-15 13:21] piuccio commented on #1249
Thanks it worked fine. I shaved 100bytes off gzipped react.

[2016-08-15 14:56] #1033 closed

[2016-08-15 21:39] avdg commented on #448
We're back on the logs for now... https://gist.github.com/avdg/e949f94a65c4677fb3f1a47f7e7cd881

[2016-08-15 22:26] kzc commented on #448
A lot of those ES6 tests fail because some of the assumptions/optimizations that are valid in ES5 are not valid in ES6 - like unconditional function hoisting.  Take this test for example:

https://github.com/tc39/test262/blob/master/test/language/block-scope/shadowing/dynamic-lookup-from-closure.js

It fails with default compress options but it passes with `-c hoist_funs=false`.

Maybe harmony sho

[2016-08-16 08:54] benelot opened #1253 "Feature request: variable name shortening based on frequency of occurence (Information Theory)"
Hello,

I only came by this project but had an idea that could greatly reduce the length of scripts and other things that use names. Maybe it would be possible to make a list of names and their frequencies of occurrence within their scope (could be an entire script or more specific to their validity scope). When replacing variable names with short names, shorter names could be used  for those name

[2016-08-16 13:16] kzc commented on #1253
A few similar schemes have been proposed in the past and nothing resulted from them. But if you think you can code it up and it consistently produces smaller resultant output than the current mangling scheme (before and after browser gzip compression) without slowing down uglify appreciably and not complicating the code too much, then by all means, go for it.

[2016-08-16 13:23] benelot commented on #1253
It could be done before browser gzip compression, working on the plain script content. Not sure if this stage exists. Let me think about this for a while, it might be that gzip already does this in some way. I could test it with two files.

[2016-08-16 13:42] kzc commented on #1253
There is no such stage. Uglify produces non-gzipped output. The browser gzips it.

Most javascript files do not exceed the two character variable mangling threshold. The prized one character variable names are quickly taken up by parameter names in the numerous small functions common with large libraries and applications.

[2016-08-16 13:48] benelot commented on #1253
What is a two character variable mangling threshold? I do not understand your last paragraph.

A simple question I can ask to know if I can cause any improvement is: Do you already do anything to shorten the variable names in the JS scripts or not? If yes, then I possibly can do little, if no, then I can possibly contribute.

[2016-08-16 13:59] kzc commented on #1253
Most javascript inputs do not result in the need to generate JS variables above 2 characters.

Yes, uglify already mangles to shorter variable names. If you're making such a proposal one would assume you would have already verified that.

[2016-08-16 18:12] benelot commented on #1253
Well, that is why I asked. It is not very simple to verify this in a project you just come by. Thanks for the information. Then we do not need this, the difference might be very little.

[2016-08-16 18:37] avdg commented on #1253
There might be a need to clean up the api a bit or at least make it more shiny. But we should be happy that uglifyJS already is able to mangle adaptive to code context (the default strategy uses frequently used characters, but doesn't align them with variable use just yet).

Solving this issue would be a nice enhancement.

[2016-08-16 19:32] kzc commented on #1253
It wouldn't reduce output size much (if at all) in the general case. Uglify does a good job at mangling already with its first come, first served algo for assigning variables in each scope. The savings gained by functions having single letter parameter names in the same order overshadows everything else in both uncompressed and gzipped output.

[2016-08-16 22:55] gdborton opened #1254 "Upgrading to 2.7.1 introduces cryptic errors."
It took a little while to debug this, but basically upgrading to 2.7.1 introduced some bugs in our code.

I generated a quick test for reproduction.

[code]
2.7.1 throws with `VM68:52 Uncaught TypeError: (!(intermediate value)(...)) is not a function`

[Fiddle](https://jsfiddle.net/udjn9dpr/) containing the above.

How I generated the minified code:

`npm install uglify-js@<version>; node test.js`

[2016-08-16 23:42] kzc commented on #1254
Use `-c negate_iife=false` as a workaround:
[code]
[code]

[2016-08-16 23:51] kzc commented on #1254
Bug introduced in fb049d3a81b744a5facf1f032b8b2815c410f178

[2016-08-17 02:08] kzc commented on #1254
Fix: #1255

[2016-08-17 06:50] #1254 closed

[2016-08-17 07:02] benelot commented on #1253
I can give you examples where the first come, first served strategy fails. The encoding based on usage frequency never fails as long as the whole script code is known (Which is the case usually, no?).

[2016-08-17 07:19] kzc commented on #1253
Contrived examples are not interesting. If you put together a working uglify pull request that meets the criteria in https://github.com/mishoo/UglifyJS2/issues/1253#issuecomment-240097888 and results in consistently better minification for a dozen popular javascript libraries or applications (react, jquery, ember, typescript-compiler.js, lodash.js, etc) then it would be interesting. Good luck.

[2016-08-17 08:10] kzc commented on #1254
@gdborton The fix is in the 2.7.2 release.

[2016-08-17 08:37] mariusleu opened #1256 "Error after upgrading to uglify-js 2.7.2"
I have a EmberJS application which has as dependency "uglify-js": "^2.6.1".

Everything worked OK so far, until the new 2.7.2  version of uglify-js got released and my builds switched to this version of uglify-js.

I was getting this error:
`Uncaught TypeError: Date.toString is not a constructors`

It seems that the unminified version of this line is comming from the tinymce library that I use in

[2016-08-17 09:33] rvanvelzen commented on #1256
Thanks, this was introduced in what should have been a fix for a different problem. (See #1255).

[2016-08-17 11:56] benelot commented on #1253
I will check what is there and if I see a way for me to do it, I will have try at implementing it.

[2016-08-17 14:12] RichardJECooke commented on #448
To the author of this project, please will you add a tag to the harmony branch at each version so we refer to it directly in our package files?  I.e. `"uglify-js": "github:mishoo/UglifyJS2#harmony__2_7_1"`.

Otherwise we have to refer to the entire harmony branch without version, so when someone updates references a month down the line she might download a version that has bugs and break our proje

[2016-08-17 14:14] finom commented on #448
@RichardJECooke I guess you can use commit hash instead of branch or tag. Hope this helps.

[2016-08-17 18:13] lencioni commented on #1254
@kzc thanks for the fast response on this!

[2016-08-17 18:36] rvanvelzen commented on #1256
I just published 2.7.3, which has a fix for this issue. Thanks for the report!

[2016-08-17 18:36] #1256 closed

[2016-08-17 19:13] kzc commented on #1254
You guys probably will want to grab v2.7.3 which was just released. Bugs often come in pairs.

https://github.com/mishoo/UglifyJS2/commits/master

[2016-08-17 23:54] PlainSight commented on #731
I was wondering if I could get some feedback on this. Is this correct behavior or not? I can't see this outlined in the spec: https://docs.google.com/document/d/1U1RGAehQwRypUTovF1KRlpiOFze0b-_2gc6fAH0KY0k/edit

[2016-08-18 01:33] kzc commented on #731
Sure seems like an error as these properties are internal to uglify and probably don't belong in a map file: ```"comments_before":[],"nlb":false```

Do you get the same result with `uglify-js@2.7.3` ?

[2016-08-18 01:45] PlainSight commented on #731
Hi kzc,

It looks like this is fixed in 2.7.3 (at least for the file tested). I probably should have checked before I raised this issue again.

Thanks a bunch.

[2016-08-18 01:45] #731 closed

[2016-08-18 07:58] curiousdannii commented on #1253
Uglify already prepares code for Huffman encoding by using variable names that are the most frequent non-variable characters.

There are undoubtedly improvements to be made, but whether it is worth the complexity of the algorithm and the time to run it is the question. The tricky thing is determining when to give character 1 to a frequently used global var (or high scope var) and when to give it t

[2016-08-18 08:53] benelot commented on #1253
What you describe sounds pretty optimal for the task at hand and is possibly not far from the ideal case. Some wrong var name assignments will not change that much in size reduction, and, assuming that your implementation is of higher efficiency than the original Huffman encoding, you get a performance bonus. I like the trade-off so far. So, I am afraid my idea is pretty much already in, good work

[2016-08-18 08:53] #1253 closed

[2016-08-18 12:08] mariusleu commented on #1256
My issue is also gone by using 2.7.3
Thanks!

[2016-08-18 13:09] cheshrkat commented on #1234
grunt-contrib-uglify has run into the same problem (https://github.com/gruntjs/grunt-contrib-uglify/issues/430). Explicitly-named args would help a lot.

[2016-08-18 13:44] avdg commented on #1234
yeah, there was given some thought to it while I refactored the comment options (which is a whole while ago). The idea back then was to have some configuration options to store these filters (which can be functions or regexes or just a boolean).

I never intended to maintain a set of names (they should be maintained largely in config files, but uglify doesn't do config files just yet, or the optio

[2016-08-18 13:49] avdg commented on #1234
The patch should be fairly obvious though. Just add a hash table (or object thingy) and replace matching strings with their appropriate value at https://github.com/mishoo/UglifyJS2/blob/8430123e9d2d12442312bbdcdf54004dc6d29c12/lib/output.js#L50.

I could invest the time in the fix, but I really want to give priority to es6 stuff.

[2016-08-18 13:52] kzc commented on #1234
I'm -1 on config files for uglify. Options should be explicit in the API.

[2016-08-18 13:54] avdg commented on #1234
We don't need these config files for obvious options though.

[2016-08-18 13:55] kzc commented on #1234
With a correctly crafted regex, preserving comments of any kind is already supported by uglify.

[2016-08-18 13:56] avdg commented on #1234
The gulp and grunt projects are having problems with an 'inconsistent' api. They expect for both projects to support cli options as well.

[2016-08-18 14:13] kzc commented on #1234
Of course anyone is welcome to contribute a PR. While this feature might be nice to have, a more pressing issue is that uglify doesn't preserve comments in many common situations: https://github.com/mishoo/UglifyJS2/issues/1245 https://github.com/mishoo/UglifyJS2/issues/754

[2016-08-18 22:29] bvasiles opened #1259 "Unexpected output"
Why are none of the variables renamed when running `uglifyjs ... -m sort -b` or `uglifyjs ... -m toplevel,sort -b`?

The input: https://raw.githubusercontent.com/ijse/mloader/master/loader_0.1.js

[code]

[2016-08-18 22:43] avdg commented on #1259
Did you try v2.7.3?

[2016-08-18 23:10] avdg commented on #1259
Uh, you probably shouldn't pass anything to the `-m` flag I guess. If so, it works like a filter. Not as a scope.

[2016-08-18 23:11] avdg commented on #1259
Just make sure there is a flag after -m (so -m has no parameter) or put -m as last

[2016-08-18 23:15] bvasiles commented on #1259
Still the same with `uglifyjs ... -m -b`

[2016-08-18 23:35] avdg commented on #1259
I don't know how to get that option working. I'm more used with the js api. I'll try to find some code examples that do work though.

[2016-08-18 23:42] avdg commented on #1259
You can use https://avdg.github.io/uglify.html?#ref_v2_x2e7_x2e3 for now :-) But meh, I only got this option working so far with --self

[2016-08-18 23:42] bvasiles commented on #1259
Do you mean the `-m, --mangle` option? I have lots of examples where it works. In fact, this is the first time it has acted weird.

But if you look at the example js code I linked, I would expect it to rename the local variables. For example, `baseDir` from `var baseDir = window.moduleDir;`. Is there something special about this particular file that's causing the mangle option not to trigger?

[2016-08-18 23:44] avdg commented on #1259
Hmm same result... maybe there is something going on with the mangler.

[2016-08-18 23:46] avdg commented on #1259
You do use `eval` though, which may affect compression and mangler.

[2016-08-18 23:47] avdg commented on #1259
I suggest putting eval in very small functions, very close, but still not in global scope. Better is to not use it at all (in html you can create a script tag).

[2016-08-18 23:57] avdg commented on #1259
Also there is the Function object, putting everything in a separate scope. Documentation can be found at https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function.

Compared to eval, this would less likely pollute the current scope. Though I didn't test compression with that in your code.

[2016-08-18 23:58] christophehurpeau opened #1260 "[ES6] string-keyed shorthand method fail"
With #harmony branch:

[code]
throws : `SyntaxError: Unexpected token punc «(», expected punc «,»` but it is valid

https://astexplorer.net/#/a7s7ITQFLp/1

[2016-08-19 00:08] avdg commented on #1260
Already working on that. See #1258

[2016-08-19 00:51] kzc commented on #1259
The following will isolate your variable and function names from `eval()` except for `Eval` and `_$e`:
[code]
[code]
Note that `whatever` was mangled to `n`.

[2016-08-19 01:06] bvasiles commented on #1259
Thanks! I forgot to mention that I'm using uglifyjs as part of a research experiment and I'm not supposed to alter the inputs as you suggest. Therefore I wanted to make sure that "no change" is the expected output when the input is the file I linked, as opposed to uglifyjs doing something strange.

[2016-08-19 01:23] avdg commented on #1260
Uh sadly the pr won't fix the problem on master...

[2016-08-19 01:24] avdg commented on #1260
At least if there are issues there on master

[2016-08-19 01:50] avdg commented on #1260
Are you able to test patches?

[2016-08-19 02:39] kzc commented on #1259
Works as designed.

So this issue can be closed?

[2016-08-19 02:41] bvasiles commented on #1259
+1

[2016-08-19 03:13] herlon214 commented on #999
+1

[2016-08-19 03:45] Delagen commented on #999
This is angular 2 problem, and it was fixed before rc 5, but rc 5 something breaks again. Issue present in angular/angular repo.

[2016-08-19 05:16] gdi2290 commented on #999
you can close this issue

[2016-08-19 06:37] christophehurpeau commented on #1260
@avdg I am using the harmony branch, not master
I can't test your PR because of other missing features, can you rebase ?

[2016-08-19 07:32] rvanvelzen commented on #1259
It's due to `eval` being used. You can pass `--mangle eval` to allow UglifyJS to do mangling even when eval is present.

[2016-08-19 07:32] #1259 closed

[2016-08-19 10:05] avdg commented on #1260
Which missing features? Uh don't mind master if there aren't issues over there. I just saw the email about this issue mentioning master but the issue has been rewritten a lot after that apparently. Emails don't update ;-)

[2016-08-19 22:30] avdg commented on #1260
Also, if it's just code snippets, feel free to test over here: https://avdg.github.io/uglify.html?#ref_PR_x2d1258

[2016-08-20 12:59] avdg commented on #448
More object property fixes should soon land in harmony. I guess I can start up investigating the failures involving binding patterns in parameters, since they are a part of a major bulk of errors on test262.

[2016-08-21 17:39] blacksonic opened #1261 "Class declaration in IIFE considered as side effect"
**I'm sending a bug report**

When i declare a class inside an IIFE, but class is not used, it isn't stripped by UglifyJS, because it is considered as a side effect.

[code]

The warning i get:

`WARN: Side effects in initialization of unused variable V6Engine [./dist/car.bundle.js:74,4]`

I suspect it is because it assigns values to the prototype.
The biggest pain point with it that it blocks tre

[2016-08-21 17:48] blacksonic commented on #1261
referencing https://github.com/mishoo/UglifyJS2/issues/1261

[2016-08-21 19:37] TheLarkInn commented on #1261
cc @DanielRosenwasser This may be of interest to you. This prevents TS users from being able to have tree shaking/dead code elim.

@mishoo if we can help resolve this, please point us in the right direction.

[2016-08-21 22:52] robjames opened #1262 "beautify and compress"
It would be great if you you beautify and compress in one command.

`uglifyjs first.js second.js -b app.js -c -o app.min.js --source-map app.map.js`

This would enable easy debugging in dev and production environments.
And, if i have 100 files to concat, i would only have to write them once.

It would seem this should be already possible, but i cant seem to find an example of this, nor get it to w

[2016-08-21 23:07] kzc commented on #1262
The order of your args is incorrect. Try:
[code]

[2016-08-21 23:13] robjames commented on #1262
@kzc thanks but that doesn't work.

I'm trying to:

1. concat x files (first.js, second.js ... 99.js, 100.js...)
2. get a beautified version into app.js
3. get a compressed version into app.min.js

Thanks

[2016-08-21 23:25] kzc commented on #1262
Can't be done in a single uglify call. But if you're using UNIX you can do this:
[code]

[2016-08-21 23:47] robjames commented on #1262
@kzc that didn't quite work either, i got a `tee: stdout: Broken pipe`

But never mind you gave me a great idea with your piping - I can just run uglify on the beautified version:

[code]

Which is perfect as i only need to list the files once.

Thanks for your help!

Hopefully this gets added as a feature.

[2016-08-22 00:09] kzc commented on #1262
It's probably the infamous stdio pipe truncation bug that the Node.JS project will never fix.

Two commands would certainly do the trick. If you're on UNIX you may want to put `&&` between the commands so if the first command fails the second one won't run.

[2016-08-22 00:36] robjames commented on #1262
Oh brilliant, I'll definitely add that. Thanks for your help!

[2016-08-22 01:50] kzc commented on #1261
@blacksonic Uglify doesn't perform program flow analysis. It won't drop the code because of the the side effects you've noted.

You probably want to use something like rollup which supports that sort of speculative unused code dropping.

[2016-08-22 02:24] TheLarkInn commented on #1261
Since I don't understand specifically what you mean by _speculative_ code dropping, could you elaborate on this please?

[2016-08-22 02:54] kzc commented on #1261
On truly doesn't truly know the global impact of any program unless you run it. Barring that you can trap all assignments and make some assumptions as to what is *likely* going on. That seems to be what rollup is doing. But one could craft code to make such a scheme fail. That's why it's speculative.

[2016-08-22 03:00] Kovensky commented on #1261
True, it is possible one could write something like `export const impure = (() => window.foo = 'bar')()`, which would have different global effects if it was removed or not.

The problem is the interaction with pure declarative code that ends up using IIFE by accident of transpilation...

Speaking of "pure declarative", assuming uglify got support for this use case, how would decorators sit in thi

[2016-08-22 03:13] kzc commented on #1261
Certain transforms are simpler to perform at the higher ES6 level, rather than with the lower level transpiled ES5 where it's more difficult to reason about side effects.

The following is using Uglify's harmony branch:
[code]
[code]
Uglify is pretty conservative in dropping code. Rollup appears to have more aggressive code dropping heuristics.

[2016-08-22 03:20] kzc commented on #1261
Uglify's harmony branch for ES6 is still a work in progress and doesn't support class decorators as far as I know. @avdg could better answer what's supported in harmony.

[2016-08-22 08:45] briceandre opened #1263 "function names lost when using source-map"
Dear,

I am using your tool to obfuscate and compress javascript code used by clients. When a bug appears in a client browser, a log is automatically sent to my server with, if client browser supports it, a call stack.

I wrote a small script that transforms this call stack in non-obfuscated call stack so that I can easily read it. For this, I use your source-map function, as well as a small javas

[2016-08-22 10:37] avdg commented on #1261
On es 6 I'm more focused on getting stuff working (I prefer wide support
and less compression rather than supporting only few es6 features and have
scripts without any compression).

But we still haven't good destructuring or modules support for example.
There is a lot to be done there on the parser and AST side.

We have to make decisions on where to spend our time if we can't spend our
time on i

[2016-08-22 11:56] an-rahulpandey opened #1264 "JS Parse Error"
Hi,

I suddenly started getting this error message -

[code]

[2016-08-22 11:59] an-rahulpandey commented on #1264
Library Versions -

[code]

[2016-08-22 12:24] an-rahulpandey commented on #1264
Opening issue here - https://github.com/terinjokes/gulp-uglify/
It is related to something else.

[2016-08-22 12:24] #1264 closed

[2016-08-22 12:59] avdg commented on #448
Actually I have found very few issues with the current generators (there is a small problem with accepting the yield keyword as property, though that needs some spec checking). Still unsure if it's production ready but feel free to try out.

[2016-08-22 13:52] TheLarkInn commented on #1261
Would it be possible to add this to the list of 'unsafe' compress features. These wrapped IIEF's are generated from transpilers? This is a pretty important optimization to both babel and Typescript users. I can't think of a code example where a transpiler would output cases like the one @kzc described sure to the generative nature of the code.

[2016-08-22 14:18] kzc commented on #1263
For minified code with anonymous functions you're not going to get useful information in a browser stack trace converted to a string except for the row and column of each frame in the stack of the exception.

Try using:

    -m -c keep_fnames=true

or

    -c keep_fnames=true -m keep_fnames=true

[2016-08-22 14:55] kzc commented on #1261
It's a non-trivial amount of work to recognize code for ES6 classes converted to ES5 IIFEs and drop them if the side effects are deemed to be acceptable to ignore. Uglify does not have any program flow analysis. Pull requests are welcome.

As I mentioned before, dealing with this issue at a higher level with rollup is probably your best bet.

[2016-08-22 15:15] briceandre commented on #1263
Thanks for your answer. I tried both proposals, but none worked.

I am not sure what I try to recover is anonymous function. Here is an example of code:
[code]
In this example, check_refresh is a member function of MainPage class (where Class is a mootools component).

If an error arises in the execution of check_refresh function, with non-obfuscated code, I get the name in the stack trace (at lea

[2016-08-22 15:20] kzc commented on #1263
This is an anonymous function expression assigned to an object property:
[code]
This is a named function expression assigned to an object property:
[code]
It sounds like you want the latter with the flags outlined in my last post.

[2016-08-22 15:46] briceandre commented on #1263
OK, understood.

I solved my problem by writing a small script that parses original source file to find in which function the line of code is located.

Thanks for your help.

[2016-08-22 16:45] blacksonic commented on #1261
@kzc Is it a trivial amount of work to detect an IIFE or is it also considered program flow analysis? If not, with the flag one can decide if the codebase and the packages used can be trusted and no global variable manipulation occurs there.

[2016-08-22 17:27] kzc commented on #1261
IIFEs are trivial to detect. Deciding whether the code in them can be considered pure and side-effect free in the context of the entire program is not.

Then there's the exports assignment issue that I mentioned in the other thread that would prevent the IIFE from being dropped anyway.

If you want to put together a PR to address these issues, go for it.

[2016-08-22 17:59] blacksonic commented on #1261
If you consider it trivial can you give us hints on how and where to implement it? At first sight to understanding 1k+ files seemed hard for me who is not familiar with the codebase.

[2016-08-22 17:59] kzc opened #1265 "pure_funcs erroneously matches functions not specified"
This bug is particularly evident with short function names:
[code]

[2016-08-22 18:00] blacksonic commented on #1261
This would be a big help for everyone using Webpack with Babel or Typescript, it would be not a trivial nor easy thing to migrate to Rollup.

[2016-08-22 18:02] kzc commented on #1265
Fix:
[code]

[2016-08-22 18:18] kzc commented on #1261
Uglify consists of a dozen or so JS files in lib, tools and bin. It's pretty easy to follow.

[2016-08-22 18:31] avdg commented on #1261
Some important api docs can be found on http://lisperator.net/uglifyjs/

[2016-08-22 18:39] blacksonic commented on #1261
Is it ok if i add a new option parameter to skip the check on this line?
https://github.com/mishoo/UglifyJS2/blob/8430123e9d2d12442312bbdcdf54004dc6d29c12/lib/compress.js#L1447

[2016-08-22 18:43] blacksonic commented on #1261
@avdg thanks, those docs are really helpful for newcomers

[2016-08-22 19:09] kzc commented on #1265
I can't keep count of how many times I've been burned by this `pure_funcs` argument syntax. This works in uglify 2.7.3:
[code]
I think some variation of the patch above still should be merged. It won't break the syntax of the example above.

[2016-08-22 19:20] kzc commented on #1261
@blacksonic wrote:

I wouldn't recommend it. It would break a lot of uglified code.

[2016-08-22 19:31] blacksonic commented on #1261
How can this break existing things if it is turned off by default?

[2016-08-22 20:13] kzc commented on #1261
Just because you want to drop code with a side effect in a very specific case does not mean it should be done in the general case.
[code]

[2016-08-22 20:22] kzc commented on #1265
On second thought I'll just leave it as is.

[2016-08-22 20:22] #1265 closed

[2016-08-22 20:34] blacksonic commented on #1261
Maybe put a check there for IIFE also besides the config check?
If so this is where i would ask for your or anyone's help, because i'm not familiar with AST.

[2016-08-22 20:39] kzc commented on #1261
I don't think you understand the nature of the problem you're trying to solve. Please re-read: https://github.com/mishoo/UglifyJS2/issues/1261#issuecomment-241486781

[2016-08-22 20:43] blacksonic commented on #1261
Can you explain it in detail?

[code]

This part has nothing to do with the ```exports``` assignment. It is not assigned to ```exports```.

[2016-08-22 20:47] kzc commented on #1261
I've tried to explain that the problem is not as simple as you believe it to be. Just examine the uglify code and you'll figure it out. Good luck.

[2016-08-23 00:58] Kovensky commented on #1261
This is probably a bad idea due to the additional coupling, but could there be, say, an `_uglifyPureIIFE` "global meta-function" that, when given a function, in the default case, would just return its argument (`_uglifyPureIIFE(function () {})(args)` -> `(function () {})(args)`), but would also allow uglify to treat that function as safe to remove when the result is unused?

[2016-08-23 01:39] kzc commented on #1261
Or implement a `/** @pure */` annotation to tell the compressor there are no side effects for a function or function call.

[2016-08-23 07:05] sokra commented on #1261
I think the problem should be splitted into two parts:

1) functions need to be removes as unused even when properties are added to the `prototype`.

[code]

should be compressed to (as `a` is unused

[code]

Currently uglifyjs is not able to do this, and it's a very general purpose optimization which would be great for many codebases. Especially with Tree Shaking.

---

2) Uglifyjs usage tracker

[2016-08-23 14:36] kzc commented on #1261
@sokra The issues involved are well known. The contributors to this project are aware of javascript scoping rules. Most of uglify's present mangle and compress optimizations would not be possible without respecting these rules. What you are describing is data flow analysis. Uglify does not use a control flow graph. It's a significant amount of work to implement correctly.

[2016-08-24 08:22] #1263 closed

[2016-08-24 13:05] avdg commented on #448
I do now have a working prototype of binding patterns, but I'm stuck with the question if uglifyJS should support something like

[code]

In chrome and firefox, it is supported, but the `ArrayBindingPattern` in spec doesn't seem to allow something like that.

Otherwise, binding pattern support (and later destructuring) can be followed on https://github.com/avdg/UglifyJS2/compare/harmony...avdg:bin

[2016-08-24 13:07] mgol commented on #448
@avdg Interesting. If it's not allowed by the standard, maybe bug reports against browsers should be reported?

[2016-08-24 13:10] mgol commented on #448
@avdg I looked into the spec and `[]` seems to be accepted as `ArrayBindingPattern`:
http://www.ecma-international.org/ecma-262/6.0/#sec-destructuring-binding-patterns
In the first production both `Elision` and `BindingRestElement` are optional, if they're both omitted, we're left with just `[]`.

[2016-08-24 13:11] avdg commented on #448
Ah, then it's my part being wrong. Also an already included test case has to be remove then (which made me doubt even more).

[2016-08-24 13:12] avdg commented on #448
And yes, I overlooked that part of the spec. Indeed, it's legal syntax.

[2016-08-24 13:12] avdg commented on #448
And thanks for the quick response.

[2016-08-24 15:56] refractalize commented on #563
this seems to have been fixed again in #1190.

[2016-08-24 18:37] epidemian commented on #563
@refractalize yep, i can confirm this now works as expected. Thanks @larpo ! :smile_cat:

[2016-08-24 21:03] bvasiles opened #1266 "Scope information"
I'm trying to understand the `scope` information included in the internal AST representation. To do this I export the AST to JSON:
[code]

I'm particularly interested in how scoping information changes during mangling.
Example input:
[code]
Is mangled (`uglifyjs -m sort`) to:
[code]
Please note how `test`, `arrObj`, and `e` all became `t`.

Now, I want to establish that the three `t`'s are *differ

[2016-08-24 21:19] mishoo commented on #1266
Try passing `screw_ie8: true` to `figure_out_scope`.  The inner `t`-s should definitely have different scope (I think this is enabled by default in latest version, but perhaps you are using an older one).

On the other hand, the `test:` (first `t`) is a label, not a variable, and will never share scopes with variables.  The notion of `scope` is a bit overloaded here — they simply are different thi

[2016-08-24 21:20] kzc commented on #1266
Note: the mangle `sort` option was made a no-op in a recent release due to bugs.

[2016-08-24 21:21] mishoo commented on #1266
@kzc good point too.  We should remove that completely, it was buggy from day one.

[2016-08-24 21:21] kzc commented on #1266
@mishoo There's no code behind the option now.

[2016-08-24 21:40] bvasiles commented on #1266
@mishoo Great! `screw_ie8: true` did it!

@kzc are you suggesting I use `uglifyjs -m' instead of `uglifyjs -m sort`? All I want is local names mangled.

[2016-08-24 21:51] kzc commented on #1266
`-m` is sufficient.

I recommend you use the latest release (uglify-js@2.7.3 at time of writing this). Many bugs have been fixed.

[2016-08-24 21:55] kzc commented on #1266
As @mishoo mentioned, `screw_ie8` is the default with the latest 2.7.x releases.

[2016-08-24 21:57] #1266 closed

[2016-08-24 22:04] alexturpin opened #1267 "Empty source maps when using fromString"
Hey folks,

I'm trying to get meaningful source maps through the programmatic API and it's not going great. Here's my simple test case in Node:

[code]

My real world example doesn't have files which is why I'm passing it an object of file names / contents as outlined in the docs. I then have a simple HTML page with a script pointing to `out.js`.

When I open the page in Chrome and go look at the

[2016-08-24 22:25] bvasiles commented on #1266
Thanks both!

[2016-08-24 22:28] kzc commented on #1267
I'm not a user of source maps, but this source map test case may prove useful to you:

https://github.com/mishoo/UglifyJS2/blob/master/test/mocha/minify-file-map.js

[2016-08-25 14:50] alexturpin commented on #1267
Thanks for the link! Seems as if `sourceMapIncludeSources` was what I was missing. Cheers!

[2016-08-25 14:50] #1267 closed

[2016-08-25 20:01] adambuczynski commented on #179
I experienced a similar problem due to mistakenly having the following in an AngularJS project:

[code]

Which should have simply been:

[code]

Hope this helps someone with a similar issue.

[2016-08-25 20:21] kzc commented on #179
This Safari mangling issue was fixed recently. Upgrade to latest `uglify-js`. (2.7.3 at time of this post).

[2016-08-26 00:57] wearelogik opened #1269 "Parse JavaScript .findIndex() gives JS_Parse_Error"
Hello,

Trying to minify my JS files then the following line is kicking in JS_Parse_Error and won't let me save / continue. Any idea on how to solve this?

[code]

It's not a fan of the `x =>` and won't let it pass :(

[2016-08-26 01:34] kzc commented on #1269
The default uglify-js installation only supports ES5 javascript. It does not support ES6 features.

You have a couple of choices:

1. Transpile ES6 to ES5 with `babel` and then use uglify-js on the result.

or 2. Try the experimental "harmony" branch of uglify to minify ES6 as ES6:

https://github.com/mishoo/UglifyJS2/issues/448#issuecomment-225222336

[2016-08-26 08:47] zmaks100 commented on #1071
Wonder whether there is more information about release date. Can't wait!

[2016-08-26 15:35] kzc commented on #1071
Harmony is getting to be fairly feature complete thanks to the work of @fabiosantoscode and @avdg. But I think scoping issues in harmony for `let` and `const` will take a while to shake out. And many of the ES5 compress algorithms in the master branch of uglify still need to be adapted for ES6. Example: https://github.com/mishoo/UglifyJS2/issues/448#issuecomment-239948344. The harmony project coul

[2016-08-26 17:45] avdg commented on #448
Updated https://github.com/mishoo/UglifyJS2/issues/448#issuecomment-233198012

[2016-08-26 22:18] avdg commented on #448
I'll have to fix my reporter tool. Those who watched the results know that the list of errors is quite big.

But with #1268 I'm hoping to cut a big chunk of these errors which largely involves generated tests simply doing combinations with each other. These tests are like 2 dices as base case, and every test is just the combination from these 2 dices.

[2016-08-29 14:02] rogervila opened #1271 "VueJS Support"
Hello,

I can minify VueJS code with `mangle: false`, but it would be nice to add support for VueJS.

The idea is to mantain intact the VueJS object properties (linke computed, data, methods, ready, filters, etc) while mangling the rest of the code.

If the uglify community agrees I can make a Pull Request.

Thank you.

[2016-08-29 14:59] avdg commented on #1271
Do you have examples where uglifyJS might not result in a desired output. We probably won't support features specific to every type of application though. But we can look on how to improve compatibility in sort of useful ways.

[2016-08-29 17:43] corradolab opened #1272 "Unexpected token operator «>=», expected arrow «=>»"
Uglify fails with the above error while processing the following code from [Angular2](https://github.com/angular/angular/blob/7c07bfff97f58bbcd070c19bd1486858c7fd3136/modules/%40angular/compiler/src/metadata_resolver.ts)

[code]

uglify-js-harmony 2.6.2

[2016-08-29 18:12] kzc commented on #1272
Example above works with the latest version of the harmony branch (2.7.3):
[code]
`uglify-js-harmony` is a third party module not affiliated with UglifyJS2 harmony.

[2016-08-30 00:08] emmanuelal opened #1273 "I has anyone ever came across this issue with ExecJS throw an run time error and running RAILS_ENV=production bin/rake assets:precompile command"
This is the stack trace
Running via Spring preloader in process 13590
*\* Invoke assets:precompile (first_time)
*\* Invoke assets:environment (first_time)
*\* Execute assets:environment
*\* Invoke environment (first_time)
*\* Execute environment
*\* Execute assets:precompile
rake aborted!
ExecJS::RuntimeError: SyntaxError: Unexpected character '‚' (line: 12550, col: 51, pos: 612842)

Error
    at

[2016-08-30 00:27] avdg commented on #1273
Probably not easy, but do you think you have a way to reduce the problem to the piece that actually made uglify fail (which is line 12550 in very likely a generated file)?

[2016-08-30 04:00] emmanuelal commented on #1273
I was able to get pass the problem by removing two(2) Javascript files from application.js thus enabling me to precompile  all assets files after getting rid of some bad CSS as well voila that was the problem.
![screenshot from 2016-08-29 23-53-11](https://cloud.githubusercontent.com/assets/6055791/18075650/aaabf3c0-6e44-11e6-9375-59a2ac22a9eb.png)

[2016-08-30 07:20] sokra commented on #1261
I read this as you won't fix it. At least not short-term.

[2016-08-30 07:32] rvanvelzen commented on #1261
@sokra The changes involved are not trivial to implement, and it's a voluntary effort.

[2016-08-30 07:33] rvanvelzen commented on #1273
Does the issue persist when you compile the 2 excluded files on their own?

[2016-08-30 07:34] #1272 closed

[2016-08-30 07:34] rvanvelzen commented on #1269
This is supported using the harmony branch.

[2016-08-30 07:34] #1269 closed

[2016-08-30 07:35] rvanvelzen commented on #1271
Without actually telling us what the issue is, we can't help you.

[2016-08-30 07:36] #1262 closed

[2016-08-30 07:37] rvanvelzen commented on #1260
This was resolved via #1258

[2016-08-30 07:37] #1260 closed

[2016-08-30 07:38] sokra commented on #1261
Sure, I just wanted to confirm that you are not working on it, before starting on another solution to the problem.

[2016-08-30 13:07] kzc commented on #1261
The other options mentioned in this thread are straight forward:

Drop unused class at ES6 level: https://github.com/mishoo/UglifyJS2/issues/1261#issuecomment-241306353

Pure function annotation: https://github.com/mishoo/UglifyJS2/issues/1261#issuecomment-241602369

[2016-08-30 19:05] rogervila commented on #1271
Hello @rvanvelzen & @avdg.
I can't share the code where it happens, but I'm making a codepen with the example.
It looks that it only happens when the VueJS code has other JS code on the same file.
As soon as I finish the mockup I will share it with you

[2016-08-31 17:18] SynCap commented on #448
Arrow functions as parameter to another function is not recognized
[code]

[2016-08-31 17:26] rvanvelzen commented on #448
On HEAD of harmony that code compresses. It *does* add unnecessary parens around the arrow function though.

[2016-08-31 18:09] bajacondor commented on #1199
Did you get anywhere on this?  I'm seeing the same thing.  Is there a way to exclude a file from uglify?

[2016-08-31 18:54] avdg commented on #1199
unnamed function and not assigned. Fixing either one should fix it.

[2016-08-31 18:56] avdg commented on #1199
Also, drop the code in the console in a browser, I don't think your example was valid anyway.

[2016-08-31 18:58] avdg commented on #1199
https://avdg.github.io/uglify.html?#ref_harmony-editor_var_s0foo_s0_x3d_s0function_x2a_x28_x29_s0_x7b_s2_r_n_s3yield_s0_x5b_x5d_x3b_r_n_x7d_r_n_r_n_x2f_x2f_s0function_x2a_x28_x29_s0_x7b_s2_r_n_x2f_x2f_s4yield_s0_x5b_x5d_x3b_r_n_x2f_x2f_s0_x7d_r_n_r_n_x2f_x2f_s0function_s0foo_x2a_x28_x29_s0_x7b_s2_r_n_x2f_x2f_s4yield_s0_x5b_x5d_x3b_r_n_x2f_x2f_s0_x7d

[2016-08-31 19:22] avdg commented on #1199
Normally all files should be inputted 1 by 1, but linux seems to support expansion before uglify notices it. The solution would be to not make that file list in that pattern (or keep it out of the list if it's not listed by the pattern), but I'm not sure if that will work for you.

[2016-08-31 19:26] SynCap opened #1275 "('xX?vV'.indexOf(x)+1)?'yes':'no' - is always "true"?"
[code]
Do you thik this will be always `yes`? I dare say - NO, but uglifier insists - YES

[2016-08-31 19:41] mishoo commented on #1275
You mean it compresses that to just `"yes"`?  That would be a grave error, but I can't reproduce it.  Perhaps you can share some more detail?

Also, we're rather friendly here. ;-) (until we get pissed off.)

[2016-08-31 20:19] SynCap commented on #1275
yep, when compressed, all construction is replaced to `i="yes"`, but Node, Chrome, FF, etc - all takes original as expected.
Of course, if I know about this, I'll take construction to parens, then uglifier leave it like in source, but to catch this i spend some hours.
In sandbox uglifier said: "expression `+1` will always brings true". Even when `+1` was changed to `>-1`, uglifier was shorten it t

[2016-08-31 21:41] mishoo commented on #1275
Looks like a pretty bad bug indeed. Thanks for the clarification!

[2016-08-31 22:18] SynCap commented on #1275
All for your pleasure :)

...pretty bad bug... sounds like: 'pretty, but bad ... girl ... bug' :)
i'll ask to designers, draw it (or she?) :)

May following  be helpful to find it (she?)
Try this:
[code]
and this
[code]
Differences in 1st segment of expression (before `+`)
1. Variable is present before (in my case it was a parameter of a function)
2. Expression must be in calculetion, and segment

[2016-08-31 22:39] avdg commented on #1275
Addition always has precedence, a string concatenating to any value will always result in a string (to my knowledge).

Empty string will result to false, any other string evaluates to true. Because something is added, the result will be always true in this case. Although, if indexOf returns an empty string, things could be messed around and in js, everything can be messed up. So there is a potenti

[2016-08-31 22:42] avdg commented on #1275
But even if `indexOf` returns an empty string, there is still that `+ 1` behind it.

[2016-08-31 22:43] avdg commented on #1275
evil code example (not sure if this is within the constrains?)

[code]

[2016-09-01 04:54] kzc commented on #1275
The crux of this issue is that
[code]
or
[code]
in a boolean context is always `true` when `"string literal".length > 0`.

`expr` can be anything.

[code]
https://github.com/mishoo/UglifyJS2/blob/0bd8053524760531eb582ef0716fcfe2104c3014/lib/compress.js#L2499-L2506

I believe the optimization is sound, but what uglify neglects to do is check that `expr` has no side effects.

I think this fixes it:

[2016-09-01 05:30] kzc commented on #1275
By the way, the Issue title should actually be:
[code]

[2016-09-01 06:49] mishoo commented on #1275
I took a closer look.  Actually I believe the optimization is correct.  I thought what's weird is that it misses the first part of the string (`'<i class="chkm-'`), but the way parens are put, that's part of the conditional and it's what makes it always true — doesn't matter if indexOf returns -1, or even undefined, it's going to be concatenated to that string yielding a true condition.  So `"yes"

[2016-09-01 06:49] #1275 closed

[2016-09-01 10:50] mkastner commented on #1199
@avdg
I apologize for the late reply. I am currently on the road and not able to check. But I will ASAP.

[2016-09-01 12:06] avdg commented on #1199
No worries

[2016-09-01 12:17] kzc commented on #1275
@mishoo I provided a counter example where the optimization is incorrect as well as a fix to that problem:

https://github.com/mishoo/UglifyJS2/issues/1275#issuecomment-243975807

incorrect before proposed fix:
[code]
correct after fix:
[code]

[2016-09-01 12:38] avdg commented on #1275
I guess not calling the function is considered a side-effect. Which in this case, the optimization was fine, with the exception of the function not being called (which may cause side effect).

[code]

[2016-09-01 12:42] mishoo commented on #1275
@kzc: agree, but that seems to be a different issue from the original report.  Your fix seems about right (didn't test it yet though).

[2016-09-01 12:44] avdg commented on #1275
Actually it still makes sense to remove the conditional expression itself. But this must be done without removing the conditional expression that has found to be evaluated to the same boolean result.

[code]

May be transformed to

[code]

[2016-09-01 12:44] kzc commented on #1275
@mishoo I tested the fix. It works. I'll make a PR.

[2016-09-01 13:28] kzc commented on #1275
Fix: #1277

[2016-09-01 14:34] avdg commented on #1275
Just tested my example now I had the chance, transformation is a bit more trickier since the example threw an error.

[2016-09-01 16:05] kzc commented on #1275
This `+` optimization in a boolean context is pretty obscure/uncommon. #1277 fixes the side effects. I think that's sufficient.

[2016-09-01 16:22] avdg commented on #1275
Well, in these cases the error should literally be (but don't quote me literally to implement this, this is just to be clear) `"+ in boolean context always true but has side effects [{file}:{line},{col}]"`.

Just rewriting the expression in such a way the always true condition gets removed (rewrite without the unexecuted condition) without removing the side effects is a gap for improvement.

But I

[2016-09-01 16:40] kzc commented on #1275
With #1277 the `+` expression with side effects is not optimized so the original message "`WARN: + in boolean context always true`" is now correct.

[2016-09-01 16:43] avdg commented on #1275
yes yes, the fix is fine. It's just that if something has a side-effect, it doesn't mean every optimization is wrong.

Things to keep:

- Condition (because of side effects)
- True condition statement (it is always true anyway)

Things to drop:

- False condition statement (never executed)

[2016-09-01 16:44] avdg commented on #1275
Let me clarify that this is a new optimization.

[2016-09-01 17:04] kzc commented on #1275
@avdg I think we're talking past each other.

I appreciate the transform that you're suggesting with side effects is likely correct but this particular situation so rarely happens in real life code that it's not worth optimizing. The original `+ in a boolean context` optimization was written in 2012 and this is the first reported issue with it.

Truthfully I can't envision a case where I'd want to

[2016-09-01 17:08] avdg commented on #1275
Yeah, I had the feeling that was happening. Anyway, it's not that important but I kept a note on my wiki as potential optimization.

Anyway, yes, we will definitely end up writing unused optimizations or having optimizations we could have done that would result in better performances.

This is actually hard to do without doing some proper statistics like v8 has.

[2016-09-01 20:02] thorn0 commented on #1261
This issue can be split in two:

1. IIFEs can be safely removed if the variables are correctly renamed and the scope isn't top-level. This doesn't seem to involve any sophisticated flow analysis, does it?
2. Even without an IIFE, `foo.prototype.bar = ...` isn't removed because Uglify thinks that the `prototype.bar` setter may have side effects. So a `pure_setters` option needs to be implemented. J

[2016-09-01 22:13] RyanZim commented on #1087
Isn't this fixed by https://github.com/mishoo/UglifyJS2/pull/1242?

[2016-09-01 22:15] kzc commented on #1087
Yep

[2016-09-01 22:16] RyanZim commented on #1087
@backspaces Can you close?

[2016-09-01 22:20] RyanZim opened #1278 "Create output directory"
If I run `uglifyjs src/js/index.js -o dist/js/index.js` and the directory `dist/js/` does not exist, uglifyjs fails with this error:

[code]

I would like if uglifyjs would create the proper output directories if they do not exist.

[2016-09-01 22:21] backspaces commented on #1087
Sure, thanks.

[2016-09-01 22:21] #1087 closed

[2016-09-01 22:43] kzc commented on #1278
UNIX utilities generally do not create directories for files. More often than not it indicates that the wrong directory was specified.
[code]

[2016-09-01 22:45] RyanZim commented on #1278
I know, however, all the other node CLIs I use do. I would be fine with adding this behind a flag.

[2016-09-01 22:57] kzc commented on #1278
https://github.com/substack/node-mkdirp

[2016-09-01 23:00] RyanZim commented on #1278
Precisely what I want! Want a PR? What should the flag be called?

[2016-09-01 23:23] kzc commented on #1278
https://github.com/substack/node-mkdirp/blob/master/readme.markdown#usage

[2016-09-01 23:29] RyanZim commented on #1278
@kzc It seems there is a misunderstanding. I know that mkdirp has a cli, however I would like if uglifyjs would have a flag to use mkdirp's api.

[2016-09-01 23:58] kzc commented on #1278
I'm **-1** on the idea of making directories in uglify for the reasons outlined in https://github.com/mishoo/UglifyJS2/issues/1278#issuecomment-244234803

[2016-09-02 00:40] MeLlamoPablo commented on #448
It's funny to see so many issues referencing this one. Maybe `master`'s `README.md` should be updated with a warning to let people know that it doesn't support ES6, and to tell them to use the `harmony` branch or babel?

[2016-09-02 07:42] rvanvelzen commented on #1278
I agree with @kzc's analysis here - UglifyJS already handles a lot of cases.

[code]

[2016-09-02 07:42] #1278 closed

[2016-09-02 07:50] Kovensky commented on #1261
@thorn0 Babel would actually use `Object.defineProperty`, unless you use loose mode; that'd be even worse for uglify as the value of `foo.prototype` escapes, and it (probably) doesn't know that `Object.defineProperty` is a standard library pure function.

[2016-09-02 07:52] rvanvelzen commented on #1261
`pure_setters` isn't something I'm interested in - by definition assignments are a side effect. Whichever the solution, such an option isn't it.

[2016-09-02 09:57] supermueller opened #1279 "Minifying valid code throws an error"
Minifying the following JavaScript code throws an error:

[code]
When removing the `@` in the comment or the statement `x || {}` from the code, minifying works again.

Error message:
[code]

[2016-09-02 10:05] avdg commented on #1279
Which version are you running?

[2016-09-02 10:07] avdg commented on #1279
I don't see any issues on v2.7.3

[2016-09-02 10:09] supermueller commented on #1279
I am running 2.6.2.

[2016-09-02 10:12] avdg commented on #1279
Yes, I can reproduce that error on v2.6.2, but please upgrade UglifyJS to the newer version.

[2016-09-02 11:10] rvanvelzen commented on #1279
Duplicate of #1041 - this was resolved in 4b4528e, and was in the 2.6.3 release.

[2016-09-02 11:10] #1279 closed

[2016-09-02 12:17] thorn0 commented on #1261
@rvanvelzen Sure, "pure setters" is a stupid name. What I mean is that this option (named somehow else) would make a setter to be considered safe to remove if its only side effect is modifying a (sub)property of a variable that is a candidate for removal.

[2016-09-02 13:56] fabiosantoscode commented on #1166
@kzc the decision to disable global-scope `let` came from the discussion on this pull request:

https://github.com/mishoo/UglifyJS2/pull/1007

Originally I was assuming them to be globals as long as they were on the top-level scope but I was convinced otherwise with tests and changed it to the current behaviour.

For the sake of avoiding complexity, I would agree.

As for the original issue, regar

[2016-09-02 21:07] tresdin commented on #448
I think the current working approach is highly inefficient and it also causes huge pressures on maintainers.

Instead of keeping testing and fixing those ES6 features, you guys maintainers should focus on releasing a version that will properly work on all the non ES6 parts (comments, whitespaces, etc). At the same time, the ES6 ones should be be leaved intact until their parsers are well tested. E

[2016-09-02 21:32] avdg commented on #448
I think that is exactly what we did (although I did a lot of es5 fixes when we started the harmony branch), but es6 really is very big. The es6 grammar is about or at least twice as big. So even if es5 got maintained pretty well, it would still take some time to get es6 implemented.

Take that into account that es5 still has to be maintained with new optimization, bugs, issues and feature requests

[2016-09-02 21:36] avdg commented on #448
I really hope #1268 will be close to being ready in one week. This should improve binding patterns and cut off a significant portion of the test262 reports.

Anyway, I'm not hurried, and I'm willing to delay merge if there are issues. But let's hope it doesn't happen too often ;-)

[2016-09-02 22:09] kzc opened #1280 "bin/uglifyjs should be implemented solely with the minify() API"
There are too many implementation inconsistencies between the CLI and `minify()`. Uglify should [eat its own dog food](https://en.wikipedia.org/wiki/Eating_your_own_dog_food). This will decrease the maintenance burden long term and lead to a better `minify()` API.

See: https://github.com/mishoo/UglifyJS2/pull/1274#issuecomment-244496866

[2016-09-03 02:58] sidjain26 opened #1281 "Arrow functions not supported?"
On the harmony branch.

This fails:

[code]
with:
`SyntaxError: Unexpected token: operator (>)`

[2016-09-03 03:13] kzc commented on #1281
It fails with acorn too. You're missing a paren.

[2016-09-03 03:17] kzc commented on #1281
[code]

[2016-09-03 03:38] #1281 closed

[2016-09-03 08:07] tresdin commented on #448
@avdg I don't think so. I've tried to uglify some ES6 code with this harmony branch and it has simply thrown an error on its own falsy results. That means there is no such thing like partial minification at this time. The ES6 code is still being entirely minified. Why doesn't UglifyJS just leave those it can't handle intact? So that the code can still work after being partially minified?

[2016-09-03 08:11] avdg commented on #448
Which es6 features are you using?

[2016-09-03 08:34] tresdin commented on #448
@avdg Most of them. Here is my exact list of features that might affect the parsers.

- [for...of](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/for...of)
- [Arrow functions](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions)
- [class](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes)
- [let](https://

[2016-09-03 08:36] finom commented on #448
Hurry up guys, babel-minify is coming.

[2016-09-03 09:02] avdg commented on #448
There are very very minor issues with template strings. But yeah they need to be fixed as well.

Destructuring is being worked on. Including default parameters and spread.

Objects literals received an update recently. Not sure if that has been taken into account.

Probably the worst bug atm is block scoping.

But meh, about other compilers becoming compressors. That also will take some time to im

[2016-09-03 09:40] tresdin commented on #448
@avdg My whole point is that you and other maintainers right now shouldn't focus on fixing those ES6 bugs. IMHO, the most important thing at this time is to make partial minification possible.

[2016-09-03 09:45] avdg commented on #448
Uh I don't want to fix the compiler afterwards with the realisation that the project was build on quicksand.

Fixing a fundamental bug late in the game is very costly as this might result in losses of already written code.

[2016-09-03 09:50] avdg commented on #448
Please also note that despite this, that it doesn't mean there is no compression at all. Exponential expressions and computed properties can already be evaluated.

Also partial compression is better than no compression support at all (leaving those rocket scientists with 1 incompatible feature behind from using the project)

[2016-09-03 10:33] tresdin opened #1282 "Support partial compression"
I personally think it's a good idea to support partial compression. For example, UglifyJS should be able to remove only whitespaces and Javascript comments and keep the rest of the code intact. If this is possible, UglifyJS will absolutely more robust and flexible since it won't be crashed by new ES updates in the future.

[2016-09-03 10:38] tresdin commented on #448
@avdg I think I've got your point. So I've decided to file [a new issue](https://github.com/mishoo/UglifyJS2/issues/1282) on the main project.

Anyway, I think sooner or later, we should have a solution for this problem. Otherwise, UglifyJS will continuously be crashed on every new ES standard release.

[2016-09-03 14:16] kzc commented on #1282
It already does this. Just don't enable compress or mangle.

`uglifyjs foo.js`

[2016-09-03 14:26] avdg commented on #1282
Actually it's recommended to have a test suite to bugs. Especially with the harmony branch still under development. But early testing can reveal some important bugs and reports could let us know what features would be important to implement or finish.

[2016-09-03 14:31] kzc commented on #1282
@avdg I believe there is a misconception here that uglify can simply skip ES code with features it doesn't understand without parsing it, thus making it forward safe. Obviously that's not possible.

[2016-09-03 14:38] avdg commented on #1282
I challenge them if they want it so, but meh, this could also be interpreted as a collection of files and compile just a few of them. Or uglify supporting a partial set of es2015/2016, which is what the harmony branch is doing so right now.

[2016-09-03 15:14] avdg commented on #448
Progress update: I think I'll work on the binding pattern on the arrow functions on the next big pr. I thought about implementing the trailing `,` in call arguments but they aren't available in es2016.

After the arrow functions I will take a look at modules I guess and that should be the end of implementing es2015/es2016 features. Then we'll be moving on to making things more stable, fixing the c

[2016-09-03 15:39] tresdin commented on #1282
I really meant it. If it's really a misconception, could you elaborate your point further? Because I can't really understand the impossiblity of UglifyJS in removing Javascript comments and whitespaces in a piece of ES6 / ES7 code. This sorts of task can even be accomplished with a single regex pattern. And also, if removing just comments and whitespaces can be done in ES5 code, what makes them so

[2016-09-03 15:44] kzc commented on #1282
ECMAScript has a well defined grammar. If something is not part of that grammar it cannot be parsed. If it cannot be parsed it cannot be minified. Simple regexes to remove whitespace doesn't cut it.

[2016-09-03 16:19] avdg commented on #1282
UglifyJS parse the whole code, not a part of the code.

Even trivial things like single line comments are not easily removed by a simple regexp.

Consider this in es6

[code]

[2016-09-03 16:30] mishoo commented on #1282
@avdg you *can* actually handle that with regexps.  Not in one pass, but it is possible, I've done that before.

OTOH, handling code with regexps is not what UglifyJS is about, and this feature will not happen.

[2016-09-03 16:30] #1282 closed

[2016-09-03 16:32] avdg commented on #1282
yeah, I've seen such multi-pass examples too, which are often implemented for highlighting in editors.

[2016-09-03 16:50] kzc commented on #1273
I think this Issue is just an ill-formed javascript input file.

[2016-09-03 16:52] bigopon opened #1283 "[Bug] Uglifyjs mangle 'ownerDocument'"
NVM, wrong observation

[2016-09-03 16:53] #1283 closed

[2016-09-03 19:25] kzc commented on #999
Angular appears to have fixed this problem:

https://github.com/angular/angular/issues/10618#issuecomment-243532360

This issue can be closed.

[2016-09-03 21:55] avdg commented on #1234
Starting work on streamlining both api's: https://github.com/mishoo/UglifyJS2/compare/master...avdg:comment-filter-api

Note that because the cli api still defaults on "default" filter, it won't be possible to completely have both api's completely identical.

I still have to do some documentation checks before I'll send in a pr.

[2016-09-03 22:01] kzc commented on #1234
Will existing CLI flags and minify options still work as they did?

[2016-09-03 22:13] avdg commented on #1234
Yes, I only added the "default" and "all" option to the js api. That would be the only breaking change (though these were unused options).

[2016-09-03 22:31] kzc commented on #1234
Cool. Adding options is not a breaking change.

[2016-09-03 22:33] avdg commented on #1234
Yeah, I added quotes to make it clear. It's still a change though.

[2016-09-04 15:13] avdg commented on #1234
I wonder if stringified regexes should be supported by the js uglifyJS api

[2016-09-04 16:52] avdg commented on #1234
I guess I better rename default to some, it's more fitting

[2016-09-04 22:07] avdg commented on #1234
I'm going add some tests involving the `--comments` option and the `comments` option in the js uglify output api as well.

Comments options todo list:
- [ ] Add documentation
- [ ] Add tests

[2016-09-05 10:24] Daniel-Hug opened #1284 "--output doesn't work?"
I ran this sequence of my commands in my project:

[code]

The last command doesn't visibly do anything (I don't see any folders or files created). However, removing the `-o /tmp/uglifyjs.js` option gives the output in my git bash console.

I'm on Windows 10 64 bit with uglify-js 2.7.3.

[2016-09-05 10:47] rvanvelzen commented on #1284
Is `/tmp/` a writable directory on your system? (E.g. does `echo foo > /tmp/bar` create a file there?)

[2016-09-05 10:47] rvanvelzen commented on #1280
Agreed.

[2016-09-05 19:25] Daniel-Hug commented on #1284
That didn't do anything either. However, if running `echo foo > bar` works.

On Mon, Sep 5, 2016 at 3:47 AM Richard van Velzen <notifications@github.com>
wrote:

--
Jesus answered them, “Truly, truly, I say to you, everyone who practices
sin is a slave to sin. The slave does not remain in the house forever; the
son remains forever. So if the Son sets you free, you will be free indeed.
John 8:34-36

[2016-09-05 19:30] rvanvelzen commented on #1284
That's interesting. No errors either? Does `stat /tmp` produce interesting output?

(Note: I don't have a Windows machine available, so troubleshooting this might be somewhat harder than usual)